<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head(swiper=${false},firebaseUI=${false}, plyr=${false})">
</head>
<body>
<header th:replace="layout/layout :: header"></header>

<div class="container m-t-5rem m-b-6rem">
    <form id="payment-form" method="post" th:action="@{/checkouts}">
        <div class="form-group">
            <label th:text="#{text.payment.price}" for="amount">Price</label>
            <input class="form-control form-control-lg payment-amount" id="amount" th:value="${price}"
                   disabled/>
            <input type="hidden" name="price" th:value="${price}">
        </div>
        <div class="bt-drop-in-wrapper">
            <div id="bt-dropin"></div>
        </div>
        <input type="hidden" id="nonce" name="payment_method_nonce"/>
        <button th:text="#{text.payment.submit}" class="btn btn-warning btn-block mt-2" type="submit">Make the payment</button>
    </form>
</div>

<script th:src="@{https://js.braintreegateway.com/web/dropin/1.11.0/js/dropin.min.js}"></script>
<script th:inline="javascript">
    let form = document.querySelector('#payment-form');
    let client_token = [[${clientToken}]];
    let locale = [[${locale}]];

    braintree.dropin.create({
        authorization: client_token,
        container: '#bt-dropin',
        card: {
            cardholderName: true
        },
        locale: locale,
        paypal: {
            flow: 'vault',
            buttonStyle: {
                color: 'gold',
                shape: 'rect',
                size: 'medium'
            }
        }
    }, function (createErr, instance) {
        form.addEventListener('submit', function (event) {
            event.preventDefault();

            instance.requestPaymentMethod(function (err, payload) {
                if (err) {
                    console.log('Error', err);
                    return;
                }

                // Add the nonce to the form and submit
                document.querySelector('#nonce').value = payload.nonce;
                form.submit();
            });
        });
    });
</script>
<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>