<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head(swiper=${false},firebaseUI=${false}, plyr=${false})">
</head>
<body>
<header th:replace="layout/layout :: header"></header>
<div th:replace="layout/layout :: background"></div>

<div class="container text-justify m-t-5rem m-b-6rem">
    <h2 class="heading-title text-center">Personal data policy</h2>

    <div class="policy-content">
        <p>
            MOVIES-HD is responsible for the treatment of personal data processed within the framework of this Personal
            Data Policy and, as such, must guarantee that the treatment is in accordance with the applicable
            legislation.
        </p>
        <p>
            By registering a user account, the user (<span class="font-weight-bolder">"you"</span> or <span
                class="font-weight-bolder">"User"</span>) recognizes the processing of your personal data by
            MOVIES-HD in accordance with the following provisions.
        </p>
        <p>
            Taking into account that this personal data policy (<span
                class="font-weight-bolder">"Personal data policy"</span>)
            constitutes an inseparable part of the Terms and Conditions of use and that the definitions established in
            those governing the interpretation of the Personal Data Policy, please read the Terms and Conditions of use
            before reading the Personal Data Policy. <a th:href="@{/info/terms}" target="_blank">Click here to access
            the Terms of Use.</a>
        </p>
    </div>
    <div class="policy-content">
        <h5>Summary</h5>
        <p class="content-item">
            Next, the treatment that your personal data receive is summarized. You will find more detailed information
            after this summary.
        </p>
        <p class="content-item">
            <span class="font-weight-bolder">We need to use personal information to provide the Service</span>. This
            means that you can not object to us treating all of your personal data and continuing to require us to
            provide the Service. However, you have the right to object to certain uses of your personal data, for
            example, if the use in question is not essential for us to provide our service, but is only necessary, for
            example, to send advertising by email.
        </p>
        <p class="content-item">
            <span class="font-weight-bolder">As an interested party, you also have a series of rights</span> that
            will allow you to better understand and influence the processing of your personal data by MOVIES-HD. These
            rights include a right to access the personal data that MOVIES-HD keeps about you, to request that we
            correct incorrect data, to request that we suppress personal data and the right to file a claim with the
            control authorities if you have any problem with the use of your personal data by MOVIES-HD.
        </p>
        <p class="content-item">
            The personal data we deal with corresponds to the information you have provided us when registering an
            account in MOVIES-HD. We also treat personal information that you may have provided otherwise by contacting
            MOVIES-HD (for example, during a telephone call to customer service), as well as information that you may
            have provided to us when participating in a survey.
        </p>
        <p class="content-item">
            One of the purposes of the processing of personal data is the possibility of providing the Service through
            our Website and the fulfillment of our legal obligations. For example:
        </p>
        <ol type="1">
            <li>
                We use your email and passwordso you can log in to your account and use the streaming service offered by
                MOVIES-HD.
            </li>
            <li>
                we use the data of your reproductions, for example, to store a statistic of the most viewed movies.
            </li>
        </ol>
        <p class="content-item">
            <span class="font-weight-bolder">If you have any questions</span> about how MOVIES-HD uses and protects
            your personal data, do not hesitate to contact the data protection delegate of MOVIES-HD.
        </p>
    </div>

    <div class="policy-content">
        <p>Below you will find a more detailed description of how we use personal information.</p>
        <h5>1. Which entity is responsible for the processing of your personal data?</h5>
        <p class="content-item">
            MOVIES-HD is responsible for the treatment of personal data processed within the framework of this Personal
            Data Policy. You can find our contact information by pressing <a th:href="@{/info/contact}"
                                                                             target="_ blank">here.</a>
        </p>
    </div>
    <div class="policy-content">
        <h5>2. What does «personal data» and «personal data processing» mean?</h5>
        <p class="content-item">
            The term <span class="font-weight-bolder">"personal data"</span> as used in this Personal Data Policy
            refers to any data that, alone or together with other data, can be use to identify a living person, as well
            as any other data that may be considered personal data in accordance with the law applicable to MOVIES-HD,
            including the general data protection legislation (the <span class="font-weight-bolder">«RGPD»</span>).
        </p>
        <p class="content-item">
            This Personal Data Policy covers all personal data that in any way are considered <span
                class="font-weight-bolder">treated</span> under the applicable law in relation to you as a User,
            including the personal data collected, stored, stored, transferred, communicated or otherwise used by
            MOVIES-HD.
        </p>
    </div>
    <div class="policy-content">
        <h5>3. What personal data are being processed and for what purposes?</h5>
        <p class="content-item">
            MOVIES-HD will only collect and process the personal data relating to you as set out in this Personal Data
            Policy and is detailed to a greater extent in the "Description of data processing" of clause 12.
        </p>
    </div>
    <div class="policy-content">
        <h5>4. How are your personal data protected?</h5>
        <p class="content-item">
            MOVIES-HD applies appropriate technical and organizational measures to protect your personal data and
            guarantee that only authorized persons can access them. MOVIES-HD uses technical security systems, such as
            firewalls, encryption technologies, passwords and antivirus programs, to prevent and prevent unauthorized
            use of personal data.
        </p>
    </div>
    <div class="policy-content">
        <h5>5. How long are your personal data kept?</h5>
        <p class="content-item">
            MOVIES-HD will not keep or process your personal data longer than necessary to meet the treatment objectives
            established in this Personal Data Policy or in accordance with any mandatory law, as detailed in the
            «Description of data processing» of clause 12 .
        </p>
    </div>
    <div class="policy-content">
        <h5>6. With whom do we share personal information?</h5>
        <div class="content-item">
            <p>Companies of the MOVIES-HD group</p>
            <p>
                Your personal data can be communicated to other companies of the MOVIES-HD group when the communication
                of these data is necessary to satisfy the interests of MOVIES-HD and the MOVIES-HD group, specifically,
                to manage the business at group level and achieve savings of scale and with other internal
                administrative purposes.
            </p>
            <p>Companies hired by MOVIES-HD</p>
            <p>
                Your personal data will be transferred to and processed by third-party providers that provide services
                for MOVIES-HD, both as data processors and as data controllers, such as PayPal, to enable these
                companies to provide the services requested by MOVIES-HD. These companies may be located inside and
                outside the EU. The services requested will be, among others, the supply of IT infrastructures and
                services, the provision of customer assistance services, the processing of market studies, the
                management of shipments via email, the management of digital marketing, the completion of of statistical
                analysis and profiling, and the treatment of transactions carried out with credit or debit cards and
                other payment information.
            </p>
            <p>
                The companies that we hire will only be provided with the personal data that are necessary to fulfill
                the objectives that are detailed in the "Description of the data processing" of clause 12. All
                third-party providers must, when acting as treatment managers, follow the instructions of MOVIES-HD and
                act in accordance with the written agreements applicable to those responsible for data processing or
                other agreements in force between MOVIES-HD and its third-party providers, and must also apply the
                appropriate technical and organizational measures to protect personal data.
            </p>
        </div>
        <div class="content-item">
            <p>Authorities</p>
            <p>
                It may happen that MOVIES-HD must provide personal data to certain authorities (eg tax or police
                authorities) in accordance with the mandatory law and in order to comply with legal obligations in each
                jurisdiction where MOVIES-HD has Users. In case of violation of data security, it is likely that certain
                personal data should be provided to authorities of Data Protection.
            </p>
        </div>
    </div>
    <div class="policy-content">
        <h5>7. To which countries will your personal data be transferred?</h5>
        <p class="content-item">
            Your personal data will be transferred to companies located in other countries both outside and within the
            EU that we have hired to, among other things, be able to provide you with our Service. Some countries
            outside the EU may not guarantee the same level of protection of personal data as their country. In these
            cases, MOVIES-HD will ensure that the recipient parties in these countries adequately protect personal data.
        </p>
    </div>
    <div class="policy-content">
        <h5>8. What are your rights regarding personal data?</h5>
        <div class="content-item">
            <p>Rights of access and rectification</p>
            <p>
                You have the right to obtain information about what personal data MOVIES-HD is about you, the source of
                the data, for what purposes the data has been used, and the identity of the parties to whom the data has
                been provided.
            </p>
            <p>
                Likewise, you have the right to request, at any time, the correction of inaccurate or incomplete
                personal data.
            </p>
        </div>
        <div class="content-item">
            <p>Right of withdrawal «the right to be forgotten»</p>
            <p>
                You can request in certain circumstances that your personal data be deleted if, for example, you have
                unsubscribed from the Service, the personal data are no longer necessary in relation to the purposes for
                which they were collected or if there is no legal reason that justifies its continued treatment.
            </p>
        </div>
        <div class="content-item">
            <p>Right of opposition</p>
            <p>
                You have the right to object to the personal data that concerns you being the object of a treatment
                based on our legitimate interest related to your particular situation. If you submit an objection, and
                the treatment is based on a legitimate interest, we will stop treating your personal data unless we
                accredit legitimate compelling reasons for the treatment that prevail over your right to privacy.
            </p>
            <p>
                However, remember that even if you object to a certain treatment, MOVIES-HD may retain this treatment if
                it is based on another legal basis, such as the provision of the Service (if you wish to continue
                receiving it) or compliance with legal obligations.
            </p>
        </div>
        <div class="content-item">
            <p>Right to limitation of treatment</p>
            <p>
                You can request the limitation of the processing of your personal data when the personal data may not be
                correct, if you consider that the treatment is illegal, if MOVIES-HD bases its treatment on a legitimate
                interest or if you believe that MOVIES-HD no longer needs the personal data for the purposes set out in
                the "Description of data processing" of clause 12.
            </p>
        </div>
    </div>
    <div class="policy-content">
        <h5>9. How to use your rights?</h5>
        <p class="content-item">
            You can exercise some of your rights, for example, once the session is started, you can rectify some of your
            data.
        </p>
        <p class="content-item">
            You can also contact us by phone or email if you want to exercise your rights.
        </p>
    </div>
    <div class="policy-content">
        <h5>10. What should you do if you want to file a claim?</h5>
        <p class="content-item">
            If you have a complaint regarding how we use your personal data, or if you wish to obtain more information,
            first contact our data protection delegate using the contact details listed above. But you can also file a
            claim regarding how we treat your personal data with the relevant public control authority, specifically
            before the authority of your country of residence, your work or where the alleged infringement occurred.
        </p>
    </div>
    <div class="policy-content">
        <h5>11. Updates</h5>
        <p class="content-item">
            MOVIES-HD can modify this Personal Data Policy at any time. If MOVIES-HD wishes to use personal data in a
            manner different from that stipulated in the Personal Data Policy in force at the time of the data
            collection, it must notify these changes to the interested parties in a visible way (eg publish the
            notification on the MOVIES-HD website or send it by email).
        </p>
    </div>
    <div class="policy-content">
        <h5>12. Description of data processing</h5>
        <p class="content-item">
            The following description of data processing describes the categories of personal data collected and
            processed by MOVIES-HD in relation to its Users, as well as the purposes of the treatment of each category
            of data.
        </p>
        <p class="content-item">
            The following terms are used in the description and may require an explanation:
        </p>
        <p class="content-item">
            - <span class="font-weight-bolder">Legal basis:</span> According to the applicable legislation on data
            protection, only personal data may be processed when there is a legally valid basis to support the
            processing. MOVIES-HD bases its treatment on the following legal bases as stated in the description:
        </p>
        <p class="content-item">
            or <span class="font-weight-bolder">Compliance with an Agreement:</span> requires the processing of
            personal data so that MOVIES-HD can comply with the Agreement entered into with a User, for example, to
            allow the User access your account, use the Service and receive help from MOVIES-HD customer service.
        </p>
        <p class="content-item">
            or <span class="font-weight-bolder">Legitimate interest:</span> the treatment is based on a legitimate
            interest that MOVIES-HD has in the treatment, for example, allowing MOVIES-HD to send newsletters to the
            Users One of the requirements is that this legitimate interest must prevail over the interests or the
            fundamental rights and freedoms of the Users, and the Users have the right to object.
        </p>
        <p class="content-item">
            o <span class="font-weight-bolder">Legal Obligation:</span> the processing is necessary for MOVIES-HD to
            comply with legal obligations applicable to MOVIES-HD, for example, financial data that must be kept for
            countable.
        </p>
        <p class="content-item">
            - <span class="font-weight-bolder">Criteria or retention time:</span> MOVIES-HD specifies how long the
            User's data will be used for different purposes. When there is no legal purpose, all personal data will be
            anonymized to prevent the identification of Users.
        </p>
        <div class="content-item">
            <h5 class="font-weight-bolder">Categories of personal data</h5>
            <p>MOVIES-HD deals with the following categories of personal data:</p>
            <p>
                <span class="font-weight-bolder">C1 Identification data</span> - that is, name, surnames, provider
                account identifiers, promotional codes, password Source: directly from the User when registering or
                through MOVIES-HD partners.
            </p>
            <p>
                <span class="font-weight-bolder">C2 Contact data</span> - that is, email address. Source: directly
                from the User when registering or contacting the MOVIES-HD customer service.
            </p>
            <p>
                <span class="font-weight-bolder">C3 Payment data</span> - that is, credit or debit card information
                and payment history and provider account identifier. Source: directly from the User when registering or
                from the payment service providers and, regarding the payment history and provider account identifiers,
                continuously as payments are made.
            </p>
            <p>
                <span class="font-weight-bolder">C4 Usage information</span> - this is history of reproductions,
                selection of titles, search terms (only hosted locally on the User). Source: data collected based on the
                use of the Service by the User.
            </p>
            <p>
                <span class="font-weight-bolder">C5 Correspondence records with customer service</span> - that is,
                recordings of calls made to customer service, transcripts of emails. Source: correspondence with the
                customer service.
            </p>
            <p>
                <span class="font-weight-bolder">C6 Survey responses</span> - that is, the responses of Users to
                surveys that we pass to Users, whose responses may include personal information Source: directly from
                Users who They decide to participate in surveys.
            </p>
        </div>
        <div class="content-item">
            <h5 class="font-weight-bolder">Purpose of the treatment</h5>
            <p>MOVIES-HD deals with the above Personal Data categories for the following purposes:</p>
            <div>
                <h6 class="font-weight-bolder">P1 Service Provision</h6>
                <p>
                    <span style="text-decoration: underline">Description</span>
                    - Allow MOVIES-HD to manage the User's account and provide the subscription service to its Users,
                    including compliance with the applicable terms and conditions.
                </p>
                <p>
                    <span style="text-decoration: underline">Legal basis</span>
                    - Compliance with an Agreement.
                </p>
                <p>
                    <span style="text-decoration: underline">Categories treated</span>
                    - C1, C2, C4.
                </p>
            </div>
            <div>
                <h6 class="font-weight-bolder">P2 Billing</h6>
                <p>
                    <span style="text-decoration: underline">Description</span>
                    - To be able to charge the User for the purchase of films.
                </p>
                <p>
                    <span style="text-decoration: underline">Legal basis</span>
                    - Compliance with an Agreement.
                </p>
                <p>
                    <span style="text-decoration: underline">Categories treated</span>
                    - C3.
                </p>
            </div>
            <div>
                <h6 class="font-weight-bolder">P3 Customer service</h6>
                <p>
                    <span style="text-decoration: underline">Description</span>
                    - Allow MOVIES-HD, and its suppliers when appropriate, to provide a customer service to its Users
                    upon request (eg if a User contacts MOVIES-HD), including troubleshooting.
                </p>
                <p>
                    <span style="text-decoration: underline">Legal basis</span>
                    - Compliance with an Agreement.
                </p>
                <p>
                    <span style="text-decoration: underline">Categories treated</span>
                    - C1, C2, C3, C4.
                </p>
            </div>
            <div>
                <h6 class="font-weight-bolder">P4 Communication with users</h6>
                <p>
                    <span style="text-decoration: underline">Description</span>
                    - Be able to send the User relevant information related to the account, p. ex. welcome email,
                    service updates and the like.
                </p>
                <p>
                    <span style="text-decoration: underline">Legal basis</span>
                    - Compliance with an Agreement.
                </p>
                <p>
                    <span style="text-decoration: underline">Categories treated</span>
                    - C2, C3.
                </p>
            </div>
            <div>
                <h6 class="font-weight-bolder">P5 Compliance with legal obligations</h6>
                <p>
                    <span style="text-decoration: underline">Description</span>
                    - Allow MOVIES-HD to comply with legal obligations applicable to MOVIES-HD, including the legal
                    requirements in accounting matters and the response to requests from authorities.
                </p>
                <p>
                    <span style="text-decoration: underline">Legal basis</span>
                    - Legal obligation.
                </p>
                <p>
                    <span style="text-decoration: underline">Categories treated</span>
                    - C1, C2, C3.
                </p>
            </div>
            <div>
                <h6 class="font-weight-bolder">P6 Surveys</h6>
                <p>
                    <span style="text-decoration: underline">Description</span>
                    - To be able to send surveys to Users, who may decide to participate voluntarily. The answers to the
                    find are used to improve the Service.
                </p>
                <p>
                    <span style="text-decoration: underline">Legal basis</span>
                    - Legitimate interest.
                </p>
                <p>
                    <span style="text-decoration: underline">Categories treated</span>
                    - C2, C6.
                </p>
            </div>
            <div>
                <h6 class="font-weight-bolder">P7 Prevention of fraud</h6>
                <p>
                    <span style="text-decoration: underline">Description</span>
                    - Allow MOVIES-HD to avoid fraudulent claims filed by Users in connection with payments, and be able
                    to defend MOVIES-HD from these claims.
                </p>
                <p>
                    <span style="text-decoration: underline">Legal basis</span>
                    - Legitimate interest.
                </p>
                <p>
                    <span style="text-decoration: underline">Categories treated</span>
                    - C3.
                </p>
            </div>
        </div>
    </div>
</div>

<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>