<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head(swiper=${false},firebaseUI=${false}, plyr=${false})">
</head>
<body>
<header th:replace="layout/layout :: header"></header>
<div th:replace="layout/layout :: background"></div>

<div class="container text-justify m-t-5rem m-b-6rem">
    <h2 class="heading-title text-center">Terms and Conditions</h2>

    <div class="terms-content">
        <h5>1 Generalities</h5>
        <p>
            1.1 MOVIES-HD offers an online service based on the sales of films in digital format through
            <a th:href="@{/}" target="_blank">www.movies-hd.cf</a>
        </p>
        <p>
            1.2 These terms and conditions of use (hereinafter, the <span class="font-weight-bolder"> "Terms and conditions
            of use"</span>) are applicable to the relationship between MOVIES-HD and a natural person (hereinafter, the
            <span class="font-weight-bolder"> "User" </span>) that is either registered only to obtain an account of
            MOVIES-HD or that you register to obtain a MOVIES-HD account and also buy the movies and get access to the
            content continuously.
        </p>
        <p>
            1.3 These Terms and Conditions of Use and the <a th:href="@{/info/policy}" target="_blank">Personal Data
            Policy</a> of MOVIES-HD (hereinafter referred to collectively as <span class="font-weight-bolder"> "General Terms and Conditions
            of Use" </span>) are binding for MOVIES-HD and the User. The particular terms and conditions (including
            special offers) relating to prices, conditions and methods of payment, etc ... that MOVIES-HD can offer at
            any time (the <span class="font-weight-bolder"> "Particular Terms and Conditions" </span>) will also apply
            jointly as perfected by of the User an agreement with MOVIES-HD.
        </p>
    </div>
    <div class="terms-content">
        <h5>2 Scope of Service</h5>
        <div>
            <h5>Territory</h5>
            <p>
                2.1 All users from anywhere in the world can use this service.
            </p>
        </div>
        <div>
            <h5>Content</h5>
            <p>
                2.2 The User has access to the content provided in the Platforms at any time once the purchase of the
                same has been acquired, and after the acceptance of the Agreement.
            </p>
        </div>
    </div>
    <div class="terms-content">
        <h5>3 Use of the Service</h5>
        <p>
            In order to use the Service, the User must: (a) create a user account on the Website, as provided in
            clause 4, (b) have access to certain equipment, systems and connections in accordance with the Agreement and
            as The provisions of clause 5. In addition, certain technical security measures have been implemented to
            prevent the unauthorized use of the Service, such as the copy, and the distribution of the content provided
            in the Service.
        </p>
    </div>
    <div class="terms-content">
        <h5>4 Registration, username and password</h5>
        <p>
            4.1 The registration of a user account can take place on the Website or through other services and social
            networks that MOVIES-HD deems appropriate at any time. Along with the registration through other services
            and social media, information could be obtained from the User from said services or social networks to
            create the User's account in MOVIES-HD.
        </p>
        <p>
            4.2 The User will be responsible for ensuring that the information provided at the time of registration is
            correct, including information obtained from other services and social networks and, if necessary, the User
            will update their user account with correct information.
        </p>
        <p>
            4.3 When registering, the User must provide a username and password (hereinafter the <span
                class="font-weight-bolder">"Access data"</span>). The User's Access Data is for personal use and can
            not be used by third parties. The User will keep the Access Data protected against unauthorized access. The
            User is responsible for all use of the Service that takes place through his account.
        </p>
        <p>
            4.4 If the User suspects that there has been an unauthorized use of their Access Data, they must immediately
            change their password. In the event that MOVIES-HD has reason to believe that the Access Data has been
            revealed or is being misused in any other way by any unauthorized person, MOVIES-HD will have the right to
            immediately suspend access to the Service.
        </p>
        <P>
            4.5 MOVIES-HD shall have the right at any time to request that the User change his password and shall have
            the right to suspend access to the Service until the password has been changed. Changes will be made
            promptly.
        </P>
    </div>

    <div class="terms-content">
        <h5>5 Equipment, etc ...</h5>
        <p>
            5.1 In order to use the Service, the User must have the necessary and approved systems, connections and
            equipment.
        </p>
        <p>
            5.2 The requirements of the systems are specified by MOVIES-HD on the Website or by other means. However,
            compliance with the system requirements does not guarantee that the User can use the Service.
        </p>
        <p>
            5.3 The Service requires the User to have access to the Internet connection that is necessary. The User is
            responsible for all expenses associated with such connection, including data traffic expenses, regardless of
            the area of the Territory.
        </p>
        <p>
            5.4 MOVIES-HD is not responsible for the User not using the Service or that access to it is limited due to
            an Internet overload or due to failures or problems related to computers or other devices, networks,
            electronic devices or systems Communication.
        </p>
    </div>

    <div class="terms-content">
        <h5>6 Rates and payment method</h5>
        <p>
            6.1 Payments for the Content will be made in accordance with the information on prices available at any time
            on the Website.
        </p>
        <p>
            6.2 The User may make the payment of the fee through any of the payment methods offered by MOVIES-HD on the
            Website.
        </p>
    </div>

    <div class="terms-content">
        <h5>7 Use of the Service</h5>
        <p>
            The User may only use the Service for his own use and in accordance with this Agreement. The User can
            not do (including encourage, facilitate or have any other party do) what following:
        </p>
        <ol type="a">
            <li>
                use the Service for commercial or public purposes.
            </li>

            <li>
                use the Service for any illegal purpose.
            </li>
            <li>
                copy/reproduce, loan, sell, disseminate, distribute, edit or otherwise transfer the content of the
                Service.
            </li>
            <li>
                circumvent, modify, eliminate, alter or otherwise manipulate any security, encryption or other
                technology or software that is part of the Service.
            </li>
            <li>
                otherwise use the Service in violation of copyright laws or other laws.
            </li>
        </ol>

    </div>

    <div class="terms-content">
        <h5>8 Minors</h5>
        <p>
            8.1 The Service may contain material deemed inappropriate for minors and that may be perceived by others as
            obscene or disruptive.
        </p>
        <p>
            8.2 The Service is not intended to be used by children without the intervention, supervision and consent of
            parents or guardians. Parents or guardians who allow children to use the Service will be solely responsible
            for determining whether the content of the Service is appropriate for that child.
        </p>
    </div>

    <div class="terms-content">
        <h5>9 Social networks</h5>
        <p>
            In the event that the User uses social networks in connection with the Service, the User may not use
            social networks in a way that may be considered offensive, disruptive, harassing, obscene, discriminatory or
            in general inappropriate or illegal.
        </p>
    </div>

    <div class="terms-content">
        <h5>10 Information to customers</h5>
        <p>
            MOVIES-HD can send notifications to the User by email, text message, postal mail, invoice or
            publication on the Website.
        </p>
    </div>

    <div class="terms-content">
        <h5>11 Intellectual Property Rights</h5>
        <p>
            Through this Agreement with MOVIES-HD, MOVIES-HD grants the User an exclusive, non-transferable and
            unlimited license to access the content of the Service. The User may only use the Service and its content in
            accordance with the Agreement.
        </p>
    </div>

    <div class="terms-content">
        <h5>12 Security</h5>
        <p>
            12.1 The User will not act in any way that could cause the Service or the Platforms to stop functioning as a
            result of being overloaded, damaged or deteriorated. In addition, the User may not invade or interfere with
            the service of another User.
        </p>
        <p>
            12.2 The User may not attempt to obtain unauthorized access to networks, computer systems, content or
            information related to the Platforms or the Service.
        </p>
    </div>

    <div class="terms-content">
        <h5>13 Limitation of liability, interruptions and interruptions of the Service</h5>
        <p>
            13.1 Interruptions, interruptions and other failures in the Service must be notified to MOVIES-HD as soon as
            possible so that the User is entitled to any compensation in accordance with clause 13.2.
        </p>
        <p>
            13.2 MOVIES-HD will be responsible only for interruptions, cuts and other faults that are attributable to
            circumstances under the control of MOVIES-HD for which MOVIES-HD is responsible and that are not included in
            clause 13.1.
        </p>
    </div>

    <div class="terms-content">
        <h5>14 Obligation to compensate</h5>
        <p>
            The User agrees to indemnify and hold harmless MOVIES-HD, its affiliates, employees, members of the
            board of directors and licensors for any loss, expense or demand arising as a result of, or in conjunction
            with, the breach of the Agreement by the User. User, the breach by the User of the applicable laws or the
            violation by the User of the rights of third parties.
        </p>
    </div>

    <div class="terms-content">
        <h5>15 Links of the Platforms</h5>
        <p>
            The Platforms may include links to other websites provided by third parties. MOVIES-HD has no control
            over such links or the content of such websites, nor assumes any responsibility for them. The use of such
            websites by the User will be at your own risk.
        </p>
    </div>
</div>

<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>