<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:fragment="head(swiper, firebaseUI, plyr)">
        <meta charset="UTF-8">
        <meta content="width=device-width, initial-scale=1" name="viewport"/>
        <title>TFG Movies-HD</title>
        <meta name="description"
              content="TFG Movies-HD is a Career Project of the Degree in Computer Engineering at the University of Las Palmas de Gran Canaria (ULPGC)">
        <!-- Website Icon -->
        <link rel="shortcut icon" th:href="@{https://d1sjecyzvhtrj9.cloudfront.net/resources/website/favicon.ico}">
        <!-- Bootstrap -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
              integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
              crossorigin="anonymous">
        <!-- Fontawesome Icons -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css"
              integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns"
              crossorigin="anonymous">
        <!-- Swiper -->
        <link th:if="${swiper}" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.4.1/css/swiper.min.css}"
              rel="stylesheet"/>
        <!-- FirebaseUI for Web -->
        <link th:if="${firebaseUI}" type="text/css" rel="stylesheet"
              th:href="@{https://cdn.firebase.com/libs/firebaseui/3.5.2/firebaseui.css}"/>
        <!--plyr Player-->
        <link th:if="${plyr}" rel="stylesheet" th:href="@{https://cdn.plyr.io/3.5.2/plyr.css}">
        <!-- Material-Toast -->
        <link th:if="${firebaseUI}" rel="stylesheet"
              th:href="@{https://cdn.jsdelivr.net/gh/dmuy/Material-Toast/mdtoast.css}">
        <!-- Own styles -->
        <link rel="stylesheet" th:href="@{/css/styles.css}">
        <link rel="stylesheet" th:href="@{/css/b4_sidebar.css}">
        <link rel="stylesheet" th:href="@{/css/movie.css}">
    </head>
    <body>
        <div th:fragment="loader" class="loader">
            <img th:src="@{https://d1sjecyzvhtrj9.cloudfront.net/images/tfg-movieshd-loader.gif}" alt="Loading..."
                 src="">
        </div>
        <div th:fragment="background">
            <img src="" alt="Background image" class="background-image"
                 th:src="@{https://d1sjecyzvhtrj9.cloudfront.net/images/tfg-movieshd-background.jpg}"/>
            <div class="header-overlay"></div>
        </div>
        <header th:fragment="header">
            <div class="search">
                <form th:action="@{/movies/searched/}" id="search-movie-fullscreen" class="movie-search-form"
                      onsubmit="return preventSearchEmptyField('.search-movie-fullscreen');">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <button class="btn btn-warning" type="submit">
                                <i class="fas fa-search"></i>
                            </button>
                        </div>
                        <input aria-label="Search" class="form-control search-movie-fullscreen" name="term"
                               th:placeholder="#{text.header.movie.search}" type="text"
                               style="background-color: rgba(40,44,53,0.5);color: #eee;"/>
                    </div>
                </form>
            </div>
            <div class="fixed-top bg-dark-brown">
                <div class="dropdown"
                     style="float: right;position: relative; padding-top: 14px;padding-right: 10px;">
                    <a class="text-warning" data-toggle="dropdown" href="#" role="button">
                        <img src="" alt="ImageProfile" id="image-profile"
                             th:src="${session.userImage != null} ? ${session.userImage} : 'https://d1sjecyzvhtrj9.cloudfront.net/images/default_profile.png'"/>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right bg-warning">
                        <a sec:authorize="!isAuthenticated()" th:href="@{/login}"
                           class="dropdown-item" role="button">
                            <i class="fas fa-sign-in-alt mr-2"></i>
                            <span th:text="#{text.header.user.login}">Log in</span>
                        </a>
                        <a sec:authorize="isAuthenticated()" th:href="@{/profile}"
                           class="dropdown-item" role="button">
                            <i class="fas fa-user-alt mr-2"></i>
                            <span th:text="#{text.header.user.profile}">My profile</span>
                        </a>
                        <a sec:authorize="isAuthenticated()" th:href="@{/my-movies}"
                           class="dropdown-item" role="button">
                            <i class="fas fa-film mr-2"></i>
                            <span th:text="#{text.header.user.movies}">My movies</span>
                        </a>
                        <a sec:authorize="isAuthenticated()" th:href="@{/my-invoices}"
                           class="dropdown-item" role="button">
                            <i class="fas fa-file-pdf" style="margin-right: 0.8rem"></i>
                            <span th:text="#{text.header.user.invoices}">My invoices</span>
                        </a>
                        <div sec:authorize="isAuthenticated()" class="dropdown-divider">
                        </div>
                        <form sec:authorize="isAuthenticated()" th:action="@{/logout}" method="post" id="firebase-form">
                            <button type="submit" class="dropdown-item btn btn-link" role="link">
                                <i class="fas fa-sign-out-alt mr-2"></i>
                                <span th:text="#{text.header.user.logout}">Log out</span>
                            </button>
                        </form>
                    </div>
                </div>
                <a id="search-movie" class="text-warning d-lg-none" href="javascript:void(0)" role="button"
                   style="float: right;position: relative; padding-top: 16px;padding-right: 12px;">
                    <i class="fas fa-search fa-lg"></i>
                </a>

                <nav class="navbar navbar-expand-md bg-indigo sidebarNavigation" data-sidebarclass="bg-dark-brown">
                    <a class="navbar-brand text-warning" th:href="@{/}">MOVIES-HD</a>
                    <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
                            class="navbar-toggler text-warning leftNavbarToggler" data-target="#navbarSupportedContent"
                            type="button">
                        <i class="fas fa-bars"></i>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item dropdown">
                                <a th:text="#{text.header.movie.categories}" aria-expanded="false" aria-haspopup="true"
                                   class="nav-link dropdown-toggle text-warning"
                                   data-boundary="viewport" data-toggle="dropdown" href="#" id="CategoryDropdown"
                                   role="button">
                                    Categorías
                                </a>
                                <div aria-labelledby="CategoryDropdown" class="dropdown-menu bg-warning">
                                    <a th:text="#{text.header.movie.categories.action}" class="dropdown-item"
                                       th:href="@{/movies/genre/action}">
                                        Acción
                                    </a>
                                    <a th:text="#{text.header.movie.categories.animation}" class="dropdown-item"
                                       th:href="@{/movies/genre/animation}">
                                        Animación
                                    </a>
                                    <a th:text="#{text.header.movie.categories.comedy}" class="dropdown-item"
                                       th:href="@{/movies/genre/comedy}">
                                        Comedia
                                    </a>
                                    <a th:text="#{text.header.movie.categories.drama}" class="dropdown-item"
                                       th:href="@{/movies/genre/drama}">
                                        Drama
                                    </a>
                                    <a th:text="#{text.header.movie.categories.fantasy}" class="dropdown-item"
                                       th:href="@{/movies/genre/fantasy}">
                                        Fantástico
                                    </a>
                                    <a th:text="#{text.header.movie.categories.horror}" class="dropdown-item"
                                       th:href="@{/movies/genre/horror}">
                                        Terror
                                    </a>
                                    <a th:text="#{text.header.movie.categories.thriller}" class="dropdown-item"
                                       th:href="@{/movies/genre/thriller}">
                                        Intriga
                                    </a>
                                    <a th:text="#{text.header.movie.categories.war}" class="dropdown-item"
                                       th:href="@{/movies/genre/war}">
                                        Guerra
                                    </a>
                                    <a th:text="#{text.header.movie.categories.documentary}" class="dropdown-item"
                                       th:href="@{/movies/genre/Documentary}">
                                        Documental
                                    </a>
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a th:text="#{text.header.movie.language}" aria-expanded="false" aria-haspopup="true"
                                   class="nav-link dropdown-toggle text-warning"
                                   data-toggle="dropdown" href="#" id="LanguageDropdown" role="button">
                                    Idioma
                                </a>
                                <div aria-labelledby="LanguageDropdown" class="dropdown-menu bg-warning">
                                    <a th:text="#{text.header.movie.language.spanish}" class="dropdown-item"
                                       th:href="@{/movies/language/spanish}">
                                        Español
                                    </a>
                                    <a th:text="#{text.header.movie.language.english}" class="dropdown-item"
                                       th:href="@{/movies/language/english}">
                                        Inglés
                                    </a>
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a aria-expanded="false" aria-haspopup="true"
                                   class="nav-link dropdown-toggle text-warning"
                                   data-toggle="dropdown" href="#" id="navbarDropdown" role="button">
                                    <i class="fas fa-globe"></i>
                                </a>
                                <div aria-labelledby="navbarDropdown" class="dropdown-menu bg-warning">
                                    <a class="dropdown-item" th:href="@{/locale(lang=es_ES)}">
                                        <img src="" alt="Español" class="languages mr-2"
                                             th:src="@{/images/flags/es.png}"/>
                                        Español
                                    </a>
                                    <a class="dropdown-item" th:href="@{/locale(lang=en_US)}">
                                        <img src="" alt="English" class="languages mr-2"
                                             th:src="@{/images/flags/us.png}"/>
                                        English
                                    </a>
                                    <a class="dropdown-item" th:href="@{/locale(lang=de_DK)}">
                                        <img src="" alt="Deutsch" class="languages mr-2"
                                             th:src="@{/images/flags/de.png}"/>
                                        Deutsch
                                    </a>
                                    <a class="dropdown-item" th:href="@{/locale(lang=fr_FR)}">
                                        <img src="" alt="Français" class="languages mr-2"
                                             th:src="@{/images/flags/fr.png}"/>
                                        Français
                                    </a>
                                </div>
                            </li>
                        </ul>
                        <form th:action="@{/movies/searched/}" id="search-movie-header"
                              class="form-inline d-none d-lg-block"
                              onsubmit="return preventSearchEmptyField('.search-movie-header');">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <button class="btn btn-warning" type="submit">
                                        <i class="fas fa-search"></i>
                                    </button>
                                </div>
                                <input aria-label="Search" class="form-control search-movie-header" name="term"
                                       th:placeholder="#{text.header.movie.search}" type="text"
                                       style="background-color: rgba(40,44,53,0.5);color: #eee;"/>
                            </div>
                        </form>
                        <ul class="navbar-nav">
                            <li class="nav-item" sec:authorize="isAuthenticated()">
                                <a class="nav-link text-warning" th:href="@{/favorite/all}">
                                    <i class="fas fa-heart"></i>
                                    <span class="badge badge-pill badge-danger favorite-icon-amount"
                                          th:text="${session.favoriteMovies != null}? ${session.favoriteMovies.size()} : '0'">
                                        200
                                    </span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a th:href="@{/cart/all}" class="nav-link text-warning">
                                    <i class="fas fa-shopping-cart"></i>
                                    <span class="badge badge-pill badge-danger cart-icon-amount"
                                          th:text="${session.movies != null}? ${session.movies.size()} : '0'"></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>

            <!-- Flash messages -->
            <div class="alert alert-success alert-dismissible fade show flash-messages" th:if="${success != null}"
                 role="alert">
                <span th:text="${success}"></span>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="alert alert-info alert-dismissible fade show flash-messages" th:if="${info != null}"
                 role="alert">
                <span th:text="${info}"></span>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="alert alert-warning alert-dismissible fade show flash-messages" th:if="${warning != null}"
                 role="alert">
                <span th:text="${warning}"></span>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="alert alert-danger alert-dismissible fade show flash-messages" th:if="${error != null}"
                 role="alert">
                <span th:text="${error}"></span>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </header>

        <footer th:fragment="footer" class="footer-basic">
            <ul class="list-inline">
                <li class="list-inline-item">
                    <a th:text="#{text.footer.about}" th:href="@{/info/about}">Sobre nosotros</a>
                </li>
                <li class="list-inline-item">
                    <a th:text="#{text.footer.faqs}" th:href="@{/info/faqs}">Preguntas frecuentes</a>
                </li>
                <li class="list-inline-item">
                    <a th:text="#{text.footer.contact}" th:href="@{/info/contact}">Contacto</a>
                </li>
                <li class="list-inline-item">
                    <a th:text="#{text.footer.terms}" th:href="@{/info/terms}">Términos y condiciones</a>
                </li>
                <li class="list-inline-item">
                    <a th:text="#{text.footer.policy}" th:href="@{/info/policy}">Políticas de datos personales</a>
                </li>
            </ul>
            <p th:utext="#{text.footer.copyright}" class="copyright">&copy; 2018 TFG MOVIES-HD. All rights
                reserved.
            </p>
            <!-- jQuery first, then Popper.js, then Bootstrap JS -->
            <script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js}"></script>
            <script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js}"
                    integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
                    crossorigin="anonymous"></script>
            <script th:src="@{https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js}"
                    integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
                    crossorigin="anonymous"></script>
            <!-- jQuery UI -->
            <script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js}"></script>
            <!-- Firebase App is always required and must be first -->
            <script th:src="@{https://www.gstatic.com/firebasejs/5.5.2/firebase-app.js}"></script>
            <script th:inline="javascript">
                // Initialize Firebase
                let config = {
                    apiKey: "AIzaSyBmoWeM9edQoTB98zIl0ksdVaacSEKX3p8",
                    authDomain: "movieshd-217923.firebaseapp.com",
                    databaseURL: "https://movieshd-217923.firebaseio.com",
                    projectId: "movieshd-217923",
                    storageBucket: "movieshd-217923.appspot.com",
                    messagingSenderId: "900434925313"
                };
                firebase.initializeApp(config);
            </script>
            <!-- Add additional services that you want to use -->
            <script th:src="@{https://www.gstatic.com/firebasejs/5.5.2/firebase-auth.js}"></script>
            <!-- Material-Toast -->
            <script th:src="@{https://cdn.jsdelivr.net/gh/dmuy/Material-Toast/mdtoast.js}"></script>
            <!-- Own js -->
            <script th:src="@{/js/b4_sidebar.js}"></script>
            <script th:src="@{/js/autocomplete-movies-search.js}"></script>
            <script th:src="@{/js/ajax.js}"></script>
            <script th:inline="javascript">
                let firebaseForm = document.getElementById('firebase-form');
                if (firebaseForm != null) {
                    firebaseForm.addEventListener('submit', function (event) {
                        event.preventDefault();
                        event.stopPropagation();
                        firebase.auth().signOut().then(function () {
                            // Sign-out successful.
                            firebaseForm.submit();
                        }).catch(function (error) {
                            // An error happened.
                            console.log('Firebase Log out error: ', error);
                        });
                    });
                }
            </script>
        </footer>
    </body>
</html>