<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head(swiper=${false},firebaseUI=${false}, plyr=${false})"></head>
<body>
<header th:replace="layout/layout :: header"></header>
<div th:replace="layout/layout :: background"></div>

<div class="container m-t-7rem m-b-6rem">
    <div class="card border-warning text-white" style="background: rgba(40, 44, 53, 0.8) !important;">
        <div class="card-header text-warning text-center">
            <span th:text="#{text.invoice.detail.heading}">Invoice Details</span>
            <span th:text="${invoice.id}"></span>
        </div>
        <div class="card-body">
            <h4 class="card-title">
                <a th:text="#{text.invoice.detail.back }" th:href="@{/my-invoices}"
                   class="btn btn-warning btn-sm">Back</a>
                <a th:href="@{'/invoice/' + ${invoice.id}(format=pdf)}" target="_blank"
                   class="btn btn-warning btn-sm float-right">
                    <span th:text="#{text.invoice.detail.download}"></span>
                    <i class="fas fa-file-download"></i>
                </a>
            </h4>
            <div class="table-responsive-sm table-borderless">
                <table class="table table-striped table-hover table-sm">
                    <thead class="text-warning" style="font-size: 14px;">
                    <tr>
                        <th></th>
                        <th th:text="#{text.invoice.movie.name}">Name</th>
                        <th th:text="#{text.invoice.movie.amount}" class="text-right">Amount</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="item : ${invoice.getItems()}">
                        <td class="table-image"><img class="rounded img-fluid shadow-sm image-detail"
                                                     th:src="@{${item.getMovie().posterImageURL}}" src=""></td>
                        <td class="text-left" th:text="${item.getMovie().getTitle()}">Movie title</td>
                        <td th:text="${item.getPriceWithTaxes() + ' €'}" class="text-right">Price
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card-footer table-footer text-warning">
            <span th:text="#{text.invoice.table.amount}">Total</span>
            <span th:text="${invoice.getPriceWithTaxes() + ' €'}">Total Price</span>
        </div>
    </div>
</div>
<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>