<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head(swiper=${false},firebaseUI=${false}, plyr=${false})"></head>
<body>
<header th:replace="layout/layout :: header"></header>
<div th:replace="layout/layout :: background"></div>

<div class="container m-t-7rem m-b-6rem">
    <div class="card border-warning text-white" style="background: rgba(40, 44, 53, 0.8) !important;">
        <div th:text="#{text.invoice.page.heading}" class="card-header text-warning text-center">Invoices</div>
        <div th:if="${invoices == null or invoices.size() == 0}" class="card-body text-center">
            <p th:text="#{text.invoice.page.there.is.no}" class="font-italic">No tienes facturas</p>
        </div>
        <div th:if="${invoices != null and invoices.size() > 0}" class="card-body">
            <div class="table-responsive-sm table-borderless table-striped">
                <table class="table table-sm">
                    <thead class="text-warning" style="font-size: 14px;">
                    <tr>
                        <th>ID</th>
                        <th th:text="#{text.invoice.table.date}">Transaction Date</th>
                        <th th:text="#{text.invoice.table.amount}" class="text-right" style="width: 25%">Amount</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="invoice : ${invoices}" class="clickable-row" th:data-invoice="${invoice.id}">
                        <td th:text="${invoice.id}">ID</td>
                        <td th:text="${#calendars.format(invoice.getCreateAtToCalendar())}">Transaction Date</td>
                        <td th:text="${invoice.getPriceWithTaxes() + ' €'}" class="text-right">Total Price</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<footer th:replace="layout/layout :: footer"></footer>
<script th:inline="javascript">
    $(document).ready(function () {
        $(".clickable-row").click(function () {
            let invoiceId = $(this).data('invoice');
            if (window.location.href.includes('localhost')) {
                window.location = "http://localhost:8080/invoice/" + invoiceId;
            } else {
                window.location = "https://www.movies-hd.cf/invoice/" + invoiceId;
            }
        });
    });
</script>
</body>
</html>