<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head(swiper=${false},firebaseUI=${false}, plyr=${false})">
</head>
<body>
<header th:replace="layout/layout :: header"></header>
<div th:replace="layout/layout :: background"></div>

<div class="container text-justify m-t-5rem m-b-6rem">
    <h2 class="heading-title text-center">Politique de données personnelles</h2>

    <div class="policy-content">
        <p>
            MOVIES-HD est responsable du traitement des données à caractère personnel traitées dans le cadre de la
            présente politique de protection des données à caractère personnel et, à ce titre, doit garantir que le
            traitement est conforme à la législation applicable.
        </p>
        <p>
            En enregistrant un compte d'utilisateur, l'utilisateur (<span class="font-weight-bolder">"vous"</span> ou
            <span class="font-weight-bolder">"utilisateur"</span>) reconnaît le traitement de vos données
            personnelles par MOVIES-HD conformément aux dispositions suivantes.
        </p>
        <p>
            Tenant compte du fait que cette politique de données personnelles
            (<span class="font-weight-bolder">"Politique de données personnelles"</span>)
            constitue une partie inséparable des conditions d'utilisation et des définitions établies dans celles
            régissant l'interprétation de la politique de protection des données personnelles, veuillez lire les
            conditions d'utilisation avant de lire la politique de protection des données personnelles.
            <a th:href="@{/info/terms}" target="_blank">Cliquez ici pour accéder aux conditions d'utilisation.</a>
        </p>
    </div>
    <div class="policy-content">
        <h5>résumé</h5>
        <p class="content-item">
            Ensuite, le traitement que vos données personnelles reçoivent est résumé. Vous trouverez des informations
            plus détaillées après ce résumé.
        </p>
        <p class="content-item">
            <span class="font-weight-bolder">Nous devons utiliser des informations personnelles pour fournir le service</span>.
            Cela signifie que vous ne pouvez pas vous opposer à ce que nous traitions toutes vos données
            personnelles et continuions de nous demander de fournir le service. Cependant, vous avez le droit de vous
            opposer à certaines utilisations de vos données personnelles, par exemple, si l'utilisation en question
            n'est pas essentielle pour que nous fournissions notre service, mais simplement nécessaire, par exemple,
            pour envoyer de la publicité par courrier électronique.
        </p>
        <p class="content-item">
            <span class="font-weight-bolder">En tant que partie intéressée, vous disposez également d’une série de droits</span>
            qui vous permettront de mieux comprendre et d’influencer le traitement de vos données personnelles par
            MOVIES-HD. Ces droits incluent un droit d'accès aux données personnelles que MOVIES-HD conserve sur vous, de
            demander que nous corrigions des données incorrectes, de demander la suppression de vos données personnelles
            et du droit de faire une réclamation auprès des autorités de contrôle en cas de problème avec le utilisation
            de vos données personnelles par MOVIES-HD.
        </p>
        <p class="content-item">
            Les données personnelles que nous traitons correspondent aux informations que vous nous avez fournies lors
            de l’enregistrement d’un compte dans MOVIES-HD. Nous traitons également les informations personnelles que
            vous auriez fournies autrement en contactant MOVIES-HD (par exemple, lors d'un appel téléphonique au service
            clientèle), ainsi que les informations que vous avez pu nous avoir fournies lors de votre participation à
            une enquête.
        </p>
        <p class="content-item">
            L'un des objectifs du traitement des données à caractère personnel est la possibilité de fournir le service
            via notre site Web et le respect de nos obligations légales. Par exemple:
        </p>
        <ol type="1">
            <li>
                Nous utilisons votre email et votre mot de passe pour que vous puissiez vous connecter à votre compte et
                utiliser le service de streaming proposé par MOVIES-HD.
            </li>
            <li>
                nous utilisons les données de vos reproductions, par exemple, pour stocker une statistique des films les
                plus visionnés.
            </li>
        </ol>
        <p class="content-item">
            <span class="font-weight-bolder"> Si vous avez des questions sur</span> la façon dont MOVIES-HD utilise et
            protège vos données personnelles, n'hésitez pas à contacter le délégué à la protection des données de
            MOVIES-HD.
        </p>
    </div>

    <div class="policy-content">
        <p>
            Vous trouverez ci-dessous une description plus détaillée de la manière dont nous utilisons les informations
            personnelles.
        </p>
        <h5>1. Quelle entité est responsable du traitement de vos données personnelles?</h5>
        <p class="content-item">
            MOVIES-HD est responsable du traitement des données à caractère personnel traitées dans le cadre de la
            présente politique de protection des données personnelles. Vous pouvez trouver nos coordonnées en appuyant
            sur <a th:href="@{/info/contact}" target="_ blank">ici.</a>
        </p>
    </div>
    <div class="policy-content">
        <h5>2. Que signifient «données personnelles» et «traitement de données personnelles»?</h5>
        <p class="content-item">
            Le terme <span class="font-weight-bolder">"données personnelles"</span> utilisé dans la présente
            politique de protection des données personnelles fait référence à toutes les données qui, seules ou
            associées à d'autres données, peuvent être: à utiliser pour identifier une personne vivante, ainsi que pour
            toute autre donnée pouvant être considérée comme une donnée personnelle conformément à la loi applicable à
            MOVIES-HD, y compris la législation générale sur la protection des données (la <span
                class="font-weight-bolder">«RGPD»</span>).
        </p>
        <p class="content-item">
            Cette politique de protection des données personnelles couvre toutes les données personnelles qui, de
            quelque manière que ce soit, sont considérées <span class="font-weight-bolder">traitées</span> en vertu
            du droit applicable en rapport avec vous en tant qu'utilisateur, y compris: les données personnelles
            collectées, stockées, stockées, transférées, communiquées ou autrement utilisées par MOVIES-HD.
        </p>
    </div>
    <div class="policy-content">
        <h5>3. Quelles données personnelles sont traitées et à quelles fins?</h5>
        <p class="content-item">
            MOVIES-HD ne collectera et traitera que les données personnelles vous concernant, comme indiqué dans la
            présente politique de protection des données personnelles, et est davantage détaillé dans la "Description du
            traitement de données" de la clause 12.
        </p>
    </div>
    <div class="policy-content">
        <h5>4. Comment vos données personnelles sont-elles protégées?</h5>
        <p class="content-item">
            MOVIES-HD applique les mesures techniques et organisationnelles appropriées pour protéger vos données
            personnelles et garantir que seules les personnes autorisées peuvent y accéder. MOVIES-HD utilise des
            systèmes de sécurité techniques, tels que des pare-feu, des technologies de cryptage, des mots de passe et
            des programmes antivirus, pour empêcher et empêcher l'utilisation non autorisée de données personnelles.
        </p>
    </div>
    <div class="policy-content">
        <h5>5. Combien de temps vos données personnelles sont-elles conservées?</h5>
        <p class="content-item">
            MOVIES-HD ne conservera ni ne traitera vos données personnelles plus longtemps que nécessaire pour atteindre
            les objectifs de traitement définis dans la présente Politique de protection des données personnelles ou
            conformément à toute loi impérative, comme indiqué dans la «Description du traitement des données» de la
            clause 12.
        </p>
    </div>
    <div class="policy-content">
        <h5>6. Avec qui partageons-nous des informations personnelles?</h5>
        <div class="content-item">
            <p>Sociétés du groupe MOVIES-HD</p>
            <p>
                Vos données personnelles peuvent être communiquées à d'autres sociétés du groupe MOVIES-HD lorsque la
                communication de ces données est nécessaire pour satisfaire les intérêts de MOVIES-HD et du groupe
                MOVIES-HD, en particulier pour gérer l'activité au niveau du groupe et réaliser des économies. d’échelle
                et à d’autres fins administratives internes.
            </p>
            <p>Sociétés embauchées par MOVIES-HD</p>
            <p>
                Vos données personnelles seront transférées et traitées par des fournisseurs tiers fournissant des
                services pour MOVIES-HD, à la fois en tant que responsables du traitement de données et en tant que
                contrôleurs de données, tels que PayPal, afin de permettre à ces sociétés de fournir les services
                demandés par MOVIES-HD. Ces sociétés peuvent être situées à l'intérieur et à l'extérieur de l'UE. Les
                services demandés seront notamment la fourniture d'infrastructures et de services informatiques, la
                fourniture de services d'assistance à la clientèle, le traitement d'études de marché, la gestion des
                expéditions par courrier électronique, la gestion du marketing numérique, la réalisation des d’analyse
                statistique et de profilage, ainsi que le traitement des transactions effectuées avec des cartes de
                crédit ou de débit et d’autres informations de paiement.
            </p>
            <p>
                Les sociétés que nous embauchons ne recevront que les données personnelles nécessaires pour atteindre
                les objectifs décrits dans la "Description du traitement des données" de la clause 12. Tout tiers
                fournisseur doit, lorsqu'il agit en tant que responsable du traitement, suivre les instructions de
                MOVIES-HD et agissent conformément aux accords écrits applicables aux responsables du traitement des
                données ou aux autres accords en vigueur entre MOVIES-HD et ses fournisseurs tiers, et doit également
                appliquer les mesures techniques et organisationnelles appropriées pour protéger les données à caractère
                personnel.
            </p>
        </div>
        <div class="content-item">
            <p>Les autorités</p>
            <p>
                Il peut arriver que MOVIES-HD doive fournir des données à caractère personnel à certaines autorités
                (autorités fiscales ou de police, par exemple) conformément au droit en vigueur et aux obligations
                légales dans chaque pays où les utilisateurs de MOVIES-HD ont des utilisateurs. En cas de violation de
                la sécurité des données, il est probable que certaines données à caractère personnel devraient être
                fournies aux autorités de protection des données.
            </p>
        </div>
    </div>
    <div class="policy-content">
        <h5>7. Dans quels pays vos données personnelles seront-elles transférées?</h5>
        <p class="content-item">
            Vos données personnelles seront transférées à des sociétés situées dans d'autres pays, à la fois en dehors
            et dans l'UE, que nous avons embauchées afin, entre autres, de pouvoir vous fournir notre service. Certains
            pays hors de l'UE peuvent ne pas garantir le même niveau de protection des données à caractère personnel que
            leur pays. Dans ces cas, MOVIES-HD veillera à ce que les parties destinataires de ces pays protègent de
            manière adéquate les données personnelles.
        </p>
    </div>
    <div class="policy-content">
        <h5>8. Quels sont vos droits concernant les données personnelles?</h5>
        <div class="content-item">
            <p>Droits d'accès et de rectification</p>
            <p>
                Vous avez le droit d'obtenir des informations sur les données personnelles de MOVIES-HD vous concernant,
                sur la source des données, à quelles fins les données ont été utilisées et sur l'identité des parties à
                qui les données ont été fournies.
            </p>
            <p>
                De même, vous avez le droit de demander, à tout moment, la correction de données personnelles inexactes
                ou incomplètes.
            </p>
        </div>
        <div class="content-item">
            <p>Droit de rétractation «le droit à l'oubli»</p>
            <p>
                Vous pouvez demander dans certaines circonstances la suppression de vos données personnelles si, par
                exemple, vous vous êtes désabonné du Service, si ces données ne sont plus nécessaires au regard des
                finalités pour lesquelles elles ont été collectées, ou en l'absence de raison légale. cela justifie son
                traitement continu.
            </p>
        </div>
        <div class="content-item">
            <p>Droit d'opposition</p>
            <p>
                Vous avez le droit de vous opposer à ce que les données personnelles vous concernant fassent l'objet
                d'un traitement basé sur nos intérêts légitimes liés à votre situation particulière. Si vous soumettez
                une objection et que le traitement repose sur un intérêt légitime, nous cesserons de traiter vos données
                personnelles, à moins que nous ne justifions des raisons impérieuses et légitimes du traitement qui
                prime sur votre droit à la vie privée.
            </p>
            <p>
                Cependant, rappelez-vous que même si vous vous opposez à un traitement particulier, MOVIES-HD peut
                conserver ce traitement s'il repose sur une autre base légale, telle que la fourniture du Service (si
                vous souhaitez continuer à le recevoir) ou le respect des obligations légales.
            </p>
        </div>
        <div class="content-item">
            <p>Droit à la limitation du traitement</p>
            <p>
                Vous pouvez demander la limitation du traitement de vos données personnelles lorsque les données
                personnelles peuvent être incorrectes, si vous considérez que le traitement est illégal, si MOVIES-HD
                fonde son traitement sur un intérêt légitime ou si vous pensez que MOVIES-HD n'en a plus besoin données
                à caractère personnel aux fins énoncées dans la "Description du traitement de données" de l'article 12.
            </p>
        </div>
    </div>
    <div class="policy-content">
        <h5>9. Comment utiliser vos droits?</h5>
        <p class="content-item">
            Vous pouvez exercer certains de vos droits. Par exemple, une fois la session démarrée, vous pouvez rectifier
            certaines de vos données.
        </p>
        <p class="content-item">
            Vous pouvez également nous contacter par téléphone ou par courrier électronique si vous souhaitez exercer
            vos droits.
        </p>
    </div>
    <div class="policy-content">
        <h5>10. Que devriez-vous faire si vous souhaitez déposer une réclamation?</h5>
        <p class="content-item">
            Si vous avez une réclamation à propos de l'utilisation de vos données personnelles ou si vous souhaitez
            obtenir plus d'informations, contactez d'abord notre délégué à la protection des données en utilisant les
            coordonnées indiquées ci-dessus. Mais vous pouvez également adresser une réclamation concernant la manière
            dont nous traitons vos données à caractère personnel auprès de l'autorité de contrôle publique compétente,
            en particulier auprès de l'autorité de votre pays de résidence, de votre travail ou du lieu où l'infraction
            présumée a eu lieu.
        </p>
    </div>
    <div class="policy-content">
        <h5>11. Mises à jour</h5>
        <p class="content-item">
            MOVIES-HD peut modifier cette politique de données personnelles à tout moment. Si MOVIES-HD souhaite
            utiliser des données à caractère personnel d'une manière différente de celle stipulée dans la politique en
            matière de données à caractère personnel en vigueur au moment de la collecte des données, il doit notifier
            ces modifications aux parties intéressées de manière visible (par exemple: publiez la notification sur le
            site Web MOVIES-HD ou envoyez-la par courrier électronique).
        </p>
    </div>
    <div class="policy-content">
        <h5>12. Description du traitement de données</h5>
        <p class="content-item">
            La description suivante du traitement de données décrit les catégories de données à caractère personnel
            collectées et traitées par MOVIES-HD en relation avec ses utilisateurs, ainsi que les objectifs du
            traitement de chaque catégorie de données.
        </p>
        <p class="content-item">
            Les termes suivants sont utilisés dans la description et peuvent nécessiter une explication:
        </p>
        <p class="content-item">
            - <span class="font-weight-bolder">Base juridique</span> Selon la législation applicable en matière de
            protection des données, seules les données à caractère personnel peuvent être traitées s'il existe une base
            légale valide pour soutenir le traitement. MOVIES-HD base son traitement sur les bases juridiques suivantes,
            comme indiqué dans la description:
        </p>
        <p class="content-item">
            ou <span class="font-weight-bolder">Conformité à un accord:</span> nécessite le traitement de données à
            caractère personnel pour que MOVIES-HD puisse se conformer à l'Accord conclu avec un Utilisateur, par
            exemple, afin de permettre à L'utilisateur accède à votre compte, utilise le service et reçoit l'aide du
            service clientèle de MOVIES-HD.
        </p>
        <p class="content-item">
            ou <span class="font-weight-bolder">Intérêt légitime:</span> le traitement est basé sur un intérêt
            légitime de MOVIES-HD dans le traitement, permettant par exemple à MOVIES-HD d'envoyer des bulletins
            d'information au Les utilisateurs L'une des conditions est que cet intérêt légitime prenne le pas sur les
            intérêts ou les libertés et droits fondamentaux des utilisateurs, et les utilisateurs ont le droit de faire
            objection.
        </p>
        <p class="content-item">
            o <span class="font-weight-bolder">Obligation légale:</span> le traitement est nécessaire pour que
            MOVIES-HD respecte les obligations légales applicables à MOVIES-HD, par exemple des données financières
            devant être conservées pendant dénombrable
        </p>
        <p class="content-item">
            - <span class="font-weight-bolder">Critères ou temps de rétention:</span> MOVIES-HD spécifie pendant
            combien de temps les données de l'utilisateur seront utilisées à des fins différentes. En l'absence d'objet
            légal, toutes les données personnelles seront anonymisées pour empêcher l'identification des utilisateurs.
        </p>
        <div class="content-item">
            <h5 class="font-weight-bolder">Catégories de données personnelles</h5>
            <p>MOVIES-HD traite les catégories de données personnelles suivantes:</p>
            <p>
                <span class="font-weight-bolder">C1 Données d'identification</span> - noms, noms de famille,
                identifiants de compte du fournisseur, codes promotionnels, mot de passe Source: directement de
                l'utilisateur lors de l'inscription ou via FILMS-HD partenaires.
            </p>
            <p>
                <span class="font-weight-bolder">C2 Données de contact</span>, c’est-à-dire une adresse e-mail.
                Source: directement auprès de l'utilisateur lors de l'inscription ou de la prise en charge du service
                clientèle MOVIES-HD.
            </p>
            <p>
                <span class="font-weight-bolder">C3 Données de paiement</span> - informations de carte de crédit ou
                de débit, historique des paiements et identifiant du compte du fournisseur. Source: directement auprès
                de l'utilisateur lors de l'inscription ou des fournisseurs de services de paiement et, en ce qui
                concerne l'historique des paiements et les identifiants de compte du fournisseur, en permanence, à
                mesure que les paiements sont effectués.
            </p>
            <p>
                <span class="font-weight-bolder">C4 Informations sur l'utilisation</span> - il s'agit de l'historique
                des reproductions, de la sélection des titres, des termes de recherche (uniquement hébergé localement
                sur l'utilisateur). Source: données collectées en fonction de l'utilisation du service par
                l'utilisateur.
            </p>
            <p>
                <span class="font-weight-bolder">C5 Enregistrements de correspondance avec le service clientèle</span>,
                c’est-à-dire les enregistrements des appels passés au service clientèle, les transcriptions des
                courriels. Source: correspondance avec le service clientèle.
            </p>
            <p>
                <span class="font-weight-bolder">C6 Réponses au sondage</span>: les réponses des utilisateurs aux
                sondages que nous transmettons aux utilisateurs, dont les réponses peuvent inclure des informations
                personnelles. Source: directement des utilisateurs qui ont Ils décident de participer à des sondages.
            </p>
        </div>
        <div class="content-item">
            <h5 class="font-weight-bolder">But du traitement</h5>
            <p>MOVIES-HD traite les catégories de données personnelles susmentionnées aux fins suivantes:</p>
            <div>
                <h6 class="font-weight-bolder">P1 Prestation de services</h6>
                <p>
                    <span style="text-decoration: underline">Description</span>
                    - Permettre à MOVIES-HD de gérer le compte de l'utilisateur et de fournir le service d'abonnement à
                    ses utilisateurs, notamment en se conformant aux conditions applicables.
                </p>
                <p>
                    <span style="text-decoration: underline">Base légale</span>
                    - Conformité à un accord.
                </p>
                <p>
                    <span style="text-decoration: underline">Catégories traitées</span>
                    - C1, C2, C4.
                </p>
            </div>
            <div>
                <h6 class="font-weight-bolder">P2 Facturation</h6>
                <p>
                    <span style="text-decoration: underline">Description</span>
                    - Pour pouvoir facturer l'utilisateur pour l'achat de films.
                </p>
                <p>
                    <span style="text-decoration: underline">Base légale</span>
                    - Conformité à un accord.
                </p>
                <p>
                    <span style="text-decoration: underline">Catégories traitées</span>
                    - C3.
                </p>
            </div>
            <div>
                <h6 class="font-weight-bolder">P3 Service client</h6>
                <p>
                    <span style="text-decoration: underline">Description</span>
                    - Permettre à MOVIES-HD et à ses fournisseurs, le cas échéant, de fournir un service clientèle à ses
                    utilisateurs sur demande (par exemple, si un utilisateur contacte MOVIES-HD), y compris le
                    dépannage.
                </p>
                <p>
                    <span style="text-decoration: underline">Base légale</span>
                    - Conformité à un accord.
                </p>
                <p>
                    <span style="text-decoration: underline">Catégories traitées</span>
                    - C1, C2, C3, C4.
                </p>
            </div>
            <div>
                <h6 class="font-weight-bolder">P4 Communication avec les utilisateurs</h6>
                <p>
                    <span style="text-decoration: underline">Description</span>
                    - Pouvoir envoyer à l'utilisateur des informations pertinentes relatives au compte, p. ex. bienvenue
                    email, mises à jour de service et similaires.
                </p>
                <p>
                    <span style="text-decoration: underline">Base légale</span>
                    - Conformité à un accord.
                </p>
                <p>
                    <span style="text-decoration: underline">Catégories traitées</span>
                    - C2, C3.
                </p>
            </div>
            <div>
                <h6 class="font-weight-bolder">P5 Respect des obligations légales</h6>
                <p>
                    <span style="text-decoration: underline">Description</span>
                    - Permettre à MOVIES-HD de respecter les obligations légales applicables à MOVIES-HD, y compris les
                    exigences légales en matière de comptabilité et la réponse aux demandes des autorités.
                </p>
                <p>
                    <span style="text-decoration: underline">Base légale</span>
                    - Obligation légale
                </p>
                <p>
                    <span style="text-decoration: underline">Catégories traitées</span>
                    - C1, C2, C3.
                </p>
            </div>
            <div>
                <h6 class="font-weight-bolder">P6 Enquêtes</h6>
                <p>
                    <span style="text-decoration: underline">Description</span>
                    - Pour pouvoir envoyer des sondages aux utilisateurs, qui peuvent décider de participer
                    volontairement. Les réponses à la recherche sont utilisées pour améliorer le service.
                </p>
                <p>
                    <span style="text-decoration: underline">Base légale</span>
                    - Intérêt légitime.
                </p>
                <p>
                    <span style="text-decoration: underline">Catégories traitées</span>
                    - C2, C6.
                </p>
            </div>
            <div>
                <h6 class="font-weight-bolder">P7 Prévention de la fraude</h6>
                <p>
                    <span style="text-decoration: underline">Description</span>
                    - Autorisez MOVIES-HD à éviter les réclamations frauduleuses déposées par les utilisateurs dans le
                    cadre de paiements, et soyez en mesure de défendre MOVIES-HD contre ces réclamations.
                </p>
                <p>
                    <span style="text-decoration: underline">Base légale</span>
                    - Intérêt légitime.
                </p>
                <p>
                    <span style="text-decoration: underline">Catégories traitées</span>
                    - C3.
                </p>
            </div>
        </div>
    </div>
</div>

<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>