<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head(swiper=${false},firebaseUI=${false}, plyr=${false})">
</head>
<body>
<header th:replace="layout/layout :: header"></header>
<div th:replace="layout/layout :: background"></div>

<div class="container text-justify m-t-5rem m-b-6rem">
    <h2 class="heading-title text-center">Termes et conditions</h2>

    <div class="terms-content">
        <h5>1 Généralités</h5>
        <p>
            1.1 MOVIES-HD propose un service en ligne basé sur la vente de films en format numérique via
            <a th:href="@{/}" target="_blank">www.movies-hd.cf</a>
        </p>
        <p>
            1.2 Ces conditions d'utilisation (ci-après, les <span
                class="font-weight-bolder"> "Conditions d'utilisation"</span>)
            sont applicables à la relation entre MOVIES-HD et une personne physique (ci-après, le
            <span class="font-weight-bolder"> "utilisateur" </span>) qui est enregistrée uniquement pour obtenir un
            compte MOVIES-HD ou qui s’inscrit pour obtenir un compte MOVIES-HD, acheter les films et accéder au contenu
            en continu.
        </p>
        <p>
            1.3 Les présentes conditions d'utilisation et la <a th:href="@{/info/policy}" target="_blank">Règles
            relatives aux données personnelles</a> de MOVIES-HD (ci-après collectivement désignées par <span
                class="font-weight-bolder"> "Conditions générales d'utilisation" </span>) sont contraignantes pour
            MOVIES-HD et l'utilisateur. Les conditions particulières (y compris les offres spéciales) relatives aux
            prix, conditions et méthodes de paiement, etc. que MOVIES-HD peut offrir à tout moment (la <span
                class="font-weight-bolder"> "Conditions particulières" </span>) s'appliqueront également conjointement
            de l'utilisateur un accord avec MOVIES-HD.
        </p>
    </div>
    <div class="terms-content">
        <h5>2 Portée du service</h5>
        <div>
            <h5>Territoire</h5>
            <p>
                2.1 Tous les utilisateurs du monde entier peuvent utiliser ce service.
            </p>
        </div>
        <div>
            <h5>Contenu</h5>
            <p>
                2.2 L'utilisateur a accès au contenu fourni sur les plates-formes à tout moment une fois que l'achat de
                celui-ci a été acquis et après l'acceptation du contrat.
            </p>
        </div>
    </div>
    <div class="terms-content">
        <h5>3 Utilisation du service</h5>
        <p>
            Pour utiliser le Service, l'Utilisateur doit: (a) créer un compte utilisateur sur le site Web, conformément
            à la clause 4, (b) avoir accès à certains équipements, systèmes et connexions conformément au Contrat et aux
            Les dispositions de la clause 5. De plus, certaines mesures de sécurité techniques ont été mises en place
            pour empêcher l'utilisation non autorisée du service, telles que la copie et la distribution du contenu
            fourni dans le service.
        </p>
    </div>
    <div class="terms-content">
        <h5>4 Inscription, nom d'utilisateur et mot de passe</h5>
        <p>
            4.1 L'enregistrement d'un compte d'utilisateur peut avoir lieu sur le site Web ou par le biais d'autres
            services et réseaux sociaux que MOVIES-HD juge appropriés à tout moment. Parallèlement à l'enregistrement
            via d'autres services et réseaux sociaux, des informations peuvent être obtenues de l'utilisateur à partir
            desdits services ou réseaux sociaux pour créer le compte de l'utilisateur dans MOVIES-HD.
        </p>
        <p>
            4.2 Il incombe à l'utilisateur de s'assurer que les informations fournies au moment de l'enregistrement sont
            correctes, y compris les informations obtenues auprès d'autres services et réseaux sociaux et, si
            nécessaire, l'utilisateur mettra à jour son compte d'utilisateur avec les informations correctes.
        </p>
        <p>
            4.3 Lors de son inscription, l'utilisateur doit fournir un nom d'utilisateur et un mot de passe (ci-après
            <span class="font-weight-bolder">"Données d'accès"</span>). Les données d'accès de l'utilisateur sont
            destinées à un usage personnel et ne peuvent pas être utilisées par des tiers. L'utilisateur gardera les
            données d'accès protégées contre les accès non autorisés. L'utilisateur est responsable de toute utilisation
            du service par son compte.
        </p>
        <p>
            4.4 Si l'utilisateur soupçonne une utilisation non autorisée de ses données d'accès, il doit immédiatement
            changer son mot de passe. Dans le cas où MOVIES-HD a des raisons de croire que les données d'accès ont été
            révélées ou sont utilisées de manière abusive par une personne non autorisée, MOVIES-HD aura le droit de
            suspendre immédiatement l'accès au service.
        </p>
        <P>
            4.5 MOVIES-HD a le droit à tout moment de demander à l'utilisateur de changer son mot de passe et a le droit
            de suspendre l'accès au service jusqu'à ce que le mot de passe ait été changé. Les modifications seront
            apportées rapidement.
        </P>
    </div>

    <div class="terms-content">
        <h5>5 Equipement, etc ...</h5>
        <p>
            5.1 Pour utiliser le service, l'utilisateur doit disposer des systèmes, des connexions et des équipements
            nécessaires et approuvés.
        </p>
        <p>
            5.2 Les exigences des systèmes sont spécifiées par MOVIES-HD sur le site Web ou par un autre moyen.
            Cependant, la conformité avec la configuration système requise ne garantit pas que l'utilisateur peut
            utiliser le service.
        </p>
        <p>
            5.3 Le service nécessite que l'utilisateur ait accès à la connexion Internet nécessaire. L'utilisateur est
            responsable de toutes les dépenses associées à une telle connexion, y compris les dépenses liées au trafic
            de données, quelle que soit la zone du territoire.
        </p>
        <p>
            5.4 MOVIES-HD n'est pas responsable si l'Utilisateur n'utilise pas le Service ou si son accès est limité en
            raison d'une surcharge Internet ou en raison de pannes ou de problèmes liés aux ordinateurs ou à d'autres
            appareils, réseaux, appareils électroniques ou systèmes de communication.
        </p>
    </div>

    <div class="terms-content">
        <h5>6 Tarifs et mode de paiement</h5>
        <p>
            6.1 Les paiements pour le contenu seront effectués conformément aux informations sur les prix disponibles à
            tout moment sur le site Web.
        </p>
        <p>
            6.2 L'utilisateur peut effectuer le paiement de la taxe par le biais de l'un des modes de paiement proposés
            par MOVIES-HD sur le site Web.
        </p>
    </div>

    <div class="terms-content">
        <h5>7 Utilisation du service</h5>
        <p>
            L'utilisateur ne peut utiliser le service que pour son propre usage et conformément au présent contrat.
            L'utilisateur ne peut pas faire (y compris encourager, faciliter ou faire faire par une autre partie) ce que
            suivant:
        </p>
        <ol type="a">
            <li>
                utiliser le Service à des fins commerciales ou publiques.
            </li>

            <li>
                utiliser le Service à des fins illégales.
            </li>
            <li>
                copier/reproduire, prêter, vendre, diffuser, distribuer, éditer ou transférer de quelque manière que
                ce soit le contenu du Service.
            </li>
            <li>
                contourner, modifier, éliminer, altérer ou autrement manipuler toute sécurité, cryptage ou autre
                technologie ou logiciel faisant partie du Service.
            </li>
            <li>
                sinon, utilisez le Service en violation des lois sur le droit d'auteur ou d'autres lois.
            </li>
        </ol>

    </div>

    <div class="terms-content">
        <h5>8 Mineurs</h5>
        <p>
            8.1 Le Service peut contenir du matériel jugé inapproprié pour les mineurs et pouvant être perçu par
            d'autres comme obscène ou perturbateur.
        </p>
        <p>
            8.2 Le Service n'est pas destiné à être utilisé par des enfants sans l'intervention, la supervision et le
            consentement de leurs parents ou tuteurs. Parents ou tuteurs qui autorisent les enfants à utiliser le
            service sera seul responsable de déterminer si le contenu du service est approprié pour cet enfant.
        </p>
    </div>

    <div class="terms-content">
        <h5>9 Réseaux sociaux</h5>
        <p>
            Dans le cas où l'utilisateur utilise des réseaux sociaux en connexion avec le service, l'utilisateur ne
            peut pas utiliser les réseaux sociaux d'une manière qui pourrait être considérée offensante, perturbante,
            harcelante, obscène, discriminatoire ou en général inappropriée ou illégale.
        </p>
    </div>

    <div class="terms-content">
        <h5>10 Informations aux clients</h5>
        <p>
            MOVIES-HD peut envoyer des notifications à l'utilisateur par courrier électronique, message texte,
            courrier postal, facture ou publication sur le site Web.
        </p>
    </div>

    <div class="terms-content">
        <h5>11 Droits de propriété intellectuelle</h5>
        <p>
            Dans le cadre de cet accord avec MOVIES-HD, MOVIES-HD accorde à l'utilisateur une licence exclusive,
            non transférable et illimitée pour accéder au contenu du service. L'utilisateur ne peut utiliser le service
            et son contenu qu'en conformité avec le contrat.
        </p>
    </div>

    <div class="terms-content">
        <h5>12 La sécurité</h5>
        <p>
            12.1 L'Utilisateur n'agira d'aucune manière qui pourrait empêcher le Service ou les Plateformes de
            fonctionner en raison d'une surcharge, d'un endommagement ou d'une détérioration. De plus, l'utilisateur ne
            peut pas envahir ou interférer avec le service d'un autre utilisateur.
        </p>
        <p>
            12.2 L'utilisateur ne peut pas tenter d'obtenir un accès non autorisé à des réseaux, des systèmes
            informatiques, du contenu ou des informations liées aux plates-formes ou au service.
        </p>
    </div>

    <div class="terms-content">
        <h5>13 Limitation de responsabilité, interruptions et interruptions du service</h5>
        <p>
            13.1 Les interruptions, interruptions et autres défaillances du Service doivent être notifiées à MOVIES-HD
            dès que possible afin que l'Utilisateur ait droit à toute indemnisation conformément à la clause 13.2.
        </p>
        <p>
            13.2 MOVIES-HD ne sera responsable que des interruptions, coupures et autres fautes imputables à des
            circonstances sous le contrôle de MOVIES-HD pour lesquelles MOVIES-HD est responsable et qui ne sont pas
            incluses dans la clause 13.1.
        </p>
    </div>

    <div class="terms-content">
        <h5>14 Obligation d'indemniser</h5>
        <p>
            L'Utilisateur s'engage à indemniser et à préserver de la responsabilité de MOVIES-HD, de ses sociétés
            affiliées, de ses employés, des membres du conseil d'administration et des concédants de licence, pour toute
            perte, dépense ou demande résultant de la violation de la Convention par l'Utilisateur. Utilisateur, la
            violation par l'utilisateur des lois applicables ou la violation par l'utilisateur des droits de tiers.
        </p>
    </div>

    <div class="terms-content">
        <h5>15 Liens des plates-formes</h5>
        <p>
            Les plates-formes peuvent inclure des liens vers d'autres sites Web fournis par des tiers. MOVIES-HD
            n’a aucun contrôle sur ces liens ni sur le contenu de tels sites Web, et n’assume aucune responsabilité à
            leur égard. L'utilisation de tels sites Web par l'utilisateur se fera à vos risques et périls.
        </p>
    </div>
</div>

<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>