<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <style>
        .table {
            width: 100%;
            margin-bottom: 0;
            border-collapse: collapse;
        }

        .table-responsive-sm {
            display: block;
            margin: auto;
            width: 100%;
            overflow-x: auto;
            -webkit-overflow-scrolling: touch;
            -ms-overflow-style: -ms-autohiding-scrollbar;
        }

        .table td, .table th {
            padding: 12px;
            vertical-align: middle;
        }

        .table img {
            width: 80px;
            vertical-align: middle;
            border-style: none;
            border-radius: 5px;
        }

        h3 {
            font-size: 1.25rem;
        }

        h4 {
            font-size: 1rem;
        }

        h1, h2, h3, h4, h5, h6 {
            font-family: inherit;
            font-weight: bolder;
            line-height: 1.2;
            color: inherit;
        }

        .border {
            border: 2px solid #dee2e6 !important;
        }

        .border-top {
            border-top: 2px solid #dee2e6 !important;
        }

        .border-bottom {
            border-bottom: 2px solid #dee2e6 !important;
        }

        .text-dark {
            color: #343a40 !important;
        }

        .border-warning {
            border-color: #ffc107 !important;
        }

        .bg-warning {
            background-color: #ffc107 !important;
        }

        .text-center {
            text-align: center !important;
        }

        a {
            color: blue;
            text-decoration: underline;
        }

        /* unvisited link */
        a:link {
            color: blue;
        }

        /* visited link */
        a:visited {
            color: darkviolet;
        }

        /* mouse over link */
        a:hover {
            color: blue;
            cursor: pointer;
        }

        /* selected link */
        a:active {
            color: blue;
        }

        /* Small devices (landscape phones, 576px and up) */
        @media (min-width: 576px) {
        }

        /* Medium devices (tablets, 768px and up) */
        @media (min-width: 768px) {
        }

        /* Large devices (desktops, 992px and up) */
        @media (min-width: 992px) {
            .table-responsive-sm {
                width: 80%;
            }

            h3 {
                font-size: 1.50rem;
            }

            h4 {
                font-size: 1.25rem;
            }

            table img {
                width: 100px;
            }
        }

        /* Extra large devices (large desktops, 1200px and up) */
        @media (min-width: 1200px) {
            .table-responsive-sm {
                width: 70%;
            }
        }
    </style>
</head>
<body>
<div class="table-responsive-sm text-dark">
    <table class="table border border-warning">
        <thead class="border-bottom border-warning bg-warning" style="font-weight: bolder;">
        <tr class="text-center">
            <th colspan="3">
                <h4>TFG MOVIES-HD</h4>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr class="border-bottom border-warning">
            <td colspan="3">
                <h4>
                    <span th:text="#{text.email.hello}"></span> <span th:text="${user}"></span>
                </h4>
                <p th:text="#{text.change.password.email.paragraph1}">Le informamos de que su contraseña ha sido cambiada con éxito.</p>
                <p th:text="#{text.change.password.email.paragraph2}">
                    Si tiene algún problema al iniciar sesión con la nueva contraseña, póngase en contacto con el
                    Servicio de Informática de Movies-HD.
                </p>
                <p th:text="#{text.email.sincerely}" style="margin-bottom: 0;">Atentamente,</p>
                <p th:text="#{text.change.password.email.paragraph3}" style="margin-top: 0;">El Servicio de Informática de Movies-HD</p>
            </td>
        </tr>
        </tbody>
        <tfoot class="border-top border-warning bg-warning" style="font-weight: bolder;">
        <tr>
            <td colspan="3" style="text-align: center;">
                <p>&copy; TFG MOVIES-HD 2018</p>
            </td>
        </tr>
        </tfoot>
    </table>
    <div>
        <h3 th:text="#{text.footer.email.help}">¿Necesitas ayuda?</h3>
        <p th:text="#{text.change.password.email.paragraph4}">
            Si no ha realizado usted esta gestión, póngase en contacto lo antes posible con el Servicio de Atención al
            cliente de Movies-HD.
        </p>
    </div>
</div>
</body>
</html>