<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <style>
        .table {
            width: 100%;
            margin-bottom: 0;
            border-collapse: collapse;
        }

        .table-responsive-sm {
            display: block;
            margin: auto;
            width: 100%;
            overflow-x: auto;
            -webkit-overflow-scrolling: touch;
            -ms-overflow-style: -ms-autohiding-scrollbar;
        }

        .table td, .table th {
            padding: 12px;
            vertical-align: middle;
        }

        .table img {
            width: 80px;
            vertical-align: middle;
            border-style: none;
            border-radius: 5px;
        }

        h3 {
            font-size: 1.25rem;
        }

        h4 {
            font-size: 1rem;
        }

        h1, h2, h3, h4, h5, h6 {
            font-family: inherit;
            font-weight: bolder;
            line-height: 1.2;
            color: inherit;
        }

        .border {
            border: 2px solid #dee2e6 !important;
        }

        .border-top {
            border-top: 2px solid #dee2e6 !important;
        }

        .border-bottom {
            border-bottom: 2px solid #dee2e6 !important;
        }

        .text-dark {
            color: #343a40 !important;
        }

        .border-warning {
            border-color: #ffc107 !important;
        }

        .bg-warning {
            background-color: #ffc107 !important;
        }

        .text-center {
            text-align: center !important;
        }

        .text-right {
            text-align: right !important;
        }

        .d-inline-block {
            display: inline-block !important;
        }

        /* Small devices (landscape phones, 576px and up) */
        @media (min-width: 576px) {
        }

        /* Medium devices (tablets, 768px and up) */
        @media (min-width: 768px) {
        }

        /* Large devices (desktops, 992px and up) */
        @media (min-width: 992px) {
            .table-responsive-sm {
                width: 80%;
            }

            h3 {
                font-size: 1.50rem;
            }

            h4 {
                font-size: 1.25rem;
            }

            table img {
                width: 100px;
            }
        }

        /* Extra large devices (large desktops, 1200px and up) */
        @media (min-width: 1200px) {
            .table-responsive-sm {
                width: 70%;
            }
        }
    </style>
</head>
<body>
<div class="table-responsive-sm text-dark">
    <table class="table border border-warning">
        <thead class="border-bottom border-warning bg-warning" style="font-weight: bolder;">
        <tr class="text-center">
            <th colspan="3">
                <h4>TFG MOVIES-HD</h4>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr class="border-bottom border-warning">
            <td colspan="3">
                <h3>
                    <span th:utext="#{text.payment.confirmation.email.heading}"></span>
                    <span th:text="${invoiceId}"></span>
                </h3>
                <p th:text="#{text.payment.confirmation.email.paragraph1}">Thank you for your purchase!</p>
            </td>
        </tr>
        <tr th:each="movie : ${movies}">
            <td style="width: 15%"><img th:src="@{${movie.posterImageURL}}" src="" th:alt="${movie.title}"/></td>
            <td>
                <h3 class="d-inline-block" th:text="${movie.title}" style="font-weight: normal;">Movie Title</h3>
            </td>
            <td class="text-right" style="width: 5%">
                <h4 class="d-inline-block" th:text="${movie.price}" style="font-weight: normal;">
                    12.42</h4>
            </td>
        </tr>
        <tr class="border-top border-warning">
            <td>
                <h4 th:text="#{text.payment.confirmation.email.total}">TOTAL</h4>
            </td>
            <td class="text-right" colspan="2">
                <h4 th:text="${totalPrice} + ' €'">800€</h4>
            </td>
        </tr>
        </tbody>
        <tfoot class="border-top border-warning bg-warning" style="font-weight: bolder;">
        <tr>
            <td colspan="3" style="text-align: center;">
                <p>&copy; TFG MOVIES-HD 2018</p>
            </td>
        </tr>
        </tfoot>
    </table>
    <div>
        <h3 th:text="#{text.footer.email.help}">Need help?</h3>
        <p th:text="#{text.payment.confirmation.email.paragraph2}">
            If you have a problem with your order (e.g. an error with your invoice, billing query, or suspect a
            fraudulent transaction), please reply to this email and our support team will be in touch shortly!
        </p>
    </div>
</div>
</body>
</html>