<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <style>
        .table {
            width: 100%;
            margin-bottom: 0;
            border-collapse: collapse;
        }

        .table-responsive-sm {
            display: block;
            margin: auto;
            width: 100%;
            overflow-x: auto;
            -webkit-overflow-scrolling: touch;
            -ms-overflow-style: -ms-autohiding-scrollbar;
        }

        .table td, .table th {
            padding: 12px;
            vertical-align: middle;
        }

        .table img {
            width: 80px;
            vertical-align: middle;
            border-style: none;
            border-radius: 5px;
        }

        h3 {
            font-size: 1.25rem;
        }

        h4 {
            font-size: 1rem;
        }

        h1, h2, h3, h4, h5, h6 {
            font-family: inherit;
            font-weight: bolder;
            line-height: 1.2;
            color: inherit;
        }

        .border {
            border: 2px solid #dee2e6 !important;
        }

        .border-top {
            border-top: 2px solid #dee2e6 !important;
        }

        .border-bottom {
            border-bottom: 2px solid #dee2e6 !important;
        }

        .text-dark {
            color: #343a40 !important;
        }

        .border-warning {
            border-color: #ffc107 !important;
        }

        .bg-warning {
            background-color: #ffc107 !important;
        }

        .text-center {
            text-align: center !important;
        }

        a {
            color: blue;
            text-decoration: underline;
        }

        /* unvisited link */
        a:link {
            color: blue;
        }

        /* visited link */
        a:visited {
            color: darkviolet;
        }

        /* mouse over link */
        a:hover {
            color: blue;
            cursor: pointer;
        }

        /* selected link */
        a:active {
            color: blue;
        }

        /* Small devices (landscape phones, 576px and up) */
        @media (min-width: 576px) {
        }

        /* Medium devices (tablets, 768px and up) */
        @media (min-width: 768px) {
        }

        /* Large devices (desktops, 992px and up) */
        @media (min-width: 992px) {
            .table-responsive-sm {
                width: 80%;
            }

            h3 {
                font-size: 1.50rem;
            }

            h4 {
                font-size: 1.25rem;
            }

            table img {
                width: 100px;
            }
        }

        /* Extra large devices (large desktops, 1200px and up) */
        @media (min-width: 1200px) {
            .table-responsive-sm {
                width: 70%;
            }
        }
    </style>
</head>
<body>
<div class="table-responsive-sm text-dark">
    <table class="table border border-warning">
        <thead class="border-bottom border-warning bg-warning" style="font-weight: bolder;">
        <tr class="text-center">
            <th colspan="3">
                <h4>TFG MOVIES-HD</h4>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr class="border-bottom border-warning">
            <td colspan="3">
                <h3 th:text="#{text.retrieve.password.email.heading}">Proceso de recuperación de la contraseña</h3>
                <p>
                    <span th:text="#{text.email.hello}"></span> <span th:text="${user}">Hola usuario</span>
                </p>
                <p th:text="#{text.retrieve.password.email.paragraph1}">
                    Le informamos de que para poder modificar la contraseña de acceso, debes pulsar en el siguiente
                    enlace:
                </p>
                <a th:href="@{${url}}" th:text="${url}" target="_blank">www.url.es/jwt/token</a>
                <p th:text="#{text.retrieve.password.email.paragraph2}">
                    Si al pulsar en el enlace no se abre la ventana del navegador con la aplicación web Movies-HD, puede
                    copiarlo y pegarlo directamente en la barra de direcciones del navegador.
                </p>
                <p th:text="#{text.retrieve.password.email.paragraph3}">
                    El Servicio de Informática le ha enviado este correo al haber recibido una petición de cambio de su
                    contraseña.
                </p>
                <p th:text="#{text.retrieve.password.email.paragraph4}">
                    Informarle que por cuestiones de seguridad el enlace de arriba tiene una validez de una hora. Si
                    por cualquier motivo no ha podido usarlo en el tiempo establecido, tendrá que volver a
                    solicitarlo.
                </p>
                <p th:text="#{text.retrieve.password.email.paragraph5}">
                    Si no ha realizado usted esta petición, o no desea ahora cambiar la contraseña, no es necesario que
                    haga nada al respecto y puede ignorar este mensaje.
                </p>
                <p th:text="#{text.email.sincerely}" style="margin-bottom: 0;">Atentamente,</p>
                <p th:text="#{text.retrieve.password.email.paragraph7}" style="margin-top: 0;">El Servicio de Informática de Movies-HD</p>
            </td>
        </tr>
        </tbody>
        <tfoot class="border-top border-warning bg-warning" style="font-weight: bolder;">
        <tr>
            <td colspan="3" style="text-align: center;">
                <p>&copy; TFG MOVIES-HD 2018</p>
            </td>
        </tr>
        </tfoot>
    </table>
    <div>
        <h3 th:text="#{text.footer.email.help}">¿Necesitas ayuda?</h3>
        <p th:text="#{text.retrieve.password.email.paragraph8}">
            Si tiene un problema con el enlace anterior, responda a este correo electrónico y nuestro equipo de soporte
            se pondrá en contacto con usted lo antes posible.
        </p>
    </div>
</div>
</body>
</html>