<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head(swiper=${false},firebaseUI=${false}, plyr=${false})"></head>
<body>
<header th:replace="layout/layout :: header"></header>
<div th:replace="layout/layout :: background"></div>

<div class="container form-card m-t-7rem m-b-6rem">
    <div class="card border-warning text-white" style="background: rgba(40, 44, 53, 0.8) !important;">
        <div th:text="#{text.form.recovery.password.title}" class="card-header text-center text-warning">
            He olvidado la contraseña
        </div>
        <div class="card-body">
            <div class="row justify-content-md-center">
                <div class="col">
                    <!-- Password Recovery Form -->
                    <form th:action="@{/jwt/recipient-email}" method="post" id="reCaptcha-form"
                          class="needs-validation active mt-4"
                          novalidate>
                        <div class="form-row">
                            <div class="col mb-3">
                                <label th:text="#{text.form.email}" class="text-warning" for="validationCustomEmail">Email</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text input-group-text-auth bg-warning">@</span>
                                    </div>
                                    <input type="email" class="form-control form-control-auth" name="email"
                                           id="validationCustomEmail" th:placeholder="#{text.form.email}"
                                           aria-describedby="inputGroupPrepend" required>
                                    <div th:text="#{text.form.email.invalid}" class="invalid-feedback">
                                        Por favor, elija un correo electrónico.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div th:id="reCaptcha" class="google-reCaptcha"></div>
                        <div class="form-row">
                            <button th:text="#{text.form.recovery.password.submit}"
                                    class="btn btn-warning btn-block btn-sm">Enviar correo
                            </button>
                            <span id="locale-language" th:text="${#locale.language}" class="d-none">EN</span>
                        </div>
                    </form>
                    <!-- End Retrieve Password Form  -->
                </div>
            </div>
        </div>
    </div>
</div>

<footer th:replace="layout/layout :: footer"></footer>
<script th:src="@{/js/formValidation.js}"></script>

<!--Google reCaptcha-->
<script id="reCaptcha-api"></script>
<script th:src="@{/js/google_reCaptcha.js}"></script>
</body>
</html>