<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head(swiper=${false},firebaseUI=${false}, plyr=${false})"></head>
<body>
<header th:replace="layout/layout :: header"></header>
<div th:replace="layout/layout :: background"></div>

<div class="container form-card m-t-7rem m-b-6rem">
    <div class="card border-warning text-white" style="background: rgba(40, 44, 53, 0.8) !important;">
        <div th:text="#{text.form.change.password.title}" class="card-header text-center text-warning">
            Cambiar la contraseña
        </div>
        <div class="card-body">
            <div class="row justify-content-md-center">
                <div class="col">
                    <!-- Password Change Form -->
                    <form th:action="@{/jwt/change-password}" method="post" class="needs-validation active mt-4"
                          novalidate>
                        <input type="hidden" name="email" th:value="${email}">
                        <input type="hidden" name="token" th:value="${token}">
                        <div class="form-row">
                            <div class="col-md-6 mb-3">
                                <label th:text="#{text.form.password}" class="text-warning"
                                       for="validationCustomPassword1">Contraseña</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text input-group-text-auth bg-warning"><i
                                                class="fas fa-key"></i></span>
                                    </div>
                                    <input type="password" class="form-control form-control-auth" name="password1"
                                           id="validationCustomPassword1" th:placeholder="#{text.form.password}"
                                           aria-describedby="inputGroupPrepend" required>
                                    <div th:text="#{text.form.password.invalid}" class="invalid-feedback">
                                        Por favor, elija una nueva contraseña.
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label th:text="#{text.form.password.confirm}" class="text-warning"
                                       for="validationCustomPassword2">Confirme la contraseña</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text input-group-text-auth bg-warning"><i
                                                class="fas fa-key"></i></span>
                                    </div>
                                    <input type="password" class="form-control form-control-auth" name="password2"
                                           id="validationCustomPassword2" th:placeholder="#{text.form.password.confirm}"
                                           aria-describedby="inputGroupPrepend" required>
                                    <div th:text="#{text.form.password.invalid}" class="invalid-feedback">
                                        Por favor, vuelva a escribir la contraseña.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <button th:text="#{text.form.change.password.submit}"
                                    class="btn btn-warning btn-block btn-sm" type="submit">Cambiar la contraseña
                            </button>
                        </div>
                    </form>
                    <!-- End Retrieve Password Form  -->
                </div>
            </div>
        </div>
    </div>
</div>

<footer th:replace="layout/layout :: footer"></footer>
<script th:src="@{/js/formValidation.js}"></script>
</body>
</html>