<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head(swiper=${false},firebaseUI=${false}, plyr=${false})">
</head>
<body>
<header th:replace="layout/layout :: header"></header>
<div th:replace="layout/layout :: background"></div>

<div class="container mx-auto m-t-5rem m-b-6rem">
    <h2 th:text="${title}" class="heading-title">Mis películas</h2>
    <div class="row mt-4 py-2">
        <div th:each="movie : ${movies}" class="col-6 col-sm-4 col-md-3 col-lg-2 mb-4">
            <div class="swiper-movies">
                <div class="swiper-slide">
                    <img src="" th:alt="${movie.title}"
                         th:src="@{${movie.posterImageURL}}"/>
                    <div class="moviename">
                        <div th:text="${movie.title}" class="movietext">Movie title</div>
                    </div>
                    <div class="play">
                        <div class="play-icon">
                            <form th:action="@{/watch}" method="post">
                                <input type="hidden" name="movieId" th:value="${movie.id}">
                                <button type="submit" class="btn btn-link" role="link">
                                    <i class="far fa-play-circle fa-4x"></i>
                                </button>
                            </form>
                        </div>
                    </div>
                    <div class="options">
                        <div class="favorite-icon">
                            <a href="/favorite/add-movie" th:value="${movie.id}">
                                <i th:classappend="${session.favoriteMovies != null and session.favoriteMovies.contains(movie)} ? 'text-dark-red'"
                                   class="fas fa-heart fa-lg"></i></a>
                            <div class="spinner-border text-dark-red"
                                 style="display: none; width: 1rem; height: 1rem; border-width: 0.1rem"
                                 role="status">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <nav th:replace="fragments/paginator_nav :: paginator"></nav>
</div>

<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>