<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head(swiper=${false},firebaseUI=${false}, plyr=${false})">
</head>
<body>
<header th:replace="layout/layout :: header"></header>
<!-- Header Profile -->
<div class="profile-header pb-8 d-flex align-items-center">
    <!-- Mask -->
    <span class="mask bg-gradient-default opacity-8"></span>
    <!-- Header container -->
    <div class="container-fluid d-flex align-items-center">
        <div class="row">
            <div class="col">
                <h1 th:text="${userDTO.getFullName()}" class="heading-profile text-white">Hello User</h1>
                <p th:text="#{text.user.profile.header}" class="text-white mt-0 mb-5">This is your profile page.</p>
            </div>
        </div>
    </div>
</div>
<!-- Page content -->
<div class="container-fluid m-t--6rem m-b-6rem text-dark">
    <div class="row">
        <div class="col-xl-4 order-xl-2 mb-5 mb-xl-0">
            <div class="card card-profile shadow">
                <div class="row justify-content-center">
                    <div class="col-lg-3 order-lg-2">
                        <div class="card-profile-image">
                            <img th:src="${session.userImage != null} ? ${session.userImage} : 'https://d1sjecyzvhtrj9.cloudfront.net/images/default_profile.png'"
                                 src="" class="rounded-circle">
                        </div>
                    </div>
                </div>
                <div class="card-header text-center border-0 p-t-8rem pt-md-4 pb-0 pb-md-4">
                </div>
                <div class="card-body pt-0 pt-md-4">
                    <div class="row">
                        <div class="col">
                            <div class="card-profile-stats d-flex justify-content-center mt-md-4">
                                <div>
                                    <span class="heading"
                                          th:text="${session.favoriteMovies != null}? ${session.favoriteMovies.size()} : '0'">22</span>
                                    <a th:href="@{/favorite/all}" class="description"><i class="fas fa-heart"></i></a>
                                </div>
                                <div>
                                    <span class="heading"
                                          th:text="${session.moviesPurchases != null}? ${session.moviesPurchases.size()} : '0'">10</span>
                                    <a th:href="@{/my-movies}" class="description"><i class="fas fa-film"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="text-center">
                        <h3 th:text="${userDTO.getFullName()}">User Full Name<span class="font-weight-light">, 27</span>
                        </h3>
                        <h5 class="font-weight-300" th:if="${userDTO.city != null}"
                            th:text="${userDTO.city}">
                        </h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-8 order-xl-1">
            <div class="card bg-ligth shadow">
                <div class="card-header border-0">
                    <div class="row align-items-center">
                        <div class="col-8">
                            <h3 th:text="#{text.user.profile.account.heading}" class="mb-0">My account</h3>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <!-- User Data Form-->
                    <form th:action="@{/user/profile}" th:object="${userDTO}" method="post" class="needs-validation"
                          novalidate>
                        <div class="mb-4">
                            <span th:text="#{text.user.profile.information.heading}" class="heading-small text-muted">User information</span>
                            <a class="btn btn-warning btn-sm ml-2"
                               onclick="enableInput('.user-information-disabled')"><i class="fas fa-pen fa-sm"></i></a>
                        </div>
                        <div class="form-row">
                            <div class="col-md-6 mb-3">
                                <label th:text="#{text.form.firstname}"
                                       for="validationCustomUserNameRegister">Name</label>
                                <input th:field="*{name}" class="form-control user-information-disabled" name="name"
                                       id="validationCustomUserNameRegister" th:placeholder="#{text.form.firstname}"
                                       disabled required>
                                <small class="form-text text-danger" th:if="${#fields.hasErrors('name')}"
                                       th:errors="*{name}"></small>
                                <div th:text="#{text.form.field.valid}" class="valid-feedback">
                                    Looks good!
                                </div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label th:text="#{text.form.lastname}" for="validationCustomLastNameRegister">Last
                                    name</label>
                                <input th:field="*{lastName}" class="form-control user-information-disabled"
                                       name="lastName" id="validationCustomLastNameRegister"
                                       th:placeholder="#{text.form.lastname}" disabled required>
                                <small class="form-text text-danger" th:if="${#fields.hasErrors('lastName')}"
                                       th:errors="*{lastName}"></small>
                                <div th:text="#{text.form.field.valid}" class="valid-feedback">
                                    Looks good!
                                </div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label th:text="#{text.form.email}" for="validationCustomEmailRegister">Email</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">@</span>
                                    </div>
                                    <input type="email" th:field="*{email}" class="form-control"
                                           name="email" id="validationCustomEmailRegister"
                                           th:placeholder="#{text.form.email}"
                                           aria-describedby="inputGroupPrepend" disabled>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <button th:text="#{text.user.profile.submit }"
                                    class="btn btn-warning user-information-button" type="submit" disabled>Save changes
                            </button>
                        </div>
                    </form>
                    <hr class="my-4"/>

                    <!-- User Password Form -->
                    <form th:action="@{/user/password}" method="post" class="needs-validation" novalidate>
                        <div class="mb-4">
                            <span th:text="#{text.user.profile.password.heading}" class="heading-small text-muted">User password</span>
                            <a class="btn btn-warning btn-sm ml-2"
                               onclick="enableInput('.user-password-disabled')"><i class="fas fa-pen fa-sm"></i></a>
                        </div>
                        <div class="form-row">
                            <div class="col-md-6 mb-3">
                                <label th:text="#{text.form.password.new}" for="validationCustomPassword1">New
                                    password</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fas fa-key"></i></span>
                                    </div>
                                    <input type="password" class="form-control user-password-disabled" name="password1"
                                           id="validationCustomPassword1" th:placeholder="#{text.form.password.new}"
                                           aria-describedby="inputGroupPrepend" disabled required>
                                    <div th:text="#{text.form.password.invalid}" class="invalid-feedback">
                                        Please, enter the new password.
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label th:text="#{text.form.password.confirm}" for="validationCustomPassword2">Confirm
                                    password</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fas fa-key"></i></span>
                                    </div>
                                    <input type="password" class="form-control user-password-disabled" name="password2"
                                           id="validationCustomPassword2" th:placeholder="#{text.form.password.confirm}"
                                           aria-describedby="inputGroupPrepend"
                                           disabled required>
                                    <div th:text="#{text.form.password.confirm.invalid}" class="invalid-feedback">
                                        Please, confirm the password.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <button th:text="#{text.form.change.password.title}"
                                    class="btn btn-warning user-password-button" type="submit" disabled>Change password
                            </button>
                        </div>
                    </form>
                    <hr class="my-4"/>

                    <!-- User Address Form -->
                    <form th:action="@{/user/contact-information}" th:object="${userDTO}" method="post" class="needs-validation"
                          novalidate>
                        <div class="mb-4">
                            <span th:text="#{text.user.profile.contact.heading }" class="heading-small text-muted">Contact information</span>
                            <a class="btn btn-warning btn-sm ml-2"
                               onclick="enableInput('.contact-information-disabled')"><i
                                    class="fas fa-pen fa-sm"></i></a>
                        </div>
                        <div class="form-row">
                            <div class="col-md-12 mb-3">
                                <label th:text="#{text.user.profile.address}" for="validationAddress">Address</label>
                                <input th:field="*{address}"
                                       class="form-control contact-information-disabled" name="address"
                                       id="validationAddress" th:placeholder="#{text.user.profile.address}" disabled
                                       required>
                                <div th:text="#{text.form.field.valid}" class="valid-feedback">
                                    Looks good!
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-5 mb-3">
                                <label th:text="#{text.user.profile.city}" for="validationCity">City</label>
                                <input th:field="*{city}"
                                       class="form-control contact-information-disabled" name="address"
                                       id="validationCity" th:placeholder="#{text.user.profile.city}" disabled required>
                                <div th:text="#{text.form.field.valid}" class="valid-feedback">
                                    Looks good!
                                </div>
                            </div>
                            <div class="col-md-3 mb-3">
                                <label th:text="#{text.user.profile.country}" for="validationCountry">Country</label>
                                <input th:field="*{country}"
                                       class="form-control contact-information-disabled" name="address"
                                       id="validationCountry" th:placeholder="#{text.user.profile.country}" disabled
                                       required>
                                <div th:text="#{text.form.field.valid}" class="valid-feedback">
                                    Looks good!
                                </div>
                            </div>
                            <div class="col-md-2 mb-3">
                                <label th:text="#{text.user.profile.postalcode}" for="validationZipCode">Postal
                                    Code</label>
                                <input type="number" min="0" th:field="*{postalCode}"
                                       class="form-control contact-information-disabled" name="address"
                                       id="validationZipCode" th:placeholder="#{text.user.profile.postalcode}" disabled
                                       required>
                                <div th:text="#{text.form.field.valid}" class="valid-feedback">
                                    Looks good!
                                </div>
                            </div>
                            <div class="col-md-2 mb-3">
                                <label th:text="#{text.user.profile.phone}"
                                       for="validationTelephoneNumber">Telephone</label>
                                <input type="tel" th:field="*{telephone}"
                                       class="form-control contact-information-disabled" name="telephone"
                                       id="validationTelephoneNumber" th:placeholder="#{text.user.profile.phone}"
                                       disabled required>
                                <div th:text="#{text.form.field.valid}" class="valid-feedback">
                                    Looks good!
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <button th:text="#{text.user.profile.submit }"
                                    class="btn btn-warning contact-information-button" type="submit" disabled>Save
                                changes
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<footer th:replace="layout/layout :: footer"></footer>
<script th:src="@{/js/formValidation.js}"></script>
<script th:inline="javascript">
    let userInfoFormButton = $(".user-information-button");
    let userInfoFormInput = $(".user-information-disabled");

    let userPassFormButton = $(".user-password-button");
    let userPassFormInput = $(".user-password-disabled");

    let userContactFormButton = $(".contact-information-button");
    let userContactFormInput = $(".contact-information-disabled");

    function enableInput(inputSelector) {
        $(inputSelector).prop({
            disabled: false
        });
    }

    handleInputEvent(userInfoFormInput, userInfoFormButton);
    handleInputEvent(userPassFormInput, userPassFormButton);
    handleInputEvent(userContactFormInput, userContactFormButton);

    function handleInputEvent(inputField, submitButton) {
        inputField.bind("input", function () {
            submitButton.prop({
                disabled: false
            });
            submitButton.fadeIn("slow", function () {
                inputField.unbind("input");
            });
        });
    }
</script>
</body>
</html>