<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head(swiper=${false},firebaseUI=${false}, plyr=${false})">
</head>
<body>
<header th:replace="layout/layout :: header"></header>
<div th:replace="layout/layout :: background"></div>

<div class="container text-justify m-t-5rem m-b-6rem">
    <h2 class="heading-title text-center">Persönliche Datenrichtlinie</h2>

    <div class="policy-content">
        <p>
            MOVIES-HD ist für die Behandlung personenbezogener Daten, die im Rahmen dieser Richtlinie zu
            personenbezogenen Daten verarbeitet werden, verantwortlich und muss daher gewährleisten, dass die Behandlung
            den geltenden Gesetzen entspricht.
        </p>
        <p>
            Durch die Registrierung eines Benutzerkontos wird der Benutzer (<span
                class="font-weight-bolder">"Sie"</span>)
            oder <span class="font-weight-bolder">"Benutzer"</span>) erkennt die Verarbeitung Ihrer persönlichen Daten
            durch MOVIES-HD gemäß den folgenden Bestimmungen an.
        </p>
        <p>
            Berücksichtigt man, dass diese Richtlinie zu persönlichen Daten (<span class="font-weight-bolder">"Richtlinie zu
            persönlichen Daten"</span>) einen untrennbaren Teil der Nutzungsbedingungen darstellt und dass die
            Definitionen, die in den Definitionen der Datenschutzrichtlinie festgelegt sind, bitte die
            Nutzungsbedingungen lesen, bevor Sie die Datenschutzrichtlinie lesen.
            <a th:href="@{/info/terms}" target="_blank">Klicken Sie hier, um auf die Nutzungsbedingungen
                zuzugreifen.</a>
        </p>
    </div>
    <div class="policy-content">
        <h5>Zusammenfassung</h5>
        <p class="content-item">
            Als Nächstes wird die Behandlung, die Ihre persönlichen Daten erhalten, zusammengefasst. Detaillierte
            Informationen finden Sie nach dieser Zusammenfassung.
        </p>
        <p class="content-item">
            <span class="font-weight-bolder">Wir müssen persönliche Informationen verwenden, um den Dienst bereitzustellen.</span>
            Dies bedeutet, dass Sie nicht widersprechen können, dass wir alle Ihre personenbezogenen Daten
            behandeln und weiterhin von uns verlangen, dass Sie den Service erbringen. Sie haben jedoch das Recht,
            bestimmten Verwendungen Ihrer personenbezogenen Daten zu widersprechen, z. B. wenn die betreffende Nutzung
            für die Erbringung unserer Dienstleistungen nicht zwingend erforderlich ist, sondern nur, um beispielsweise
            Werbung per E-Mail zu versenden.
        </p>
        <p class="content-item">
            <span class="font-weight-bolder">Als Interessent haben Sie auch eine Reihe von Rechten</span>, mit denen
            Sie die Verarbeitung Ihrer persönlichen Daten durch MOVIES-HD besser verstehen und beeinflussen können.
            Diese Rechte beinhalten das Recht, auf die persönlichen Daten zuzugreifen, die MOVIES-HD über Sie speichert,
            um die Korrektur falscher Daten zu bitten, um die Unterdrückung der persönlichen Daten und um das Recht, bei
            den Kontrollbehörden einen Antrag zu stellen, wenn Sie Probleme mit dem System haben Verwendung Ihrer
            persönlichen Daten durch MOVIES-HD.
        </p>
        <p class="content-item">
            Die persönlichen Daten, die wir behandeln, entsprechen den Informationen, die Sie uns bei der Registrierung
            eines Kontos in MOVIES-HD zur Verfügung gestellt haben. Wir behandeln auch persönliche Informationen, die
            Sie möglicherweise anderweitig angegeben haben, indem Sie sich an MOVIES-HD wenden (zum Beispiel während
            eines Telefonats beim Kundendienst) sowie Informationen, die Sie uns möglicherweise bei einer Umfrage zur
            Verfügung gestellt haben.
        </p>
        <p class="content-item">
            Die Verarbeitung personenbezogener Daten ist unter anderem die Möglichkeit, den Service über unsere Website
            bereitzustellen und unsere gesetzlichen Verpflichtungen zu erfüllen. Zum Beispiel:
        </p>
        <ol type="1">
            <li>
                Wir verwenden Ihre E-Mail-Adresse und Ihr Kennwort, damit Sie sich bei Ihrem Konto anmelden und den
                Streaming-Dienst von MOVIES-HD nutzen können.
            </li>
            <li>
                Wir verwenden die Daten Ihrer Reproduktionen zum Beispiel, um eine Statistik der am häufigsten
                betrachteten Filme zu speichern.
            </li>
        </ol>
        <p class="content-item">
            <span class="font-weight-bolder">Wenn Sie Fragen haben</span> zur Verwendung und zum Schutz Ihrer
            persönlichen Daten durch MOVIES-HD, wenden Sie sich bitte an den Datenschutzbeauftragten von MOVIES-HD.
        </p>
    </div>

    <div class="policy-content">
        <p>Nachfolgend finden Sie eine detailliertere Beschreibung, wie wir personenbezogene Daten verwenden.</p>
        <h5>1. Welche Stelle ist für die Verarbeitung Ihrer personenbezogenen Daten verantwortlich?</h5>
        <p class="content-item">
            MOVIES-HD ist für die Behandlung personenbezogener Daten verantwortlich, die im Rahmen dieser
            Datenschutzerklärung verarbeitet werden. Sie finden unsere Kontaktinformationen durch Drücken von
            <a th:href="@{/info/contact}" target="_ blank">hier.</a>
        </p>
    </div>
    <div class="policy-content">
        <h5>2. Was bedeutet «personenbezogene Daten» und «personenbezogene Datenverarbeitung»?</h5>
        <p class="content-item">
            Der Begriff <span class="font-weight-bolder">"personenbezogene Daten"</span>, wie er in dieser
            Datenschutzrichtlinie verwendet wird, bezieht sich auf alle Daten, die allein oder zusammen mit anderen
            Daten vorliegen können Verwendung zur Identifizierung einer lebenden Person sowie aller anderen Daten, die
            gemäß dem auf MOVIES-HD geltenden Recht als personenbezogene Daten gelten können, einschließlich der
            allgemeinen Datenschutzgesetze (die <span class="font-weight-bolder">«RGPD»</span>).
        </p>
        <p class="content-item">
            Diese Datenschutzerklärung bezieht sich auf alle personenbezogenen Daten, die in irgendeiner Weise als nach
            geltendem Recht in Bezug auf Sie als Nutzer behandelt behandelt werden die personenbezogenen Daten, die von
            MOVIES-HD erhoben, gespeichert, gespeichert, übertragen, übermittelt oder anderweitig verwendet werden.
            por MOVIES-HD.
        </p>
    </div>
    <div class="policy-content">
        <h5>3. Welche personenbezogenen Daten werden zu welchem Zweck verarbeitet?</h5>
        <p class="content-item">
            MOVIES-HD erhebt und verarbeitet nur die personenbezogenen Daten, die sich auf Sie beziehen, wie in dieser
            Richtlinie zum Schutz personenbezogener Daten dargelegt, und wird in der "Beschreibung der
            Datenverarbeitung" in Abschnitt 12 ausführlicher beschrieben.
        </p>
    </div>
    <div class="policy-content">
        <h5>4. Wie sind Ihre persönlichen Daten geschützt?</h5>
        <p class="content-item">
            MOVIES-HD setzt geeignete technische und organisatorische Maßnahmen ein, um Ihre personenbezogenen Daten zu
            schützen und zu gewährleisten, dass nur befugte Personen darauf zugreifen können. MOVIES-HD verwendet
            technische Sicherheitssysteme wie Firewalls, Verschlüsselungstechnologien, Kennwörter und
            Antivirenprogramme, um die unbefugte Verwendung personenbezogener Daten zu verhindern.
        </p>
    </div>
    <div class="policy-content">
        <h5>5. Wie lange werden Ihre persönlichen Daten aufbewahrt?</h5>
        <p class="content-item">
            MOVIES-HD wird Ihre personenbezogenen Daten nicht länger als erforderlich aufbewahren oder verarbeiten, um
            die in dieser Richtlinie zu personenbezogenen Daten festgelegten Behandlungsziele zu erreichen oder im
            Einklang mit zwingenden Gesetzen, wie in Abschnitt 12 «Beschreibung der Datenverarbeitung» beschrieben .
        </p>
    </div>
    <div class="policy-content">
        <h5>6. Mit wem teilen wir persönliche Daten?</h5>
        <div class="content-item">
            <p>Unternehmen der MOVIES-HD-Gruppe</p>
            <p>
                Ihre personenbezogenen Daten können an andere Unternehmen der MOVIES-HD-Gruppe weitergegeben werden,
                wenn die Übermittlung dieser Daten erforderlich ist, um die Interessen von MOVIES-HD und der
                MOVIES-HD-Gruppe zu erfüllen, insbesondere um das Geschäft auf Gruppenebene zu führen und Einsparungen
                zu erzielen und zu anderen internen administrativen Zwecken.
            </p>
            <p>Von MOVIES-HD gemietete Unternehmen</p>
            <p>
                Ihre personenbezogenen Daten werden von Drittanbietern, die Dienstleistungen für MOVIES-HD erbringen,
                sowohl als Datenverarbeiter als auch als Datenverwalter, wie beispielsweise PayPal, an Dritte übertragen
                und verarbeitet, damit diese Unternehmen die von MOVIES-HD gewünschten Dienste erbringen können. Diese
                Unternehmen können sich innerhalb und außerhalb der EU befinden. Die angefragten Dienstleistungen
                umfassen unter anderem die Bereitstellung von IT-Infrastrukturen und -Diensten, die Bereitstellung von
                Kundenberatungsdiensten, die Bearbeitung von Marktstudien, die Verwaltung von Sendungen per E-Mail, die
                Verwaltung von digitalem Marketing und die Fertigstellung von der statistischen Analyse und Profilierung
                sowie der Behandlung von Transaktionen mit Kredit- oder Debitkarten und anderen Zahlungsinformationen.
            </p>
            <p>
                Die von uns eingestellten Unternehmen erhalten nur die personenbezogenen Daten, die zur Erreichung der
                Ziele erforderlich sind, die in der "Beschreibung der Datenverarbeitung" in Abschnitt 12 aufgeführt
                sind. Alle Drittanbieter müssen als Behandlungsmanager befolgen die Anweisungen von MOVIES-HD und halten
                sich an die schriftlichen Vereinbarungen, die für die Verantwortlichen für die Datenverarbeitung oder
                andere zwischen MOVIES-HD und seinen Drittanbietern geltende Vereinbarungen gelten, und müssen auch die
                geeigneten technischen und organisatorischen Maßnahmen zum Schutz personenbezogener Daten treffen.
            </p>
        </div>
        <div class="content-item">
            <p>Behörden</p>
            <p>
                Es kann vorkommen, dass MOVIES-HD bestimmten Behörden (z. B. Steuer- oder Polizeibehörden)
                personenbezogene Daten im Einklang mit dem zwingenden Recht und zur Einhaltung gesetzlicher
                Verpflichtungen in jedem Rechtsgebiet, in dem MOVIES-HD Benutzer hat, zur Verfügung stellen muss. Bei
                Verstößen gegen die Datensicherheit sollten bestimmte personenbezogene Daten den Datenschutzbehörden zur
                Verfügung gestellt werden.
            </p>
        </div>
    </div>
    <div class="policy-content">
        <h5>7. In welche Länder werden Ihre persönlichen Daten übertragen?</h5>
        <p class="content-item">
            Ihre personenbezogenen Daten werden an Unternehmen in anderen Ländern außerhalb und innerhalb der EU
            übermittelt, mit denen wir beauftragt wurden, Ihnen unseren Service zur Verfügung zu stellen. Einige Länder
            außerhalb der EU können nicht das gleiche Schutzniveau für personenbezogene Daten garantieren wie ihr Land.
            In diesen Fällen stellt MOVIES-HD sicher, dass die Empfängerparteien in diesen Ländern personenbezogene
            Daten angemessen schützen.
        </p>
    </div>
    <div class="policy-content">
        <h5>8. Welche Rechte haben Sie bezüglich personenbezogener Daten?</h5>
        <div class="content-item">
            <p>Zugangs- und Berichtigungsrechte</p>
            <p>
                Sie haben das Recht, Auskunft darüber zu erhalten, welche personenbezogenen Daten von MOVIES-HD über Sie
                angesprochen werden, woher die Daten stammen, für welche Zwecke die Daten verwendet wurden und welche
                Identität die Parteien haben, denen die Daten zur Verfügung gestellt wurden.
            </p>
            <p>
                Ebenso haben Sie das Recht, jederzeit die Korrektur unrichtiger oder unvollständiger personenbezogener
                Daten anzufordern.
            </p>
        </div>
        <div class="content-item">
            <p>Widerrufsrecht «das Recht, vergessen zu werden»</p>
            <p>
                Sie können unter bestimmten Umständen verlangen, dass Ihre personenbezogenen Daten gelöscht werden, wenn
                Sie sich beispielsweise vom Dienst abgemeldet haben und die personenbezogenen Daten nicht mehr für die
                Zwecke, für die sie erhoben wurden, erforderlich sind, oder wenn kein Rechtsgrund vorliegt das
                rechtfertigt seine fortgesetzte Behandlung.
            </p>
        </div>
        <div class="content-item">
            <p>Widerspruchsrecht</p>
            <p>
                Sie haben das Recht, den personenbezogenen Daten, die Sie betreffen, zu widersprechen, wenn sie aufgrund
                unseres berechtigten Interesses an Ihrer speziellen Situation behandelt werden. Wenn Sie einen
                Widerspruch einlegen und die Behandlung auf einem berechtigten Interesse beruht, werden wir Ihre
                personenbezogenen Daten nicht weiter behandeln, es sei denn, wir berechtigen zu zwingenden Gründen für
                die Behandlung, die Ihr Recht auf Privatsphäre beherrscht.
            </p>
            <p>
                Denken Sie jedoch daran, dass MOVIES-HD auch dann, wenn Sie gegen eine bestimmte Behandlung Einspruch
                erheben, diese Behandlung fortsetzen kann, wenn sie auf einer anderen Rechtsgrundlage beruht,
                beispielsweise der Erbringung des Dienstes (wenn Sie den Dienst weiterhin erhalten möchten) oder der
                Einhaltung gesetzlicher Verpflichtungen.
            </p>
        </div>
        <div class="content-item">
            <p>Recht auf Beschränkung der Behandlung</p>
            <p>
                Sie können die Einschränkung der Verarbeitung Ihrer personenbezogenen Daten verlangen, wenn die
                personenbezogenen Daten möglicherweise nicht korrekt sind, wenn Sie der Ansicht sind, dass die
                Behandlung illegal ist, wenn MOVIES-HD ein legitimes Interesse an der Behandlung anstellt oder wenn Sie
                der Meinung sind, dass MOVIES-HD diese nicht mehr benötigt personenbezogene Daten zu den in der
                "Beschreibung der Datenverarbeitung" in Klausel 12 genannten Zwecken.
            </p>
        </div>
    </div>
    <div class="policy-content">
        <h5>9. Wie benutze ich deine Rechte?</h5>
        <p class="content-item">
            Sie können einige Ihrer Rechte ausüben, z. B. sobald die Sitzung gestartet ist, können Sie einige Ihrer
            Daten korrigieren.
        </p>
        <p class="content-item">
            Sie können uns auch telefonisch oder per E-Mail kontaktieren, wenn Sie Ihre Rechte wahrnehmen möchten.
        </p>
    </div>
    <div class="policy-content">
        <h5>10. Was sollten Sie tun, wenn Sie einen Antrag einreichen möchten?</h5>
        <p class="content-item">
            Wenn Sie Beschwerden darüber haben, wie wir Ihre personenbezogenen Daten verwenden, oder wenn Sie weitere
            Informationen wünschen, wenden Sie sich bitte an unseren Datenschutzbeauftragten, indem Sie die oben
            aufgeführten Kontaktinformationen verwenden. Sie können jedoch auch bei der zuständigen öffentlichen
            Kontrollbehörde, insbesondere vor der Behörde Ihres Wohnsitzlandes, Ihrer Arbeit oder dem Ort, an dem der
            mutmaßliche Verstoß begangen wurde, einen Anspruch auf den Umgang mit Ihren personenbezogenen Daten erheben.
        </p>
    </div>
    <div class="policy-content">
        <h5>11. Aktualisierungen</h5>
        <p class="content-item">
            MOVIES-HD kann diese Richtlinie zu persönlichen Daten jederzeit ändern. Wenn MOVIES-HD personenbezogene
            Daten auf eine andere Art und Weise verwenden möchte, als in der zum Zeitpunkt der Datenerhebung geltenden
            Datenschutzrichtlinie für personenbezogene Daten festgelegt, muss das betreffende Unternehmen diese
            Änderungen sichtbar sichtbar machen (z veröffentlichen Sie die Benachrichtigung auf der MOVIES-HD-Website
            oder senden Sie sie per E-Mail).
        </p>
    </div>
    <div class="policy-content">
        <h5>12. Beschreibung der Datenverarbeitung</h5>
        <p class="content-item">
            In der folgenden Beschreibung der Datenverarbeitung werden die Kategorien der personenbezogenen Daten
            beschrieben, die MOVIES-HD in Bezug auf seine Benutzer erhebt und verarbeitet, sowie die Zwecke der
            Behandlung jeder Datenkategorie.
        </p>
        <p class="content-item">
            Die folgenden Begriffe werden in der Beschreibung verwendet und erfordern möglicherweise eine Erläuterung:
        </p>
        <p class="content-item">
            - <span class="font-weight-bolder">Rechtsgrundlage:</span> Nach den geltenden Datenschutzgesetzen dürfen
            nur personenbezogene Daten verarbeitet werden, wenn eine rechtlich gültige Grundlage zur Unterstützung der
            Verarbeitung vorliegt. MOVIES-HD basiert auf den folgenden rechtlichen Grundlagen, die in der Beschreibung
            angegeben sind:
        </p>
        <p class="content-item">
            oder <span class="font-weight-bolder">Einhaltung einer Vereinbarung:</span> erfordert die Verarbeitung
            personenbezogener Daten, damit MOVIES-HD die mit einem Benutzer geschlossene Vereinbarung einhalten kann, z
            Benutzer greifen auf Ihr Konto zu, verwenden den Dienst und erhalten Hilfe vom MOVIES-HD-Kundendienst.
        </p>
        <p class="content-item">
            oder <span class="font-weight-bolder">Berechtigtes Interesse:</span> Die Behandlung basiert auf einem
            berechtigten Interesse, das MOVIES-HD an der Behandlung hat, z. B., dass MOVIES-HD Newsletter an das senden
            kann Benutzer Eine der Voraussetzungen ist, dass dieses berechtigte Interesse die Interessen oder
            Grundrechte und -freiheiten der Nutzer durchsetzen muss, und die Nutzer haben ein Widerspruchsrecht.
        </p>
        <p class="content-item">
            o <span class="font-weight-bolder">Gesetzliche Verpflichtung:</span> Die Behandlung ist erforderlich,
            damit MOVIES-HD die für MOVIES-HD geltenden gesetzlichen Verpflichtungen erfüllt, z. B. Finanzdaten, für die
            aufbewahrt werden muss zählbar.
        </p>
        <p class="content-item">
            - <span class="font-weight-bolder">Kriterien oder Verweildauer:</span> MOVIES-HD gibt an, wie lange die
            Daten des Benutzers für unterschiedliche Zwecke verwendet werden. Wenn kein gesetzlicher Zweck besteht,
            werden alle persönlichen Daten anonymisiert, um die Identifizierung der Benutzer zu verhindern.
        </p>
        <div class="content-item">
            <h5 class="font-weight-bolder">Kategorien personenbezogener Daten</h5>
            <p>MOVIES-HD behandelt folgende Kategorien personenbezogener Daten:</p>
            <p>
                <span class="font-weight-bolder">C1 Identifikationsdaten</span> - dh Name, Nachname,
                Anbieterkontokennzeichen, Aktionscodes, Kennwort. Quelle: Direkt vom Benutzer bei der Registrierung oder
                durch MOVIES-HD-Partner.
            </p>
            <p>
                <span class="font-weight-bolder">C2 Kontaktdaten</span> - also E-Mail-Adresse. Quelle: direkt vom
                Benutzer bei der Registrierung oder Kontaktaufnahme mit dem MOVIES-HD-Kundendienst.
            </p>
            <p>
                <span class="font-weight-bolder">C3 Zahlungsdaten</span> - dh Kredit- oder Debitkarteninformationen
                sowie Zahlungsprotokoll und Anbieterkonto-ID. Quelle: direkt vom Benutzer bei der Registrierung oder von
                den Zahlungsdienstanbietern und in Bezug auf die Zahlungshistorie und die Anbieterkontokennungen
                kontinuierlich, während die Zahlungen getätigt werden.
            </p>
            <p>
                <span class="font-weight-bolder">C4 Nutzungsinformationen</span> - Dies ist der Verlauf der
                Reproduktionen, Auswahl der Titel, Suchbegriffe (nur lokal beim Benutzer gehostet). Quelle: Daten, die
                auf Grundlage der Nutzung des Dienstes durch den Benutzer erhoben werden.
            </p>
            <p>
                <span class="font-weight-bolder">C5 Korrespondenzdatensätze mit Kundenservice</span> - also
                Aufzeichnungen von Anrufen beim Kundenservice, Abschriften von E-Mails. Quelle: Korrespondenz mit dem
                Kundenservice.
            </p>
            <p>
                <span class="font-weight-bolder">C6-Umfrage-Antworten</span> - das sind die Antworten der Benutzer
                auf Umfragen, die wir an Benutzer weitergeben, deren Antworten persönliche Informationen enthalten
                können. Quelle: direkt von den Benutzern Sie beschließen, an Umfragen teilzunehmen.
            </p>
        </div>
        <div class="content-item">
            <h5 class="font-weight-bolder">Zweck der Behandlung</h5>
            <p>MOVIES-HD behandelt die oben genannten Kategorien für persönliche Daten zu folgenden Zwecken:</p>
            <div>
                <h6 class="font-weight-bolder">P1 Servicebereitstellung</h6>
                <p>
                    <span style="text-decoration: underline">Beschreibung</span>
                    - Erlauben Sie MOVIES-HD, das Konto des Benutzers zu verwalten und seinen Benutzern den
                    Abonnementdienst bereitzustellen, einschließlich der Einhaltung der anwendbaren Bedingungen.
                </p>
                <p>
                    <span style="text-decoration: underline">Rechtliche grundlage</span>
                    - Einhaltung einer Vereinbarung.
                </p>
                <p>
                    <span style="text-decoration: underline">Kategorien behandelt</span>
                    - C1, C2, C4.
                </p>
            </div>
            <div>
                <h6 class="font-weight-bolder">P2 Abrechnung</h6>
                <p>
                    <span style="text-decoration: underline">Beschreibung</span>
                    - Um den Benutzer für den Kauf von Filmen in Rechnung stellen zu können.
                </p>
                <p>
                    <span style="text-decoration: underline">Rechtliche grundlage</span>
                    - Einhaltung einer Vereinbarung.
                </p>
                <p>
                    <span style="text-decoration: underline">Kategorien behandelt</span>
                    - C3.
                </p>
            </div>
            <div>
                <h6 class="font-weight-bolder">P3 Kundendienst</h6>
                <p>
                    <span style="text-decoration: underline">Beschreibung</span>
                    - Erlauben Sie MOVIES-HD und gegebenenfalls seinen Lieferanten, ihren Benutzern auf Anfrage einen
                    Kundendienst bereitzustellen (z. B. wenn ein Benutzer sich mit MOVIES-HD in Verbindung setzt),
                    einschließlich Fehlerbehebung.
                </p>
                <p>
                    <span style="text-decoration: underline">Rechtliche grundlage</span>
                    - Einhaltung einer Vereinbarung.
                </p>
                <p>
                    <span style="text-decoration: underline">Kategorien behandelt</span>
                    - C1, C2, C3, C4.
                </p>
            </div>
            <div>
                <h6 class="font-weight-bolder">P4 Kommunikation mit den Benutzern</h6>
                <p>
                    <span style="text-decoration: underline">Beschreibung</span>
                    - Sie können dem Benutzer relevante Informationen in Bezug auf das Konto senden, p. ex.
                    Willkommens-E-Mail, Service-Updates und dergleichen.
                </p>
                <p>
                    <span style="text-decoration: underline">Rechtliche grundlage</span>
                    - Einhaltung einer Vereinbarung.
                </p>
                <p>
                    <span style="text-decoration: underline">Kategorien behandelt</span>
                    - C2, C3.
                </p>
            </div>
            <div>
                <h6 class="font-weight-bolder">P5 Einhaltung gesetzlicher Verpflichtungen</h6>
                <p>
                    <span style="text-decoration: underline">Beschreibung</span>
                    - Erlauben Sie MOVIES-HD, die für MOVIES-HD geltenden gesetzlichen Verpflichtungen einzuhalten,
                    einschließlich der gesetzlichen Anforderungen in Buchführungsangelegenheiten und der Reaktion auf
                    behördliche Anforderungen.
                </p>
                <p>
                    <span style="text-decoration: underline">Rechtliche grundlage</span>
                    - Gesetzliche Verpflichtung
                </p>
                <p>
                    <span style="text-decoration: underline">Kategorien behandelt</span>
                    - C1, C2, C3.
                </p>
            </div>
            <div>
                <h6 class="font-weight-bolder">P6 Umfragen</h6>
                <p>
                    <span style="text-decoration: underline">Beschreibung</span>
                    - Um Umfragen an Benutzer senden zu können, die sich freiwillig beteiligen können. Die Antworten auf
                    den Fund werden zur Verbesserung des Dienstes verwendet.
                </p>
                <p>
                    <span style="text-decoration: underline">Rechtliche grundlage</span>
                    - Legitimes Interesse.
                </p>
                <p>
                    <span style="text-decoration: underline">Kategorien behandelt</span>
                    - C2, C6.
                </p>
            </div>
            <div>
                <h6 class="font-weight-bolder">P7 Verhinderung von Betrug</h6>
                <p>
                    <span style="text-decoration: underline">Beschreibung</span>
                    - Lassen Sie MOVIES-HD zu, um betrügerische Ansprüche von Nutzern im Zusammenhang mit Zahlungen zu
                    vermeiden, und können Sie MOVIES-HD vor diesen Ansprüchen verteidigen.
                </p>
                <p>
                    <span style="text-decoration: underline">Rechtliche grundlage</span>
                    - Legitimes Interesse.
                </p>
                <p>
                    <span style="text-decoration: underline">Kategorien behandelt</span>
                    - C3.
                </p>
            </div>
        </div>
    </div>
</div>

<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>