<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head(swiper=${false},firebaseUI=${false}, plyr=${false})">
</head>
<body>
<header th:replace="layout/layout :: header"></header>
<div th:replace="layout/layout :: background"></div>

<div class="container text-justify m-t-5rem m-b-6rem">
    <h2 class="heading-title text-center">Allgemeine Geschäftsbedingungen</h2>

    <div class="terms-content">
        <h5>1 Allgemeines</h5>
        <p>
            1.1 MOVIES-HD bietet einen Online-Service, der auf dem Verkauf von Filmen in digitalem Format basiert
            <a th:href="@{/}" target="_blank">www.movies-hd.cf</a>
        </p>
        <p>
            1.2 Diese Nutzungsbedingungen (im Folgenden die <span
                class="font-weight-bolder"> "Nutzungsbedingungen" </span>)
            gelten für die Beziehung zwischen MOVIES-HD und einer natürlichen Person (im Folgenden der
            <span class="font-weight-bolder"> "Benutzer" </span>), die entweder nur registriert wird, um ein Konto zu
            erhalten MOVIES-HD oder wer sich registriert, um ein MOVIES-HD-Konto zu erhalten und die Filme zu kaufen und
            ständig auf die Inhalte zuzugreifen.
        </p>
        <p>
            1.3 Diese Nutzungsbedingungen und die <a th:href="@{/info/policy}" target="_blank">Richtlinie zum Schutz
            personenbezogener Daten</a> von MOVIES-HD (im Folgenden zusammenfassend als
            <span class="font-weight-bolder"> "Allgemeine Nutzungsbedingungen"</span>) sind für MOVIES-HD und den
            Benutzer verbindlich. Die besonderen Geschäftsbedingungen (einschließlich Sonderangebote) in Bezug auf
            Preise, Zahlungsbedingungen und Zahlungsmodalitäten usw., die MOVIES-HD jederzeit anbieten kann (<span
                class="font-weight-bolder">"Besondere Bedingungen"</span>) gelten auch gemeinsam, wenn sie von
            des Benutzers eine Vereinbarung mit MOVIES-HD.
        </p>
    </div>
    <div class="terms-content">
        <h5>2 Leistungsumfang</h5>
        <div>
            <h5>Territorium</h5>
            <p>
                2.1 Dieser Service kann von allen Benutzern weltweit genutzt werden.
            </p>
        </div>
        <div>
            <h5>Inhalt</h5>
            <p>
                2.2 Der Benutzer hat jederzeit Zugriff auf die auf den Plattformen bereitgestellten Inhalte, sobald der
                Kauf derselben erworben wurde und nachdem der Vertrag akzeptiert wurde.
            </p>
        </div>
    </div>
    <div class="terms-content">
        <h5>3 Nutzung des Dienstes</h5>
        <p>
            Um den Dienst nutzen zu können, muss der Benutzer: (a) ein Benutzerkonto auf der Website erstellen, wie in
            Klausel 4 vorgesehen, (b) Zugang zu bestimmten Geräten, Systemen und Verbindungen gemäß der Vereinbarung und
            als Die Bestimmungen in Abschnitt 5. Darüber hinaus wurden bestimmte technische Sicherheitsmaßnahmen
            implementiert, um die unbefugte Nutzung des Dienstes zu verhindern, wie etwa die Kopie und die Verbreitung
            der Inhalte des Dienstes.
        </p>
    </div>
    <div class="terms-content">
        <h5>4 Registrierung, Benutzername und Passwort</h5>
        <p>
            4.1 Die Registrierung eines Benutzerkontos kann auf der Website oder über andere Dienste und soziale
            Netzwerke erfolgen, die MOVIES-HD jederzeit für angemessen hält. Zusammen mit der Registrierung durch andere
            Dienste und soziale Medien können Informationen von dem Benutzer von diesen Diensten oder sozialen
            Netzwerken erhalten werden, um das Konto des Benutzers in MOVIES-HD zu erstellen.
        </p>
        <p>
            4.2 Der Benutzer ist dafür verantwortlich, dass die zum Zeitpunkt der Registrierung bereitgestellten
            Informationen korrekt sind, einschließlich Informationen, die von anderen Diensten und sozialen Netzwerken
            bezogen werden. Falls erforderlich, aktualisiert der Benutzer sein Benutzerkonto mit den korrekten
            Informationen.
        </p>
        <p>
            4.3 Bei der Registrierung muss der Benutzer einen Benutzernamen und ein Kennwort angeben (im Folgenden <span
                class="font-weight-bolder">"Zugangsdaten"</span>). Die Zugangsdaten des Benutzers sind für den
            persönlichen Gebrauch bestimmt und dürfen nicht von Dritten verwendet werden. Der Benutzer hält die
            Zugangsdaten vor unbefugtem Zugriff geschützt. Der Benutzer ist für jede Nutzung des Dienstes
            verantwortlich, die über sein Konto erfolgt.
        </p>
        <p>
            4.4 Wenn der Benutzer den Verdacht hat, dass seine Zugangsdaten nicht autorisiert wurden, muss er sein
            Passwort umgehend ändern. Für den Fall, dass MOVIES-HD Grund zu der Annahme hat, dass die Zugangsdaten von
            Unbefugten offengelegt wurden oder auf andere Weise missbraucht werden, hat MOVIES-HD das Recht, den Zugang
            zum Dienst unverzüglich zu sperren.
        </p>
        <P>
            4.5 MOVIES-HD hat jederzeit das Recht, den Benutzer aufzufordern, sein Passwort zu ändern, und hat das
            Recht, den Zugriff auf den Dienst auszusetzen, bis das Passwort geändert wurde. Änderungen werden umgehend
            vorgenommen.
        </P>
    </div>

    <div class="terms-content">
        <h5>5 Ausstattung etc ...</h5>
        <p>
            5.1 Um den Dienst nutzen zu können, muss der Benutzer über die erforderlichen und genehmigten Systeme,
            Anschlüsse und Geräte verfügen.
        </p>
        <p>
            5.2 Die Anforderungen der Systeme werden von MOVIES-HD auf der Website oder auf andere Weise festgelegt. Die
            Einhaltung der Systemanforderungen garantiert jedoch nicht, dass der Benutzer den Dienst nutzen kann.
        </p>
        <p>
            5.3 Für den Dienst muss der Benutzer Zugriff auf die erforderliche Internetverbindung haben. Der Benutzer
            haftet für alle mit einer solchen Verbindung verbundenen Kosten, einschließlich der Kosten für den
            Datenverkehr, unabhängig vom Gebiet des Gebiets.
        </p>
        <p>
            5.4 MOVIES-HD übernimmt keine Verantwortung dafür, dass der Benutzer den Dienst nicht nutzt oder dass der
            Zugriff darauf aufgrund einer Internetüberlastung oder aufgrund von Fehlern oder Problemen im Zusammenhang
            mit Computern oder anderen Geräten, Netzwerken, elektronischen Geräten oder Systemen eingeschränkt ist der
            Kommunikation.
        </p>
    </div>

    <div class="terms-content">
        <h5>6 Preise und Zahlungsart</h5>
        <p>
            6.1 Die Zahlungen für den Inhalt erfolgen gemäß den Preisinformationen, die jederzeit auf der Website
            verfügbar sind.
        </p>
        <p>
            6.2 Der Benutzer kann die Gebühr über eine der von MOVIES-HD auf der Website angebotenen Zahlungsmethoden
            bezahlen.
        </p>
    </div>

    <div class="terms-content">
        <h5>7 Nutzung des Dienstes</h5>
        <p>
            Der Benutzer darf den Dienst nur für seinen eigenen Gebrauch und in Übereinstimmung mit dieser
            Vereinbarung nutzen. Der Benutzer kann nicht tun (einschließlich ermutigen, erleichtern oder eine andere
            Partei tun), was nächstes:
        </p>
        <ol type="a">
            <li>
                Nutzen Sie den Service für kommerzielle oder öffentliche Zwecke.
            </li>

            <li>
                Verwenden Sie den Dienst für illegale Zwecke.
            </li>
            <li>
                Den Inhalt des Dienstes zu kopieren/zu reproduzieren, zu verleihen, zu verkaufen, zu verbreiten, zu
                bearbeiten oder anderweitig zu übertragen.
            </li>
            <li>
                Sicherheit, Verschlüsselung oder andere Technologie oder Software, die Teil des Dienstes ist, zu
                umgehen, zu modifizieren, zu löschen, zu ändern oder auf andere Weise zu manipulieren.
            </li>
            <li>
                Verwenden Sie den Dienst anderweitig unter Verletzung von Urheberrechtsgesetzen oder anderen Gesetzen.
            </li>
        </ol>

    </div>

    <div class="terms-content">
        <h5>8 Minderjährige</h5>
        <p>
            8.1 Der Dienst kann Material enthalten, das als unangemessen für Minderjährige angesehen wird und von
            anderen als obszön oder störend empfunden wird.
        </p>
        <p>
            8.2 Der Dienst darf nicht von Kindern ohne Eingreifen, Aufsicht und Zustimmung der Eltern oder
            Erziehungsberechtigten genutzt werden. Eltern oder Erziehungsberechtigte, die Kindern die Nutzung des
            Dienstes gestatten ist allein dafür verantwortlich zu bestimmen, ob der Inhalt des Dienstes für dieses Kind
            geeignet ist.
        </p>
    </div>

    <div class="terms-content">
        <h5>9 Soziale Netzwerke</h5>
        <p>
            Für den Fall, dass der Benutzer soziale Netzwerke in Verbindung mit dem Dienst verwendet, darf der
            Benutzer soziale Netzwerke nicht in einer Weise verwenden, die als anstößig, störend, belästigend, obszön,
            diskriminierend oder allgemein unangemessen oder illegal betrachtet wird.
        </p>
    </div>

    <div class="terms-content">
        <h5>10 Informationen an Kunden</h5>
        <p>
            MOVIES-HD kann dem Benutzer Benachrichtigungen per E-Mail, SMS, Post, Rechnung oder Veröffentlichung
            auf der Website senden.
        </p>
    </div>

    <div class="terms-content">
        <h5>11 Rechte an geistigem Eigentum</h5>
        <p>
            Durch diese Vereinbarung mit MOVIES-HD gewährt MOVIES-HD dem Benutzer eine ausschließliche, nicht
            übertragbare und unbegrenzte Lizenz für den Zugriff auf den Inhalt des Dienstes. Der Benutzer darf den
            Dienst und seinen Inhalt nur in Übereinstimmung mit der Vereinbarung nutzen.
        </p>
    </div>

    <div class="terms-content">
        <h5>12 Sicherheit</h5>
        <p>
            12.1 Der Benutzer wird auf keine Weise handeln, die dazu führen könnte, dass der Dienst oder die Plattformen
            aufgrund von Überlastung, Beschädigung oder Verschlechterung aufhören zu funktionieren. Darüber hinaus darf
            der Benutzer nicht in den Dienst eines anderen Benutzers eingreifen oder ihn stören.
        </p>
        <p>
            12.2 Der Benutzer darf nicht versuchen, unberechtigten Zugriff auf Netzwerke, Computersysteme, Inhalte oder
            Informationen zu den Plattformen oder dem Service zu erhalten.
        </p>
    </div>

    <div class="terms-content">
        <h5>13 Haftungsbeschränkung, Unterbrechungen und Unterbrechungen des Dienstes</h5>
        <p>
            13.1 Unterbrechungen, Unterbrechungen und andere Ausfälle des Dienstes müssen MOVIES-HD so bald wie möglich
            mitgeteilt werden, damit der Benutzer Anspruch auf eine Entschädigung gemäß Ziffer 13.2 hat.
        </p>
        <p>
            13.2 MOVIES-HD haftet nur für Unterbrechungen, Schnitte und andere Fehler, die auf Umstände zurückzuführen
            sind, die von MOVIES-HD kontrolliert werden und für die MOVIES-HD verantwortlich ist und die nicht in
            Abschnitt 13.1 enthalten sind.
        </p>
    </div>

    <div class="terms-content">
        <h5>14 Ausgleichspflicht</h5>
        <p>
            Der Benutzer verpflichtet sich, MOVIES-HD, seine verbundenen Unternehmen, Mitarbeiter, Mitglieder des
            Verwaltungsrats und Lizenzgebers für Verluste, Kosten oder Forderungen zu entschädigen, die sich aus oder in
            Verbindung mit dem Verstoß gegen den Vertrag durch den Benutzer ergeben. Benutzer, die Verletzung der
            anwendbaren Gesetze durch den Benutzer oder die Verletzung der Rechte Dritter durch den Benutzer.
        </p>
    </div>

    <div class="terms-content">
        <h5>15 Links zu den Plattformen</h5>
        <p>
            Die Plattformen können Links zu anderen Websites enthalten, die von Dritten bereitgestellt werden.
            MOVIES-HD hat keinen Einfluss auf solche Links oder den Inhalt solcher Websites und übernimmt auch keine
            Verantwortung dafür. Die Nutzung solcher Websites durch den Nutzer erfolgt auf eigenes Risiko.
        </p>
    </div>
</div>

<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>