<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<nav th:if="${page.pages.size() > 0}" class="movies-pagination" th:fragment="paginator">
		<ul class="pagination">
			<li class="page-item">
                <span class="page-link pagination-disabled" th:if="${page.first}">&laquo;</span>
                <a th:if="${not page.first}" th:href="@{${page.url}(page=0)}" class="page-link">&laquo;</a>
			</li>

			<li class="page-item">
                <span class="page-link pagination-disabled" th:if="${not page.hasPrevious}">&lsaquo;</span>
                <a class="page-link" th:if="${page.hasPrevious}" th:href="@{${page.url}(page=${page.currentPage - 2})}">&lsaquo;</a>
			</li>

			<li class="page-item" th:each="item : ${page.pages}" th:class="${item.currentPage? 'page-item active':'page-item'}">
                <span class="page-link"	th:if="${item.currentPage}" th:text="${item.num}"></span>
                <a class="page-link" th:if="${not item.currentPage}" th:href="@{${page.url}(page=${item.num - 1})}" th:text="${item.num}"></a>
			</li>

			<li class="page-item">
                <span class="page-link pagination-disabled" th:if="${not page.hasNext}">&rsaquo;</span>
                <a class="page-link" th:if="${page.hasNext}" th:href="@{${page.url}(page=${page.currentPage})}">&rsaquo;</a>
            </li>

			<li class="page-item">
                <span th:if="${page.last}" class="page-link pagination-disabled">&raquo;</span>
                <a class="page-link" th:if="${not page.last}" th:href="@{${page.url}(page=${page.totalPages - 1})}">&raquo;</a>
            </li>
		</ul>
	</nav>
</body>
</html>