.play {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: auto;
    width: 100%;
    opacity: 1;
    transition: .5s ease;
}

.play-icon {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.play a, .play button {
    color: white;
}

.moviename {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 44px;
    width: 100%;
    background: linear-gradient(rgba(23, 32, 42, 0.8), rgba(0, 0, 0, 0.3), rgba(255, 255, 255, 0.1));
    transition: height 0.2s;
    opacity: 1;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.movietext {
    color: white;
    font-family: "Comic Sans MS", cursive, sans-serif;
    position: absolute;
    width: 100%;
    max-height: 120%;
    text-align: center;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.options {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 40px;
    width: 100%;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    background: linear-gradient(rgba(23, 32, 42, 0.8), rgba(255, 255, 255, 0.2));
    transition: height 0.2s;
    opacity: 1;
}

.options a {
    color: white;
}

.cart-icon {
    color: white;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 15%;
    transform: translate(-15%, -50%);
    -ms-transform: translate(-15%, -50%);
}

.favorite-icon {
    color: white;
    text-align: center;
    position: absolute;
    top: 50%;
    right: 15%;
    transform: translate(-15%, -50%);
    -ms-transform: translate(-15%, -50%);
}

.fa-play-circle:hover {
    color: #ffc107 !important;
}

.play-icon .btn-link:hover {
    color: #ffc107 !important;
    text-decoration: underline;
    background-color: transparent;
    border-color: transparent;
}

.not-active {
    pointer-events: none;
    cursor: default;
    text-decoration: none;
    color: #ffc107;
}

/* Large devices (laptops/desktops, 992px and up) */

@media only screen and (min-width: 992px) {
    .play {
        opacity: 0;
    }

    .moviename {
        opacity: 0;
        height: 0;
    }

    .options {
        opacity: 0;
        height: 0;
    }

    .swiper-slide:hover .play {
        opacity: 1;
    }

    .swiper-slide:hover .moviename {
        height: 44px;
        opacity: 1;
    }

    .swiper-slide:hover .options {
        height: 40px;
        opacity: 1;
    }

    .swiper-movies .swiper-slide:hover img {
        opacity: 0.8;
    }
}