html {
    position: relative;
    min-height: 100%;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: #eee;
    outline: none;
}

/* Home Page Loader */
.loader {
    position: fixed;
    z-index: 1040;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.loader > img {
    width: 440px;
}

.loader.hidden {
    animation: fadeOut 1s;
    animation-fill-mode: forwards;
}

@keyframes fadeOut {
    100% {
        opacity: 0;
        visibility: hidden;
    }
}

.flash-messages {
    position: fixed;
    top: 56px;
    width: 100%;
    text-align: center;
    border-radius: unset;
    z-index: 20;
}

/* Footer */
.footer-basic {
    min-width: 100%;
    bottom: 0;
    position: absolute;
    padding: 20px 0;
    background-color: #282C35 !important;
    color: #ffc107 !important;
}

.footer-basic ul {
    padding: 0;
    list-style: none;
    text-align: center;
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 0;
}

.footer-basic li {
    padding: 0 10px;
}

.footer-basic ul a {
    color: inherit;
    text-decoration: none;
    opacity: 0.8;
}

.footer-basic ul a:hover {
    opacity: 1;
}

.footer-basic .copyright {
    margin-top: 15px;
    text-align: center;
    font-size: 13px;
    color: #aaa;
    margin-bottom: 0;
}

hr {
    background-color: #eee;
}

.cart-hr {
    background-color: #ffc107;
}

.bg-dark-brown {
    background-color: #282C35 !important;
}

.text-dark-red {
    color: #c82121 !important;
}

.m-t-5rem {
    margin-top: 5rem;
}

.m-t-7rem {
    margin-top: 7rem;
}

.m-b-6rem {
    margin-bottom: 11rem
}

.heading-title {
    font-size: 1.4rem !important;
    font-weight: 300 !important;
    color: #ffc107 !important;
}

#image-profile {
    margin-bottom: 10px;
    border-radius: 50%;
    width: 26px;
    height: 26px;
}

.cart-movie-image {
    float: left;
    height: 110px;
    margin-right: 10px;
}

.languages {
    width: 24px;
    height: 18px;
    border: 1px solid black;
}

.badge {
    background-color: #fd0054;
    position: relative;
    top: -8px;
    left: -6px;
    transition: all 1s ease-in-out;
}

/* [ Swiper Carousel ] */
.swiper-carousel {
    margin-top: 56px;
    padding-top: 0;
    max-width: 100%;
    width: 100%;
    height: auto;
}

.swiper-button-prev, .swiper-button-next {
    outline: none;
}

.swiper-carousel .swiper-slide {
    background-position: center;
    background-size: cover;
}

.swiper-carousel .swiper-slide img {
    max-width: 100%;
    height: auto;
}

.swiper-carousel .swiper-pagination-bullet {
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    outline: none;
    font-size: 12px;
    color: #000;
    opacity: 1;
    background: rgba(255, 255, 255, 0.9);
}

.swiper-carousel .swiper-pagination-bullet-active {
    background: #ffc107;
}

/* [ Swiper Movies ] */
.swiper-movies {
    margin-top: 0;
    padding-top: 0;
    max-width: 100%;
    width: 100%;
    height: auto;
    background-color: transparent;
    border-radius: 4px;
}

.swiper-movies .swiper-slide {
    position: relative;
    background-position: center;
    background-size: cover;
}

.swiper-movies .swiper-slide img {
    width: 100%;
    height: 190px;
    border-radius: 4px;
}

.swiper-movies .swiper-pagination-bullet {
    width: 14px;
    height: 14px;
    text-align: center;
    line-height: 20px;
    font-size: 12px;
    outline: none;
    color: #000;
    opacity: 1;
    background: rgba(255, 255, 255, 0.9);
}

.swiper-movies .swiper-pagination-bullets-dynamic {
    position: relative;
}

.swiper-movies .swiper-pagination-bullet-active {
    background: #ffc107;
}

/* [ Background Image ] */
.header-overlay {
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    top: 0;
    left: 0;
    background: rgb(40, 40, 53);
    opacity: .85;
    z-index: -1;
}

.background-image {
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: -2;
}

/* [ FullScreen Movie Search ] */
.search {
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 50px;
    z-index: 120;
    background: rgba(40, 44, 53, 0.8) !important;
    transition: .5s;
}

.search.active {
    width: 100vw;
    height: 100vh;
}

.movie-search-form {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -25%);
    width: 90%;
    display: none;
}

.search.active .movie-search-form {
    display: block;
}

.form-inline {
    width: 30%;
    min-width: 350px;
}

/* [ Login and Register Form ] */
.form-control-auth, .form-control-auth:focus {
    background-color: rgba(40, 44, 53, 0.5);
    color: #eee;
}

.input-group-text-auth {
    border-color: #ffc107
}

.custom-checkbox .custom-control-label::before {
    background-color: #eee;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
    background-color: #ffc107;
}

.custom-checkbox .custom-control-input:indeterminate ~ .custom-control-label::before {
    background-color: #ffc107;
}

.sign-up {
    margin-top: 1rem;
    text-align: center;
    color: #fff;
}

.sign-up a {
    color: #ffc107 !important;
}

.sign-up span {
    font-style: italic;
    margin-right: .5rem;
}

.retrieve-password {
    margin-top: .5rem;
    text-align: right;
}

.retrieve-password a {
    font-style: italic;
    color: #ffc107 !important;
}

/* Google reCaptcha */
.google-reCaptcha {
    margin-bottom: 10px;
    -webkit-transform: scale(0.77);
    -moz-transform: scale(0.77);
    -ms-transform: scale(0.77);
    -o-transform: scale(0.77);
    transform: scale(0.77);
    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    transform-origin: 0 0;
}

/* Social Media Login */
.social-media-login {
    margin-top: 1rem;
}

.social-media-login .orLogin {
    text-align: center;
    overflow: hidden;
}

.social-media-login .orLogin::before, .social-media-login .orLogin::after {
    background-color: #ffc107;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 50%;
}

.social-media-login .orLogin::before {
    right: 0.5em;
    margin-left: -50%;
}

.social-media-login .orLogin::after {
    left: 0.5em;
    margin-right: -50%;
}

/*[ Modal ]*/
.modal-body {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
}

.modal-body iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* [ Autocomplete jQuery UI ] */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.poster-image {
    width: 70px;
    height: 90px;
    margin: auto;
}

.ui-autocomplete {
    max-height: 270px;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 1080;
}

.ui-menu .ui-menu-item {
    background: rgba(40, 44, 53, 0.8) !important;
    border-bottom: 1px solid white;
}

.ui-menu .ui-menu-item:last-child {
    border: none;
}

.ui-menu .ui-menu-item a {
    margin-left: 10px;
    color: white;
}

.ui-menu .ui-menu-item a.ui-state-hover,
.ui-menu .ui-menu-item a.ui-state-active {
    background: transparent;
    outline: none;
    border: none;
    text-decoration: none;
    color: #ffc107 !important;
}

.ui-menu .ui-menu-item img.ui-state-hover,
.ui-menu .ui-menu-item img.ui-state-active {
    background: transparent;
    outline: none;
    padding: 0;
    border: none;
    margin: auto;
}

.ui-helper-hidden-accessible {
    display: none;
}

/* [ Snackbar notifications ] */
.snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #ffc107;
    color: black;
    text-align: left;
    border-radius: 2px;
    padding: 10px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
}

.snackbar span {
    margin-left: 10px;
}

.snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

.snackbar-image {
    width: 40px;
    height: 60px;
    border-radius: 2px;
}

@-webkit-keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }
    to {
        bottom: 30px;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }
    to {
        bottom: 30px;
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }
    to {
        bottom: 0;
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }
    to {
        bottom: 0;
        opacity: 0;
    }
}

/* Payment gateway */
label[for="amount"] {
    display: block;
    color: black;
    line-height: 1.2;
}

.payment-amount:disabled {
    color: black;
    background-color: #fafafa;
    border: 1px solid #b5b5b5;
    padding: 12px 10px;
    height: 57px;
}

/* Invoices Table */
.table td, .table th {
    vertical-align: middle;
}

tbody tr {
    height: 42px;
}

.rounded.img-fluid.shadow-sm.image-detail {
    width: 50px;
}

.table-image {
    width: 20%;
}

tbody {
    font-size: 13px;
}

.clickable-row:hover {
    cursor: pointer;
    transform: scaleX(1.03);
    transition: all 0.3s ease-in-out;
}

.table-footer {
    font-size: 14px;
}

.table-footer span:first-child {
    padding-left: 4px;
}

.table-footer span:last-child {
    position: absolute;
    right: 0;
    padding-right: 24px;
}

/* User Profile */
.profile-header {
    position: relative;
    min-height: 400px;
    background-size: cover;
    background: url(https://d1sjecyzvhtrj9.cloudfront.net/images/tfg-movieshd-background.jpg) center top;
}

.heading-profile {
    font-size: 2rem;
}

.mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all .15s ease;
}

.opacity-8 {
    opacity: .9 !important;
}

.bg-gradient-default {
    background: linear-gradient(#282C35 100%, #313538 0) !important;
}

[class*=shadow] {
    transition: all .15s ease;
}

.card-profile-image {
    position: relative;
}

.card-profile-image img {
    position: absolute;
    left: 50%;
    width: 140px;
    height: 140px;
    transition: all .15s ease;
    transform: translate(-50%, -30%);
    border-radius: .375rem;
}

.card-profile-image img, .shadow {
    box-shadow: 0 0 2rem 0 rgba(136, 152, 170, .15) !important;
}

.card-profile-image img:hover {
    transform: translate(-50%, -33%);
}

img {
    vertical-align: middle;
    border-style: none;
}

.rounded-circle {
    border-radius: 50% !important;
}

.card-profile-stats {
    padding: 1rem 0;
}

.card-profile-stats > div {
    margin-right: 1rem;
    padding: .875rem;
    text-align: center;
}

.card-profile-stats > div:last-child {
    margin-right: 0;
}

.card-profile-stats > div .heading {
    font-size: .9rem;
    font-weight: bold;
    display: block;
    color: #adb5bd;
}

.card-profile-stats > div .description {
    font-size: .875rem;
    color: #ffc107 !important
}

.card-profile-stats > div .description:hover {
    color: #e0a800 !important
}

.heading-small {
    font-size: .75rem;
    padding-top: .25rem;
    padding-bottom: .25rem;
    letter-spacing: .04em;
    text-transform: uppercase;
}

.p-t-8rem {
    padding-top: 8rem !important;
}

.m-t--6rem {
    margin-top: -6rem !important;
}

.user-information-button, .user-password-button, .contact-information-button {
    display: none;
}

/* Pagination */
.pagination-disabled {
    opacity: .5;
}

.movies-pagination {
    font-size: .8rem;
}

.movies-pagination .pagination > li {
    margin-left: 2px;
    margin-right: 2px;
}

.movies-pagination .pagination > li > a:hover {
    background: #ffc107 !important;
    color: black;
}

.movies-pagination .pagination > li > a,
.movies-pagination .pagination > li > span {
    background: right;
    color: #ffc107;
    border: 1px solid #ffc107;
}

.movies-pagination .pagination > li.active > a,
.movies-pagination .pagination > li.active > span {
    background: #ffc107 !important;
    color: black;
    border: 1px solid #ffc107;
}

/* FAQs */
.accordion .icon {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    padding: 1rem 3rem 1rem 0;
    color: #ffc107;
    border-bottom: 1px solid #e5e5e5;
    -webkit-transition: all 0.35s ease 0.15s;
    -o-transition: all 0.35s ease 0.15s;
    transition: all 0.35s ease 0.15s;
}

.accordion .icon:hover, .accordion .icon:hover::after {
    cursor: pointer;
}

.accordion .icon.active {
    color: #ffc107 !important;
    border-bottom: 1px solid #ffc107;
}

.icon::after {
    position: absolute;
    right: 1rem;
}

.accordion .icon::after {
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    content: '\f107';
    -webkit-transition: all 0.5s ease 0.15s;
    -o-transition: all 0.5s ease 0.15s;
    transition: all 0.5s ease 0.15s;
}

.accordion .icon.active::after {
    transform: rotate(180deg);
}

.accordion .content {
    opacity: 0;
    max-height: 0;
    padding: 0 1rem;
    border-bottom: 1px solid #e5e5e5;
    clear: both;
    overflow: hidden;
    -webkit-transition: all 0.35s ease 0.15s;
    -o-transition: all 0.35s ease 0.15s;
    transition: all 0.35s ease 0.15s;
}

.accordion .content p {
    font-size: 1rem;
    font-weight: 300;
}

.accordion .content.active {
    opacity: 1;
    padding: 1rem;
    max-height: 100%;
    -webkit-transition: all 0.35s ease 0.15s;
    -o-transition: all 0.35s ease 0.15s;
    transition: all 0.35s ease 0.15s;
}

.accordion .content .link {
    color: #ffc107 !important;
}

.content .figure img {
    width: 100px;
}

/* Info Pages */
.terms-content a, .policy-content a {
    color: #ffc107 !important;

}

.terms-content p, .terms-content div > h5, .policy-content .content-item {
    padding-left: 1rem;

}

/* plyr Player */
.plyr__control.plyr__tab-focus {
    box-shadow: 0 0 0 5px rgba(255, 193, 7, .5);
}

.plyr--audio .plyr__control.plyr__tab-focus, .plyr--audio .plyr__control:hover, .plyr--audio .plyr__control[aria-expanded=true] {
    background: #ffc107;
    color: #000000
}

.plyr--video .plyr__control.plyr__tab-focus, .plyr--video .plyr__control:hover, .plyr--video .plyr__control[aria-expanded=true] {
    background: #ffc107;
    color: #000000
}

.plyr__control--overlaid {
    background: rgba(255, 193, 7, .8);
}

.plyr__menu__container .plyr__control[role=menuitemradio][aria-checked=true]::before {
    background: #ffc107
}

.plyr__menu__container .plyr__control[role="menuitemradio"]::after {
    background: #000000;
}

.plyr--full-ui input[type=range] {
    color: #ffc107;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    .swiper-carousel {
        height: 240px;
    }

    .swiper-movies .swiper-slide img {
        height: 180px;
    }

    .movie-search-form {
        width: 70%;
    }

    tbody {
        font-size: 15px;
    }

    .table-footer {
        font-size: 17px;
    }

    .google-reCaptcha {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: 0 0;
        -moz-transform-origin: 0 0;
        -ms-transform-origin: 0 0;
        -o-transform-origin: 0 0;
        transform-origin: 0 0;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .swiper-carousel {
        height: 320px;
    }

    .swiper-movies .swiper-slide img {
        height: 200px;
    }

    .movie-search-form {
        width: 60%;
    }

    .rounded.img-fluid.shadow-sm.image-detail {
        width: 60px;
    }

    .table-image {
        width: 12%;
    }

    tbody {
        font-size: 17px;
    }

    .table-footer {
        font-size: 20px;
    }

    .heading-profile {
        font-size: 2.4rem;
    }

    .pb-md-4, .py-md-4 {
        padding-bottom: 1.5rem !important;
    }

    .footer-basic {
        padding: 30px 0;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .swiper-carousel {
        height: 400px;
    }

    .swiper-movies .swiper-slide img {
        height: 180px;
    }

    .movie-search-form {
        width: 50%;
    }

    .rounded.img-fluid.shadow-sm.image-detail {
        width: 50px;
    }

    .table-image {
        width: 10%;
    }

    .form-card {
        max-width: 70%;
    }

    .heading-title {
        font-size: 1.8rem !important;
    }

    .heading-profile {
        font-size: 2.6rem;
    }

    .card-profile-stats > div .heading {
        font-size: 1.1rem;
    }

    .card-profile-stats > div .description {
        font-size: 1.3rem;
    }

    .footer-basic {
        padding: 40px 0;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .swiper-carousel {
        height: 500px;
    }

    .swiper-movies .swiper-slide img {
        height: 200px;
    }

    .table-image {
        width: 8%;
    }

    .form-card {
        max-width: 60%;
    }

    .heading-profile {
        font-size: 2.8rem;
    }
}