<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layout/layout :: head(swiper=${false},firebaseUI=${false}, plyr=${false})">
</head>
<body>
<header th:replace="layout/layout :: header"></header>
<div th:replace="layout/layout :: background"></div>

<div class="container mx-auto m-t-5rem m-b-6rem">
    <div class="row mt-4 py-2">
        <div class="col-5 col-sm-3 col-md-2 mb-5">
            <div class="swiper-movies">
                <div class="swiper-slide">
                    <img src="" th:alt="${movie.title}"
                         th:src="@{${movie.posterImageURL}}"/>
                    <div class="options">
                        <div class="cart-icon">
                            <form th:action="@{/watch}" method="post"
                                  th:if="${session.moviesPurchases != null and session.moviesPurchases.contains(movie)}">
                                <input type="hidden" name="movieId" th:value="${movie.id}">
                                <button type="submit" class="btn btn-link text-warning" role="link">
                                    <i class="far fa-play-circle fa-lg"></i>
                                </button>
                            </form>
                            <a href="#" th:value="${movie.id}"
                               th:if="${session.moviesPurchases == null or !session.moviesPurchases.contains(movie)}"
                               th:classappend="${session.movies != null and session.movies.contains(movie)} ? 'not-active'"><i
                                    th:classappend="${session.movies != null and session.movies.contains(movie)} ? 'text-warning'"
                                    class="fas fa-cart-plus fa-lg"></i></a>
                        </div>
                        <div class="favorite-icon" sec:authorize="isAuthenticated()">
                            <a href="/favorite/add-movie" th:value="${movie.id}">
                                <i th:classappend="${session.favoriteMovies != null and session.favoriteMovies.contains(movie)} ? 'text-dark-red'"
                                   class="fas fa-heart fa-lg"></i></a>
                            <div class="spinner-border text-dark-red"
                                 style="display: none; width: 1rem; height: 1rem; border-width: 0.1rem"
                                 role="status">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-9 col-md-10">
            <h2 th:text="${movie.title}" class="d-inline-block mr-4"></h2>

            <!-- Button trigger modal -->
            <button type="button" class="btn btn-danger h2" data-toggle="modal" data-target="#modalMovieTrailer">
                <i class="fas fa-film"></i> <span th:text="#{text.movie.trailer}"></span>
            </button>
            <p th:text="${movie.description}"></p>
            <div>
                <div>
                    <span th:text="#{text.movie.cast}">Casting</span>
                    <label th:text="${movie.cast}" class="text-danger"></label>
                </div>
                <div>
                    <span th:text="#{text.movie.duration}">Duracion</span>
                    <label th:text="${movie.duration}" class="text-danger"></label>
                    <span th:text="#{text.movie.duration.minutes}" class="text-danger"></span>
                </div>
                <div>
                    <span th:text="#{text.movie.year}">Año</span>
                    <label th:text="${movie.year}" class="text-danger"></label>
                </div>
                <div>
                    <span th:text="#{text.movie.quality}">Quality</span>
                    <label th:text="${movie.quality}" class="text-danger"></label>
                </div>
                <div>
                    <span th:text="#{text.movie.price}">Price</span>
                    <label th:text="${movie.price} + ' €'" class="text-danger"></label>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modalMovieTrailer" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header bg-warning">
                <p class="modal-title h4 text-dark" th:text="${movie.title}"></p>
                <button type="button" class="close" id="closeModal">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <iframe src="" id="videoframe" th:src="@{'https://www.youtube.com/embed/'+${movie.trailer}}"
                        frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>
<footer th:replace="layout/layout :: footer"></footer>
<script th:src="@{/js/modal.js}"></script>
</body>
</html>