<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layout/layout :: head(swiper=${false},firebaseUI=${false}, plyr=${false})">
</head>
<body>
<header th:replace="layout/layout :: header"></header>
<div th:replace="layout/layout :: background"></div>

<div th:id="cart-detail" th:if="${session.movies != null and session.movies.size() > 0}"
     class="container m-t-7rem m-b-6rem">
    <div class="row">
        <div class="col-lg-8">
            <div class="card border-warning" style="background: rgba(40, 44, 53, 0.8) !important;">
                <div th:text="#{text.cart.detail.heading}" class="card-header text-center text-warning">Cesta de la
                    compra
                </div>
                <div class="card-body">
                    <div class="row">
                        <div th:id="'line_' + ${movie.id}" th:each="movie : ${session.movies}" class="col-12">
                            <div class="media">
                                <a th:href="@{'/movie/' + ${movie.id}}"><img src="" th:alt="${movie.title}"
                                                                             class="cart-movie-image rounded mr-3"
                                                                             th:src="@{${movie.posterImageURL}}"/>
                                </a>
                                <div class="media-body">
                                    <h4 th:text="${movie.title}" class="mt-0">Media heading</h4>
                                    <div>
                                        <div>
                                            <span th:text="#{text.movie.year}">Año</span>
                                            <label th:text="${movie.year}" class="text-danger"></label>
                                        </div>
                                        <div>
                                            <span th:text="#{text.movie.quality}">Quality</span>
                                            <label th:text="${movie.quality}" class="text-danger"></label>
                                        </div>
                                        <div>
                                            <span th:text="#{text.movie.price}">Price</span>
                                            <label th:text="${movie.price} + ' €'" class="text-danger"></label>
                                        </div>
                                        <button th:text="#{text.cart.movie.delete }" th:id="'movie_' + ${movie.id}"
                                                th:value="${movie.id}" class="btn btn-danger btn-sm">Eliminar
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <hr class="cart-hr">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div th:id="payment-detail" class="col-lg-4">
            <div class="card border-warning" style="background: rgba(40, 44, 53, 0.8) !important;">
                <div class="card-header text-center text-warning">
                    <span th:text="#{text.cart.detail.total}"></span> <span id="payment-price"
                                                                            th:text="${totalPrice}"></span>
                </div>
                <form th:action="@{/checkouts}" class="card-body">
                    <button th:text="#{text.cart.detail.empty}" th:id="empty-cart"
                            class="btn btn-warning btn-sm btn-block">Vaciar la cesta
                    </button>
                    <button th:text="#{text.cart.detail.finish.order}" sec:authorize="hasRole('ROLE_ADMIN')"
                            type="submit"
                            class="btn btn-warning btn-sm btn-block">Terminar pedido
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
<div th:id="cart-container" class="container" th:if="${session.movies == null or session.movies.size() == 0}">
    <div class="card border-warning m-t-7rem" style="background: rgba(40, 44, 53, 0.8) !important;">
        <div th:text="#{text.cart.detail.heading}" class="card-header text-center text-warning">Cesta de la compra</div>
        <div class="card-body text-center">
            <p th:text="#{text.cart.detail.is.empty}" class="font-italic">La cesta está vacía</p>
        </div>
    </div>
</div>

<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>