<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head(swiper=${false},firebaseUI=${false}, plyr=${false})">
</head>
<body>
<header th:replace="layout/layout :: header"></header>
<div th:replace="layout/layout :: background"></div>

<div class="container mx-auto m-t-7rem m-b-6rem">
    <div class="card bg-danger text-white">
        <div class="card-header" th:if="${statusCode != null}">
            <span th:text="#{text.page.error.title}"></span> <span th:text="${statusCode}"></span>
        </div>
        <div class="card-body">
            <h5 class="card-title" th:if="${errorMessage != null}" th:text="${errorMessage}">Sorry, something
                happens.</h5>
            <a th:href="@{/}" th:text="#{text.page.home.button}" class="btn btn-outline-light" role="button">Ir a
                inicio</a>
        </div>
    </div>
</div>

<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>