<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layout/layout :: head(swiper=${true},firebaseUI=${false}, plyr=${false})">
</head>
<body>
<div th:replace="layout/layout :: loader"></div>
<header th:replace="layout/layout :: header"></header>
<div th:replace="layout/layout :: background"></div>
<!-- Slider Carousel -->
<div class="swiper-container swiper-carousel">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
        <!-- Slides -->
        <div th:each="movie : ${carouselMovies}" class="swiper-slide">
            <a th:href="@{'/movie/'+${movie.id}}">
                <img src="" th:alt="${movie.title}"
                     th:src="@{${movie.backgroundImageURL}}"/>
            </a>
        </div>
    </div>
    <!-- If we need pagination -->
    <div class="swiper-pagination"></div>
    <!-- If we need navigation buttons -->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
    <!-- If we need scrollbar -->
    <div class="swiper-scrollbar"></div>
</div>
<!-- Slider Movies Most Watched -->
<div class="container my-4">
    <button class="btn btn-danger btn-sm" type="button" disabled>
        <span th:text="#{text.index.body.movies.viewed}"></span>
        <i class="far fa-eye"></i>
    </button>
    <a th:href="@{/movies/views/all}" th:text="#{text.index.body.movies.show.all}" class="btn btn-danger btn-sm"
       style="float: right;" role="button">
        Ver todo
    </a>
    <hr>
    <div class="swiper-container swiper-movies">
        <div class="swiper-wrapper">
            <div th:each="movie : ${mostWatchedMovies}" class="swiper-slide">
                <img src="" th:alt="${movie.title}"
                     th:src="@{${movie.posterImageURL}}"/>
                <div class="moviename">
                    <div th:text="${movie.title}" class="movietext">Movie title</div>
                </div>
                <div class="play">
                    <div class="play-icon">
                        <a th:href="@{'/movie/'+${movie.id}}"><i class="far fa-play-circle fa-4x"></i></a>
                    </div>
                </div>
                <div class="options">
                    <div class="cart-icon">
                        <form th:action="@{/watch}" method="post"
                              th:if="${session.moviesPurchases != null and session.moviesPurchases.contains(movie)}">
                            <input type="hidden" name="movieId" th:value="${movie.id}">
                            <button type="submit" class="btn btn-link text-warning" role="link">
                                <i class="far fa-play-circle"></i>
                            </button>
                        </form>
                        <a href="#" th:value="${movie.id}"
                           th:if="${session.moviesPurchases == null or !session.moviesPurchases.contains(movie)}"
                           th:classappend="${session.movies != null and session.movies.contains(movie)} ? 'not-active'"><i
                                th:classappend="${session.movies != null and session.movies.contains(movie)} ? 'text-warning'"
                                class="fas fa-cart-plus"></i></a>
                    </div>
                    <div class="favorite-icon" sec:authorize="isAuthenticated()">
                        <a href="/favorite/add-movie" th:value="${movie.id}">
                            <i th:classappend="${session.favoriteMovies != null and session.favoriteMovies.contains(movie)} ? 'text-dark-red'"
                               class="fas fa-heart"></i></a>
                        <div class="spinner-border text-dark-red"
                             style="display: none; width: 1rem; height: 1rem; border-width: 0.1rem"
                             role="status">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>
    </div>
</div>
<!-- Slider Movies Most Purchased -->
<div class="container my-4">
    <button class="btn btn-danger btn-sm" type="button" disabled>
        <span th:text="#{text.index.body.movies.purchased}"></span>
        <i class="far fa-money-bill-alt"></i>
    </button>
    <a th:href="@{/movies/purchases/all}" th:text="#{text.index.body.movies.show.all}" class="btn btn-danger btn-sm"
       style="float: right;" role="button">
        Ver todo
    </a>
    <hr>
    <div class="swiper-container swiper-movies">
        <div class="swiper-wrapper">
            <div th:each="movie : ${mostPurchasedMovies}" class="swiper-slide">
                <img src="" th:alt="${movie.title}"
                     th:src="@{${movie.posterImageURL}}"/>
                <div class="moviename">
                    <div th:text="${movie.title}" class="movietext">Movie title</div>
                </div>
                <div class="play">
                    <div class="play-icon">
                        <a th:href="@{'/movie/'+${movie.id}}"><i class="far fa-play-circle fa-4x"></i></a>
                    </div>
                </div>
                <div class="options">
                    <div class="cart-icon">
                        <form th:action="@{/watch}" method="post"
                              th:if="${session.moviesPurchases != null and session.moviesPurchases.contains(movie)}">
                            <input type="hidden" name="movieId" th:value="${movie.id}">
                            <button type="submit" class="btn btn-link text-warning" role="link">
                                <i class="far fa-play-circle"></i>
                            </button>
                        </form>
                        <a href="#" th:value="${movie.id}"
                           th:if="${session.moviesPurchases == null or !session.moviesPurchases.contains(movie)}"
                           th:classappend="${session.movies != null and session.movies.contains(movie)} ? 'not-active'"><i
                                th:classappend="${session.movies != null and session.movies.contains(movie)} ? 'text-warning'"
                                class="fas fa-cart-plus"></i></a>
                    </div>
                    <div class="favorite-icon" sec:authorize="isAuthenticated()">
                        <a href="/favorite/add-movie" th:value="${movie.id}">
                            <i th:classappend="${session.favoriteMovies != null and session.favoriteMovies.contains(movie)} ? 'text-dark-red'"
                               class="fas fa-heart"></i></a>
                        <div class="spinner-border text-dark-red"
                             style="display: none; width: 1rem; height: 1rem; border-width: 0.1rem"
                             role="status">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>
    </div>
</div>
<!-- Slider Movies Most Favorites -->
<div class="container mt-4 m-b-6rem">
    <button class="btn btn-danger btn-sm" type="button" disabled>
        <span th:text="#{text.index.body.movies.favorites}"></span>
        <i class="far fa-heart"></i>
    </button>
    <a th:href="@{/movies/favorites/all}" th:text="#{text.index.body.movies.show.all}" class="btn btn-danger btn-sm"
       style="float: right;" role="button">
        Ver todo
    </a>
    <hr>
    <div class="swiper-container swiper-movies">
        <div class="swiper-wrapper">
            <div th:each="movie : ${mostFavoriteMovies}" class="swiper-slide">
                <img src="" th:alt="${movie.title}"
                     th:src="@{${movie.posterImageURL}}"/>
                <div class="moviename">
                    <div th:text="${movie.title}" class="movietext">Movie title</div>
                </div>
                <div class="play">
                    <div class="play-icon">
                        <a th:href="@{'/movie/'+${movie.id}}"><i class="far fa-play-circle fa-4x"></i></a>
                    </div>
                </div>
                <div class="options">
                    <div class="cart-icon">
                        <form th:action="@{/watch}" method="post"
                              th:if="${session.moviesPurchases != null and session.moviesPurchases.contains(movie)}">
                            <input type="hidden" name="movieId" th:value="${movie.id}">
                            <button type="submit" class="btn btn-link text-warning" role="link">
                                <i class="far fa-play-circle"></i>
                            </button>
                        </form>
                        <a href="#" th:value="${movie.id}"
                           th:if="${session.moviesPurchases == null or !session.moviesPurchases.contains(movie)}"
                           th:classappend="${session.movies != null and session.movies.contains(movie)} ? 'not-active'"><i
                                th:classappend="${session.movies != null and session.movies.contains(movie)} ? 'text-warning'"
                                class="fas fa-cart-plus"></i></a>
                    </div>
                    <div class="favorite-icon" sec:authorize="isAuthenticated()">
                        <a href="/favorite/add-movie" th:value="${movie.id}">
                            <i th:classappend="${session.favoriteMovies != null and session.favoriteMovies.contains(movie)} ? 'text-dark-red'"
                               class="fas fa-heart"></i></a>
                        <div class="spinner-border text-dark-red"
                             style="display: none; width: 1rem; height: 1rem; border-width: 0.1rem"
                             role="status">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>
    </div>
</div>
<footer th:replace="layout/layout :: footer"></footer>
<!-- Swiper -->
<script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.4.1/js/swiper.min.js}"></script>
<script th:src="@{/js/swiper.js}"></script>
<script>
    window.addEventListener('load', function () {
        const loader = document.querySelector('.loader').className += ' hidden';
    })
</script>
</body>
</html>