<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head(swiper=${false},firebaseUI=${true}, plyr=${false})"></head>
<body>
<header th:replace="layout/layout :: header"></header>
<div th:replace="layout/layout :: background"></div>

<div class="container form-card m-t-7rem m-b-6rem">
    <div class="card border-warning text-white" style="background: rgba(40, 44, 53, 0.8) !important;">
        <div th:text="#{text.form.login.title}" class="card-header text-center text-warning">Login</div>
        <div class="card-body">
            <div class="row justify-content-md-center">
                <div class="col">
                    <!-- Login Form -->
                    <form th:action="@{/login}" method="post" class="needs-validation active mt-4" novalidate>
                        <div class="form-row">
                            <div class="col-md-6 mb-3">
                                <label th:text="#{text.form.email}" class="text-warning"
                                       for="validationCustomUsernameLogin">Email</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text input-group-text-auth bg-warning">@</span>
                                    </div>
                                    <input type="email" class="form-control form-control-auth" name="username"
                                           id="validationCustomUsernameLogin"
                                           th:placeholder="#{text.form.email}" aria-describedby="inputGroupPrepend"
                                           required>
                                    <div th:text="#{text.form.email.invalid}" class="invalid-feedback">
                                        Por favor, elija un correo electrónico.
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label th:text="#{text.form.password}" class="text-warning"
                                       for="validationCustomPasswordLogin">Contraseña</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text input-group-text-auth bg-warning"><i
                                                class="fas fa-key"></i></span>
                                    </div>
                                    <input type="password" class="form-control form-control-auth" name="password"
                                           id="validationCustomPasswordLogin" th:placeholder="#{text.form.password}"
                                           aria-describedby="inputGroupPrepend" required>
                                    <div th:text="#{text.form.password.invalid}" class="invalid-feedback">
                                        Por favor, elija una contraseña.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <button th:text="#{text.form.login.submit}" class="btn btn-warning btn-block btn-sm"
                                    type="submit">Acceder
                            </button>
                        </div>
                        <div class="retrieve-password">
                            <a th:text="#{text.form.login.forgot.password}" th:href="@{/jwt/send-email}">He olvidado mi
                                contraseña</a>
                        </div>
                    </form>
                    <!-- End Login Form -->

                    <div class="social-media-login">
                        <p th:text="#{text.form.login.or.with}" class="orLogin">Or Log in with</p>
                        <div id="firebaseui-auth-container"></div>
                        <div class="d-flex justify-content-center">
                            <div id="firebaseui-loader" class="spinner-border text-primary"
                                 style="width: 3rem; height: 3rem;"
                                 role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                        </div>
                        <div class="d-flex justify-content-center">
                            <div id="ajax-loader" class="spinner-border text-warning"
                                 style="display: none; width: 3rem; height: 3rem;"
                                 role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                        </div>
                    </div>
                    <div class="sign-up">
                        <span th:text="#{text.form.login.singup.question}">You still do not have an account?</span><a
                            th:text="#{text.form.login.singup}" th:href="@{/register}">SIGN UP!</a>
                        <span id="locale-language" th:text="${#locale.language}" class="d-none">EN</span>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<footer th:replace="layout/layout :: footer"></footer>
<script th:src="@{/js/formValidation.js}"></script>
<!-- FirebaseUI for Web -->
<script id="firebase-ui"></script>
<script th:src="@{/js/firebase.js}"></script>
</body>
</html>