<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head(swiper=${false},firebaseUI=${false}, plyr=${false})"></head>
<body>
<header th:replace="layout/layout :: header"></header>
<div th:replace="layout/layout :: background"></div>

<div class="container form-card m-t-7rem m-b-6rem">
    <div class="card border-warning text-white" style="background: rgba(40, 44, 53, 0.8) !important;">
        <div th:text="#{text.form.registration.title}" class="card-header text-center text-warning">Register</div>
        <div class="card-body">
            <div class="row justify-content-md-center">
                <div class="col">
                    <!-- Register Form-->
                    <form th:action="@{/register}" th:object="${userDTO}" method="post" id="reCaptcha-form"
                          class="needs-validation mt-4"
                          novalidate>
                        <div class="form-row">
                            <div class="col-md-6 mb-3">
                                <label th:text="#{text.form.firstname}" class="text-warning"
                                       for="validationCustomUserNameRegister">Nombre</label>
                                <input th:field="*{name}" class="form-control form-control-auth" name="name"
                                       id="validationCustomUserNameRegister" th:placeholder="#{text.form.firstname}"
                                       required>
                                <small class="form-text text-danger" th:if="${#fields.hasErrors('name')}"
                                       th:errors="*{name}"></small>
                                <div th:text="#{text.form.field.valid}" class="valid-feedback">
                                    ¡Se ve bien!
                                </div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label th:text="#{text.form.lastname}" class="text-warning"
                                       for="validationCustomLastNameRegister">Apellidos</label>
                                <input th:field="*{lastName}" class="form-control form-control-auth" name="lastname"
                                       id="validationCustomLastNameRegister" th:placeholder="#{text.form.lastname}"
                                       required>
                                <small class="form-text text-danger" th:if="${#fields.hasErrors('lastName')}"
                                       th:errors="*{lastName}"></small>
                                <div th:text="#{text.form.field.valid}" class="valid-feedback">
                                    ¡Se ve bien!
                                </div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label th:text="#{text.form.email}" class="text-warning"
                                       for="validationCustomEmailRegister">Email</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text input-group-text-auth bg-warning">@</span>
                                    </div>
                                    <input type="email" th:field="*{email}" class="form-control form-control-auth"
                                           name="email"
                                           id="validationCustomEmailRegister" th:placeholder="#{text.form.email}"
                                           aria-describedby="inputGroupPrepend" required>

                                    <div th:text="#{text.form.email.invalid}" class="invalid-feedback">
                                        Por favor, elija un correo electrónico.
                                    </div>
                                </div>
                                <small class="form-text text-danger" th:if="${#fields.hasErrors('email')}"
                                       th:errors="*{email}"></small>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label th:text="#{text.form.password}" class="text-warning"
                                       for="validationCustomPasswordRegister">Contraseña</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text input-group-text-auth bg-warning"><i
                                                class="fas fa-key"></i></span>
                                    </div>
                                    <input type="password" th:field="*{password}" class="form-control form-control-auth"
                                           name="password" id="validationCustomPasswordRegister"
                                           th:placeholder="#{text.form.password}" aria-describedby="inputGroupPrepend"
                                           required>
                                    <div th:text="#{text.form.password.invalid}" class="invalid-feedback">
                                        Por favor, elija una contraseña.
                                    </div>
                                </div>
                                <small class="form-text text-danger" th:if="${#fields.hasErrors('password')}"
                                       th:errors="*{password}"></small>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="custom-control custom-checkbox my-1 mr-sm-2">
                                <input class="custom-control-input" type="checkbox" id="invalidCheck" required>
                                <label class="custom-control-label text-warning" for="invalidCheck">
                                    <a th:text="#{text.form.registration.accept.terms}" th:href="@{/info/terms}"
                                       class="text-warning" target="_blank">Acepta los términos
                                        y condiciones</a>
                                </label>
                                <div th:text="#{text.form.registration.accept.terms.invalid}" class="invalid-feedback">
                                    Debes aceptar antes de enviar.
                                </div>
                            </div>
                        </div>
                        <div th:id="reCaptcha" class="google-reCaptcha"></div>
                        <button th:text="#{text.form.registration.submit.button}"
                                class="btn btn-warning btn-block btn-sm">
                            Registarse
                        </button>
                    </form>
                    <!-- End Register Form-->

                    <div class="sign-up">
                        <span th:text="#{text.form.registration.login.question}">Already have an account?</span><a
                            th:text="#{text.form.registration.login}" th:href="@{/login}">LOG IN!</a>
                        <span id="locale-language" th:text="${#locale.language}" class="d-none">EN</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer th:replace="layout/layout :: footer"></footer>
<script th:src="@{/js/formValidation.js}"></script>

<!--Google reCaptcha-->
<script id="reCaptcha-api"></script>
<script th:src="@{/js/google_reCaptcha.js}"></script>
</body>
</html>