<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head(swiper=${false},firebaseUI=${false}, plyr=${false})">
</head>
<body>
<header th:replace="layout/layout :: header"></header>
<div th:replace="layout/layout :: background"></div>

<div class="container m-t-5rem m-b-6rem">
    <h2 class="heading-title text-center pb-4">Contacto</h2>
    <div class="row">
        <div class="col-12 col-lg-6">
            <div class="card border-warning mb-4" style="background: rgba(40, 44, 53, 0.8) !important;">
                <div class="card-body">
                    <h5 class="card-title text-center">Datos de contacto</h5>
                    <section class="card-text">
                        <p>
                            <i class="fas fa-envelope text-warning mr-3"></i>
                            <a th:href="@{mailto:moviehdtfg@gmail.com}"
                               style="color: #eee">moviehdtfg@gmail.com</a>
                        </p>
                        <div class="media">
                            <p><i class="fas fa-phone text-warning mr-3 "></i>
                            <div class="media-body">
                                <ul>
                                    <li>+34 123456789</li>
                                    <li>Lunes - Viernes de 10:00 - 22:00</li>
                                    <li>Sábado - Domingo de 12:00 - 20:00</li>
                                </ul>
                            </div>
                        </div>
                    </section>
                    <section class="card-text mt-3">
                        <p>
                            Para cualquier pregunta, por favor contacta con el servicio de Atención al Cliente a través
                            de <span class="font-weight-bolder">moviehdtfg@gmail.com</span>
                        </p>
                    </section>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-6">
            <iframe width="100%" height="450" frameborder="0" style="border:1px solid #ffc107; border-radius: .25rem;"
                    src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJ75BvWtSVQAwRhAC-u5pRR9w&key=AIzaSyDpgsjaXEHgZV6PsIXuQU5og9J2CvQ9yH0"
                    allowfullscreen></iframe>
        </div>
    </div>
</div>

<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>