<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head(swiper=${false},firebaseUI=${false}, plyr=${false})">
</head>
<body>
<header th:replace="layout/layout :: header"></header>
<div th:replace="layout/layout :: background"></div>

<div class="container text-justify m-t-5rem m-b-6rem">
    <h2 class="heading-title text-center">Política de datos personales</h2>

    <div class="policy-content">
        <p>
            MOVIES-HD es el responsable del tratamiento de los datos personales tratados en
            el marco de la presente Política de datos personales y, como tal, debe garantizar que el tratamiento sea
            conforme a la legislación aplicable.
        </p>
        <p>
            Mediante el registro de una cuenta de usuario, el usuario (<span class="font-weight-bolder">«usted»</span> o
            <span class="font-weight-bolder">«Usuario»</span>) reconoce el tratamiento de
            sus datos personales por parte de MOVIES-HD de acuerdo con las disposiciones siguientes.
        </p>
        <p>
            Teniendo en cuenta que esta política de datos personales (<span class="font-weight-bolder">«Política de datos personales»</span>)
            constituye una parte inseparable de los Términos y Condiciones de uso y que las definiciones establecidas en
            aquellos rigen la interpretación de la Política de datos personales, le rogamos que lea los Términos y
            Condiciones de uso antes de leer la Política de datos personales.
            <a th:href="@{/info/terms}" target="_blank">Haga clic aquí para acceder a las Condiciones de uso.</a>
        </p>
    </div>
    <div class="policy-content">
        <h5>Resumen</h5>
        <p class="content-item">
            A continuación, se resume el tratamiento que reciben sus datos personales. Encontrará información más
            detallada después de este resumen.
        </p>
        <p class="content-item">
            <span class="font-weight-bolder">Necesitamos utilizar datos personales para poder prestarle el Servicio</span>.
            Esto significa que usted no puede oponerse a que tratemos la totalidad de sus datos personales y siga
            exigiéndonos que prestemos el Servicio. Sin embargo, tiene derecho a oponerse a determinados usos de sus
            datos personales, por ejemplo, si el uso en cuestión no resulta imprescindible para que podamos prestarle
            nuestro Servicio, sino que solo es necesario, por ejemplo, para enviarle publicidad por correo electrónico.
        </p>
        <p class="content-item">
            <span class="font-weight-bolder">En calidad de interesado, usted también tiene una serie de derechos</span>
            que le permitirán conocer mejor e influir sobre el tratamiento de sus datos personales por parte de
            MOVIES-HD. Estos derechos incluyen un derecho a acceder a los datos personales que MOVIES-HD conserva sobre
            usted, a solicitar que corrijamos datos incorrectos, a solicitar que suprimamos datos personales y el
            derecho a presentar una reclamación ante las autoridades de control si tiene algún problema con el uso de
            sus datos personales por parte de MOVIES-HD.
        </p>
        <p class="content-item">
            Los datos personales que tratamos corresponden a la información que usted nos ha facilitado al registrar una
            cuenta en MOVIES-HD. También tratamos datos personales que usted pueda habernos proporcionado de otro modo
            al contactar con MOVIES-HD (por ejemplo, durante una llamada telefónica al servicio de atención al cliente),
            así como información que nos pudiera haber facilitado al participar en una encuesta.
        </p>
        <p class="content-item">
            Una de las finalidades del tratamiento de datos personales es la posibilidad de prestarle el Servicio a
            través de nuestro Sitio Web y el cumplimiento de nuestras obligaciones legales. Por ejemplo:
        </p>
        <ol type="1">
            <li>
                utilizamos su correo electrónico y contraseña para que usted pueda iniciar sesión en su cuenta y
                utilizar el servicio de streaming que ofrece MOVIES-HD.
            </li>
            <li>
                utilizamos los datos de sus reproducciones, por ejemplo, para almacenar una estadística de las películas
                más vistas.
            </li>
        </ol>
        <p class="content-item">
            <span class="font-weight-bolder">Si tiene alguna pregunta</span> sobre cómo MOVIES-HD utiliza y protege sus
            datos personales, no dude en ponerse en contacto con el delegado de protección de datos de MOVIES-HD.
        </p>
    </div>

    <div class="policy-content">
        <p>A continuación, encontrará una descripción más detallada de cómo utilizamos los datos personales.</p>
        <h5>1. ¿Qué entidad es responsable del tratamiento de sus datos personales?</h5>
        <p class="content-item">
            MOVIES-HD es el responsable del tratamiento de los datos personales tratados en el marco de la presente
            Política de datos personales. Podrá encontrar nuestros datos de contacto pulsando <a
                th:href="@{/info/contact}" target="_blank">aquí.</a>
        </p>
    </div>
    <div class="policy-content">
        <h5>2. ¿Qué significa «datos personales» y «tratamiento de datos personales»?</h5>
        <p class="content-item">
            El término <span class="font-weight-bolder">«datos personales»</span> tal como se utiliza en esta Política
            de datos personales se refiere a cualquier dato que, por sí solo o junto con otros datos, se puede utilizar
            para identificar a una persona viva, así como cualquier otro dato que pueda considerarse dato personal de
            acuerdo con el Derecho aplicable a MOVIES-HD, incluido el Reglamento general de protección de datos (el
            <span class="font-weight-bolder">«RGPD»</span>).
        </p>
        <p class="content-item">
            La presente Política de datos personales cubre todos los datos personales que de cualquier modo se
            consideren <span class="font-weight-bolder">tratados</span> en virtud de la ley aplicable en relación con
            usted en calidad de Usuario, incluidos los datos personales recogidos, conservados, almacenados,
            transferidos, comunicados o de otro modo utilizados
            por MOVIES-HD.
        </p>
    </div>
    <div class="policy-content">
        <h5>3. ¿Qué datos personales son objeto de tratamiento y con qué fines?</h5>
        <p class="content-item">
            MOVIES-HD solo recogerá y tratará los datos personales relativos a usted según se expone en la presente
            Política de datos personales y se detalla en mayor medida en la «Descripción del tratamiento de datos» de la
            cláusula 12.
        </p>
    </div>
    <div class="policy-content">
        <h5>4. ¿Cómo se protegen sus datos personales?</h5>
        <p class="content-item">
            MOVIES-HD aplica medidas técnicas y organizativas apropiadas para proteger sus datos personales y garantizar
            así que sólo personas autorizadas puedan acceder a ellos. MOVIES-HD utiliza sistemas técnicos de seguridad,
            como cortafuegos, tecnologías de cifrado, contraseñas y programas antivirus, para prevenir y evitar usos no
            autorizados de datos personales.
        </p>
    </div>
    <div class="policy-content">
        <h5>5. ¿Durante cuánto tiempo se conservan sus datos personales?</h5>
        <p class="content-item">
            MOVIES-HD no conservará ni tratará sus datos personales más tiempo del necesario para cumplir los objetivos
            del tratamiento establecidos en esta Política de datos personales o conforme a cualquier ley imperativa,
            según se detalla en la «Descripción del tratamiento de datos» de la cláusula 12.
        </p>
    </div>
    <div class="policy-content">
        <h5>6. ¿Con quién compartimos datos personales?</h5>
        <div class="content-item">
            <p>Empresas del grupo MOVIES-HD</p>
            <p>
                Sus datos personales se pueden comunicar a otras empresas del grupo MOVIES-HD cuando la comunicación de
                estos datos sea necesaria para satisfacer los intereses de MOVIES-HD y del grupo MOVIES-HD,
                concretamente, para gestionar el negocio a nivel de grupo y lograr economías de escala y con otros fines
                internos de carácter administrativo.
            </p>
            <p>Empresas contratadas por MOVIES-HD</p>
            <p>
                Sus datos personales serán transferidos a y tratados por terceros proveedores que prestan servicios para
                MOVIES-HD, tanto en calidad de encargados del tratamiento como responsables del tratamiento de datos,
                tales como PayPal, para permitir que estas empresas presten los servicios solicitados por MOVIES-HD.
                Estas empresas podrán estar localizadas dentro y fuera de la UE. Los servicios solicitados serán, entre
                otros, el suministro de infraestructuras y servicios TI, la prestación de servicios de asistencia al
                cliente, el tratamiento de estudios de mercado, la gestión de envíos a través de correo electrónico, la
                gestión del marketing digital, la realización de análisis estadísticos y elaboración de perfiles, y el
                tratamiento de las operaciones efectuadas con tarjetas de crédito o débito y otros datos de pago.
            </p>
            <p>
                A las empresas que contratemos solo se les facilitarán los datos personales que sean necesarios para
                cumplir los objetivos que se detallan en la «Descripción del tratamiento de datos» de la cláusula 12.
                Todos los terceros proveedores deben, cuando actúen como encargados del tratamiento, seguir las
                instrucciones de MOVIES-HD y actuar conforme a los acuerdos escritos aplicables a los encargados del
                tratamiento de datos u otros acuerdos en vigor entre MOVIES-HD y sus terceros proveedores, y deben
                asimismo aplicar las medidas técnicas y organizativas apropiadas para proteger los datos personales.
            </p>
        </div>
        <div class="content-item">
            <p>Autoridades</p>
            <p>
                Puede suceder que MOVIES-HD deba facilitar datos personales a determinadas autoridades (p. ej.
                autoridades fiscales o policiales) conforme a la ley imperativa y con el fin de cumplir obligaciones
                legales en cada jurisdicción donde MOVIES-HD cuenta con Usuarios. En caso de violación de la seguridad
                de los datos, es probable que determinados datos personales deban facilitarse a autoridades de
                protección de datos.
            </p>
        </div>
    </div>
    <div class="policy-content">
        <h5>7. ¿A qué países se transferirán sus datos personales?</h5>
        <p class="content-item">
            Sus datos personales se transferirán a empresas situadas en otros países tanto fuera como dentro de la UE
            que hemos contratado para, entre otras cosas, poderle prestar nuestro Servicio. Puede que algunos países de
            fuera de la UE no garanticen el mismo nivel de protección de los datos personales que su país. En estos
            casos, MOVIES-HD se asegurará de que las partes destinatarias en dichos países protejan adecuadamente los
            datos personales.
        </p>
    </div>
    <div class="policy-content">
        <h5>8. ¿Cuáles son sus derechos en materia de datos personales?</h5>
        <div class="content-item">
            <p>Derechos de acceso y rectificación</p>
            <p>
                Tiene derecho a obtener información sobre qué datos personales trata MOVIES-HD sobre usted, la fuente de
                los datos, con qué fines se han utilizado los datos, y la identidad de las partes a quienes se han
                facilitado los datos.
            </p>
            <p>
                Asimismo, tiene derecho a solicitar, en cualquier momento, la corrección de datos personales inexactos o
                incompletos.
            </p>
        </div>
        <div class="content-item">
            <p>Derecho de supresión («el derecho al olvido»)</p>
            <p>
                Puede solicitar en determinadas circunstancias que se supriman sus datos personales si, por ejemplo,
                usted se ha dado de baja en el Servicio, los datos personales ya no son necesarios en relación con los
                fines para los que fueron recogidos o si no existe un motivo legal que justifique su tratamiento
                continuado.
            </p>
        </div>
        <div class="content-item">
            <p>Derecho de oposición</p>
            <p>
                Tiene derecho a oponerse a que datos los personales que le conciernan sean objeto de un tratamiento
                basado en nuestro interés legítimo relacionado con su situación particular. Si presenta una objeción, y
                el tratamiento se basa en un interés legítimo, dejaremos de tratar sus datos personales salvo que
                acreditemos motivos legítimos imperiosos para el tratamiento que prevalezcan sobre su derecho de
                privacidad.
            </p>
            <p>
                No obstante, recuerde que aun cuando usted se oponga a un determinado tratamiento, MOVIES-HD podrá
                conservar dicho tratamiento si se basa en otro fundamento jurídico, como pueden ser la prestación del
                Servicio (si desea seguir recibiéndolo) o el cumplimiento de obligaciones legales.
            </p>
        </div>
        <div class="content-item">
            <p>Derecho a la limitación del tratamiento</p>
            <p>
                Puede solicitar la limitación del tratamiento de sus datos personales cuando los datos personales puedan
                no ser correctos, si considera que el tratamiento es ilícito, si MOVIES-HD basa su tratamiento en un
                interés legítimo o si usted cree que MOVIES-HD ya no necesita los datos personales para los fines
                establecidos en la «Descripción del tratamiento de datos» de la cláusula 12.
            </p>
        </div>
    </div>
    <div class="policy-content">
        <h5>9. ¿Cómo utilizar sus derechos?</h5>
        <p class="content-item">
            Puede ejercer algunos de sus derechos, por ejemplo, una vez iniciada la sesión, puede rectificar algunos
            de sus datos.
        </p>
        <p class="content-item">
            Asimismo, puede ponerse en contacto con nosotros por teléfono o correo electrónico si quiere ejercitar sus
            derechos.
        </p>
    </div>
    <div class="policy-content">
        <h5>10. ¿Qué debe hacer si desea presentar una reclamación?</h5>
        <p class="content-item">
            Si tiene una reclamación relativa a cómo utilizamos sus datos personales, o si desea obtener más
            información, contacte en primer lugar con nuestro delegado de protección de datos utilizando los datos de
            contacto detallados anteriormente. Pero también puede presentar una reclamación relativa a cómo tratamos sus
            datos personales ante la autoridad pública de control pertinente, concretamente ante la autoridad de su país
            de residencia, de su trabajo o donde se ha producido la supuesta infracción.
        </p>
    </div>
    <div class="policy-content">
        <h5>11. Actualizaciones</h5>
        <p class="content-item">
            MOVIES-HD puede modificar en cualquier momento la presente Política de datos personales. Si MOVIES-HD desea
            utilizar datos personales de un modo distinto a lo estipulado en la Política de datos personales en vigor en
            el momento de la recogida de los datos, deberá notificar estas modificaciones a los interesados de un modo
            visible (p. ej. puede publicar la notificación en el sitio web de MOVIES-HD o enviarla por correo
            electrónico).
        </p>
    </div>
    <div class="policy-content">
        <h5>12. Descripción del tratamiento de datos</h5>
        <p class="content-item">
            La siguiente Descripción del tratamiento de datos describe las categorías de datos personales recogidos y
            tratados por MOVIES-HD en relación con sus Usuarios, así como los fines del tratamiento de cada categoría de
            datos.
        </p>
        <p class="content-item">
            Los términos siguientes se utilizan en la descripción y puede que requieran una explicación:
        </p>
        <p class="content-item">
            - <span class="font-weight-bolder">Fundamento jurídico:</span> según la legislación aplicable en materia de
            protección de datos, solo se podrán tratar datos personales cuando exista un fundamento jurídicamente válido
            que sustente el tratamiento. MOVIES-HD basa su tratamiento en los fundamentos jurídicos siguientes según lo
            expuesto en la descripción:
        </p>
        <p class="content-item">
            o <span class="font-weight-bolder">Cumplimiento de un Acuerdo:</span> se requiere el tratamiento de datos
            personales para que MOVIES-HD pueda cumplir el Acuerdo formalizado con un Usuario, por ejemplo, para
            permitir que el Usuario acceda a su cuenta, utilice el Servicio y reciba ayuda del servicio de atención al
            cliente de MOVIES-HD.
        </p>
        <p class="content-item">
            o <span class="font-weight-bolder">Interés legítimo:</span> el tratamiento se basa en un interés legítimo
            que MOVIES-HD tiene en el tratamiento, por ejemplo, permitir que MOVIES-HD envíe boletines informativos a
            los Usuarios. Uno de los requisitos es que este interés legítimo debe prevalecer sobre los intereses o los
            derechos y libertades fundamentales de los Usuarios, y los Usuarios tienen derecho a oponerse.
        </p>
        <p class="content-item">
            o <span class="font-weight-bolder">Obligación legal:</span> el tratamiento es necesario para que MOVIES-HD
            cumpla con obligaciones legales aplicables a MOVIES-HD, por ejemplo, datos financieros que se deben
            conservar a efectos contables.
        </p>
        <p class="content-item">
            - <span class="font-weight-bolder">Criterios o tiempo de retención:</span> MOVIES-HD especifica durante
            cuánto tiempo se utilizarán los datos del Usuario con diferentes fines. Cuando no quede ningún fin legal,
            todos los datos personales serán anonimizados para impedir la identificación de los Usuarios.
        </p>
        <div class="content-item">
            <h5 class="font-weight-bolder">Categorías de datos personales</h5>
            <p>MOVIES-HD trata las siguientes categorías de datos personales:</p>
            <p>
                <span class="font-weight-bolder">C1 Datos de identificación</span> − esto es, nombre, apellidos,
                identificadores de la cuenta de proveedor, códigos promocionales, contraseña Fuente: directamente del
                Usuario cuando se registra o a través de socios de MOVIES-HD.
            </p>
            <p>
                <span class="font-weight-bolder">C2 Datos de contacto </span> − esto es, dirección de correo
                electrónico. Fuente: directamente del Usuario cuando se registra o contacta con el servicio de atención
                al cliente de MOVIES-HD.
            </p>
            <p>
                <span class="font-weight-bolder">C3 Datos de pago </span> − esto es, información de la tarjeta de
                crédito o débito e historial de pagos e identificador de cuenta de proveedor. Fuente: directamente del
                Usuario cuando se registra o de los proveedores de servicios de pago y, en cuanto al historial de pagos
                y los identificadores de cuenta de proveedor, de forma continuada a medida que se efectúan los pagos.
            </p>
            <p>
                <span class="font-weight-bolder">C4 Información de uso </span> − esto es historial de reproducciones,
                selección de títulos, términos de búsqueda (solo alojados de forma local en el Usuario). Fuente: datos
                recogidos en base al uso del Servicio por parte del Usuario.
            </p>
            <p>
                <span class="font-weight-bolder">C5 Registros de correspondencia con el servicio de atención al cliente </span>
                − esto es, grabaciones de llamadas realizadas a servicios de atención al cliente, transcripciones de
                correos electrónicos. Fuente: la correspondencia con el servicio de atención al cliente.
            </p>
            <p>
                <span class="font-weight-bolder">C6 Respuestas de encuestas </span>
                − esto es, las respuestas de los Usuarios a encuestas que pasamos a los Usuarios, cuyas respuestas
                pueden incluir información personal Fuente: directamente de los Usuarios que deciden participar en
                encuestas.
            </p>
        </div>
        <div class="content-item">
            <h5 class="font-weight-bolder">Finalidades del tratamiento</h5>
            <p>MOVIES-HD trata las categorías de Datos Personales anteriores para las siguientes finalidades:</p>
            <div>
                <h6 class="font-weight-bolder">P1 Prestación del Servicio</h6>
                <p>
                    <span style="text-decoration: underline">Descripción</span>
                    - Permitir que MOVIES-HD administre la cuenta del Usuario y preste el servicio de suscripción a sus
                    Usuarios, incluido el cumplimiento de los términos y condiciones aplicables.
                </p>
                <p>
                    <span style="text-decoration: underline">Fundamento jurídico</span>
                    - Cumplimiento de un Acuerdo.
                </p>
                <p>
                    <span style="text-decoration: underline">Categorías tratadas</span>
                    - C1, C2, C4.
                </p>
            </div>
            <div>
                <h6 class="font-weight-bolder">P2 Facturación</h6>
                <p>
                    <span style="text-decoration: underline">Descripción</span>
                    - Poder cobrar al Usuario por la compra de películas.
                </p>
                <p>
                    <span style="text-decoration: underline">Fundamento jurídico</span>
                    - Cumplimiento de un Acuerdo.
                </p>
                <p>
                    <span style="text-decoration: underline">Categorías tratadas</span>
                    - C3.
                </p>
            </div>
            <div>
                <h6 class="font-weight-bolder">P3 Atención al cliente</h6>
                <p>
                    <span style="text-decoration: underline">Descripción</span>
                    - Permitir que MOVIES-HD, y sus proveedores cuando corresponda, presten un servicio de atención al
                    cliente a sus Usuarios bajo petición (p. ej. si un Usuario contacta con MOVIES-HD), incluida la
                    resolución de problemas.
                </p>
                <p>
                    <span style="text-decoration: underline">Fundamento jurídico</span>
                    - Cumplimiento de un Acuerdo.
                </p>
                <p>
                    <span style="text-decoration: underline">Categorías tratadas</span>
                    - C1, C2, C3, C4.
                </p>
            </div>
            <div>
                <h6 class="font-weight-bolder">P4 Comunicación con usuarios</h6>
                <p>
                    <span style="text-decoration: underline">Descripción</span>
                    - Poder enviar al Usuario información relevante relacionada con la cuenta, p. ej. correo
                    electrónico de bienvenida, actualizaciones de servicios y similares.
                </p>
                <p>
                    <span style="text-decoration: underline">Fundamento jurídico</span>
                    - Cumplimiento de un Acuerdo.
                </p>
                <p>
                    <span style="text-decoration: underline">Categorías tratadas</span>
                    - C2, C3.
                </p>
            </div>
            <div>
                <h6 class="font-weight-bolder">P5 Cumplimiento de obligaciones legales</h6>
                <p>
                    <span style="text-decoration: underline">Descripción</span>
                    - Permitir que MOVIES-HD cumpla con obligaciones legales aplicables a MOVIES-HD, incluidos los
                    requisitos legales en materia contable y la respuesta a solicitudes de autoridades.
                </p>
                <p>
                    <span style="text-decoration: underline">Fundamento jurídico</span>
                    - Obligación legal.
                </p>
                <p>
                    <span style="text-decoration: underline">Categorías tratadas</span>
                    - C1, C2, C3.
                </p>
            </div>
            <div>
                <h6 class="font-weight-bolder">P6 Encuestas</h6>
                <p>
                    <span style="text-decoration: underline">Descripción</span>
                    - Poder enviar encuestas a los Usuarios, quienes pueden decidir participar de forma voluntaria. Las
                    respuestas a las encuentras se usan para mejorar el Servicio.
                </p>
                <p>
                    <span style="text-decoration: underline">Fundamento jurídico</span>
                    - Interés legítimo.
                </p>
                <p>
                    <span style="text-decoration: underline">Categorías tratadas</span>
                    - C2, C6.
                </p>
            </div>
            <div>
                <h6 class="font-weight-bolder">P7 Prevención del fraude</h6>
                <p>
                    <span style="text-decoration: underline">Descripción</span>
                    - Permitir que MOVIES-HD evite reclamaciones fraudulentas presentadas por Usuarios en relación con
                    los pagos, y poder defender a MOVIES-HD de estas reclamaciones.
                </p>
                <p>
                    <span style="text-decoration: underline">Fundamento jurídico</span>
                    - Interés legítimo.
                </p>
                <p>
                    <span style="text-decoration: underline">Categorías tratadas</span>
                    - C3.
                </p>
            </div>
        </div>
    </div>
</div>

<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>