<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head(swiper=${false},firebaseUI=${false}, plyr=${false})">
</head>
<body>
<header th:replace="layout/layout :: header"></header>
<div th:replace="layout/layout :: background"></div>

<div class="container text-justify m-t-5rem m-b-6rem">
    <h2 class="heading-title text-center">Términos y Condiciones</h2>

    <div class="terms-content">
        <h5>1 Generalidades</h5>
        <p>
            1.1 MOVIES-HD ofrece un servicio en línea basado en la ventas de películas en formato digital a través de
            <a th:href="@{/}" target="_blank">www.movies-hd.cf</a>
        </p>
        <p>
            1.2 Estos términos y condiciones de uso (en lo sucesivo los <span class="font-weight-bolder">“Términos y condiciones de uso”</span>)
            son aplicables a la relación entre MOVIES-HD y una persona física (en lo sucesivo, el <span
                class="font-weight-bolder">“Usuario”</span>) que o bien se registra únicamente para obtener una cuenta
            de MOVIES-HD o que se registra para obtener una cuenta de MOVIES-HD y además comprar las películas y obtener
            acceso al contenido de forma continua.
        </p>
        <p>
            1.3 Estos Términos y Condiciones de uso y la <a th:href="@{/info/policy}" target="_blank">Política de datos
            personales</a> de MOVIES-HD (en lo sucesivo
            denominados conjuntamente los <span
                class="font-weight-bolder">“Términos y Condiciones Generales de uso”</span>) son vinculantes para
            MOVIES-HD y el Usuario. Los términos y condiciones particulares (incluidas las ofertas especiales) relativos
            a los precios, las condiciones y métodos de pago, etc.... que MOVIES-HD pueda ofrecer en cada momento (los
            <span class="font-weight-bolder">“Términos y Condiciones Particulares”</span>) también se aplicarán de forma
            conjunta al perfeccionarse por parte
            del Usuario un acuerdo con MOVIES-HD.
        </p>
    </div>
    <div class="terms-content">
        <h5>2 Ámbito del Servicio</h5>
        <div>
            <h5>Territorio</h5>
            <p>
                2.1 Todos los usuarios de cualquier parte del mundo podrán hacer uso de este servicio.
            </p>
        </div>
        <div>
            <h5>Contenido</h5>
            <p>
                2.2 El Usuario tiene acceso al contenido proporcionado en las Plataformas en cada momento una vez
                adquirida la compra del mismo, y tras la aceptación del Acuerdo.
            </p>
        </div>
    </div>
    <div class="terms-content">
        <h5>3 Uso del Servicio</h5>
        <p>
            Para poder utilizar el Servicio, el Usuario debe: (a) crear una cuenta de usuario en el Sitio Web, según
            lo dispuesto en la cláusula 4, (b) tener acceso a determinados equipos, sistemas y conexiones de conformidad
            con el Acuerdo y según lo dispuesto en la cláusula 5. Además, se han implementado ciertas medidas de
            seguridad técnicas para evitar el uso no autorizado del Servicio, como la copia, y la distribución del
            contenido proporcionado en el Servicio.
        </p>
    </div>
    <div class="terms-content">
        <h5>4 Registro, nombre de usuario y contraseña</h5>
        <p>
            4.1 El registro de una cuenta de usuario puede tener lugar en el Sitio Web o a través de otros servicios y
            redes sociales que MOVIES-HD considere oportunos en cada momento. Junto con el registro a través de otros
            servicios y medios sociales, podría obtenerse información del Usuario procedente de dichos servicios o redes
            sociales para crear la cuenta del Usuario en MOVIES-HD.
        </p>
        <p>
            4.2 El Usuario será responsable de garantizar que la información que facilite en el momento del registro sea
            correcta, incluida la información obtenida de otros servicios y redes sociales y, en caso necesario, el
            Usuario actualizará su cuenta de usuario con información correcta.
        </p>
        <p>
            4.3 Al registrarse, el Usuario deberá proporcionar un nombre de usuario y una contraseña (en lo sucesivo los
            <span class="font-weight-bolder">“Datos de acceso”</span>). Los Datos de acceso del Usuario son de uso
            personal y no pueden ser utilizados por terceros. El Usuario conservará los Datos de acceso protegidos
            contra el acceso no autorizado. El Usuario es responsable de todo uso del Servicio que tenga lugar a través
            de su cuenta.
        </p>
        <p>
            4.4 Si el Usuario sospecha que se ha producido un uso no autorizado de sus Datos de acceso, éste deberá
            cambiar inmediatamente su contraseña. En el caso de que MOVIES-HD tenga razones para creer que los Datos de
            acceso han sido revelados o están siendo utilizados indebidamente de cualquier otra manera por cualquier
            persona no autorizada, MOVIES-HD tendrá derecho a suspender inmediatamente el acceso al Servicio.
        </p>
        <P>
            4.5 MOVIES-HD tendrá derecho en cualquier momento a solicitar que el Usuario cambie su contraseña y tendrá
            derecho a suspender el acceso al Servicio hasta que la contraseña haya sido cambiada. Los cambios se
            realizarán con prontitud.
        </P>
    </div>

    <div class="terms-content">
        <h5>5 Equipo, etc...</h5>
        <p>
            5.1 Para poder utilizar el Servicio, el Usuario debe poseer los sistemas, conexiones y equipos necesarios y
            aprobados.
        </p>
        <p>
            5.2 Los requisitos de los sistemas son especificados por MOVIES-HD en el Sitio Web o por otros medios. No
            obstante, el cumplimiento de los requisitos del sistema no garantiza que el Usuario pueda utilizar el
            Servicio.
        </p>
        <p>
            5.3 El Servicio requiere que el Usuario tenga acceso a la conexión a Internet que resulte necesaria. El
            Usuario es responsable de todos los gastos asociados con dicha conexión, incluidos los gastos de tráfico de
            datos, independientemente de la zona del Territorio.
        </p>
        <p>
            5.4 MOVIES-HD no se hace responsable de que el Usuario no utilice el Servicio o de que el acceso al mismo se
            vea limitado debido a una sobrecarga en Internet o debido a fallos o problemas relacionados con ordenadores
            u otros dispositivos, redes, aparatos electrónicos o sistemas de comunicación.
        </p>
    </div>

    <div class="terms-content">
        <h5>6 Tarifas y forma de pago</h5>
        <p>
            6.1 Los pagos por el Contenido se efectuarán de acuerdo con la información sobre precios disponible en cada
            momento en el Sitio Web.
        </p>
        <p>
            6.2 El Usuario podrá efectuar el pago de la tarifa a través de cualquiera de los Métodos de pago ofrecidos
            por MOVIES-HD en el Sitio Web.
        </p>
    </div>

    <div class="terms-content">
        <h5>7 Uso del Servicio</h5>
        <p>
            El Usuario sólo podrá utilizar el Servicio para su propio uso y de conformidad con el presente Acuerdo.
            El Usuario no puede hacer (incluyendo alentar, facilitar o hacer que cualquier otra parte haga) lo
            siguiente:
        </p>
        <ol type="a">
            <li>
                utilizar el Servicio con fines comerciales o públicos.
            </li>

            <li>
                usar el Servicio para cualquier fin ilegal.
            </li>
            <li>
                copiar/reproducir, prestar, vender, difundir, distribuir, editar o transferir de cualquier otra manera
                el contenido del Servicio.
            </li>
            <li>
                eludir, modificar, eliminar, alterar o manipular de alguna otra manera cualquier seguridad, cifrado
                u otra tecnología o software que forme parte del Servicio.
            </li>
            <li>
                de cualquier otro modo usar el Servicio vulnerando las leyes sobre derechos de autor u otras leyes.
            </li>
        </ol>

    </div>

    <div class="terms-content">
        <h5>8 Menores</h5>
        <p>
            8.1 El Servicio puede contener material considerado inadecuado para menores y que puede ser percibido por
            otros como obsceno o perturbador.
        </p>
        <p>
            8.2 El Servicio no está destinado a ser utilizado por niños sin la intervención, supervisión y
            consentimiento de los padres o tutores. Los padres o tutores que permitan que los niños utilicen el Servicio
            serán los únicos responsables de determinar si el contenido del Servicio es adecuado para dicho niño.
        </p>
    </div>

    <div class="terms-content">
        <h5>9 Redes sociales</h5>
        <p>
            En el caso de que el Usuario utilice las redes sociales en vinculación con el Servicio, el Usuario no
            podrá utilizar las redes sociales de un modo que pueda ser considerado ofensivo, perturbador, acosador,
            obsceno, discriminatorio o en general inadecuado o ilegal.
        </p>
    </div>

    <div class="terms-content">
        <h5>10 Información a los clientes</h5>
        <p>
            MOVIES-HD puede enviar notificaciones al Usuario por correo electrónico, mensaje de texto, correo
            postal, factura o publicación en el Sitio Web.
        </p>
    </div>

    <div class="terms-content">
        <h5>11 Derechos de propiedad intelectual</h5>
        <p>
            Por medio del presente Acuerdo con MOVIES-HD, MOVIES-HD concede al Usuario una licencia exclusiva,
            intransferible e ilimitada para acceder al contenido del Servicio. El Usuario sólo podrá utilizar el
            Servicio y su contenido de conformidad con el Acuerdo.
        </p>
    </div>

    <div class="terms-content">
        <h5>12 Seguridad</h5>
        <p>
            12.1 El Usuario no actuará de ninguna manera que pueda causar que el Servicio o las Plataformas dejen de
            funcionar como resultado de estar sobrecargadas, dañadas o deterioradas. Además, el Usuario no podrá invadir
            o interferir el servicio de otro Usuario.
        </p>
        <p>
            12.2 El Usuario no podrá intentar obtener acceso no autorizado a redes, sistemas informáticos, contenidos o
            información relacionados con las Plataformas o el Servicio.
        </p>
    </div>

    <div class="terms-content">
        <h5>13 Limitación de responsabilidad, interrupciones y cortes del Servicio</h5>
        <p>
            13.1 Las interrupciones, cortes y otras averías en el Servicio deberán ser notificadas a MOVIES-HD tan
            pronto como sea posible para que el Usuario tenga derecho a cualquier compensación de acuerdo con la
            cláusula 13.2.
        </p>
        <p>
            13.2 MOVIES-HD será responsable únicamente por las interrupciones, cortes y otras averías que sean
            atribuibles a circunstancias bajo el control de MOVIES-HD por las cuales MOVIES-HD es responsable y que no
            estén comprendidas en la cláusula 13.1.
        </p>
    </div>

    <div class="terms-content">
        <h5>14 Obligación de indemnizar</h5>
        <p>
            El Usuario acepta indemnizar y eximir de responsabilidad a MOVIES-HD, sus filiales, empleados, miembros
            de la junta directiva y licenciadores por cualquier pérdida, gasto o demanda que surja como resultado de, o
            en conjunción con, el incumplimiento del Acuerdo por parte del Usuario, el incumplimiento por parte del
            Usuario de las leyes aplicables o la violación por parte del Usuario de los derechos de terceros.
        </p>
    </div>

    <div class="terms-content">
        <h5>15 Enlaces de las Plataformas</h5>
        <p>
            Las Plataformas pueden incluir enlaces a otros sitios web proporcionados por terceros. MOVIES-HD no
            tiene control alguno sobre dichos enlaces ni sobre el contenido de dichos sitios web, ni asume
            responsabilidad alguna por los mismos. El uso de dichos sitios web por parte del Usuario será bajo su propio
            riesgo.
        </p>
    </div>
</div>

<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>